<div class="wide">
    <div class="input-row">
        <%= f.label(:version, "Version", class: "input-label") %>
        <%= f.collection_select(:version, LivingBuilding.all, :id, :version, { :include_blank => true }, { :class => "custom-select" } ) %>
    </div>
    <div class="input-row">
        <%= f.label(:numerical_order, "Order", class: "input-label") %>
        <%= f.text_field :numerical_order %>
    </div>
    <div class="input-row">
        <%= f.label(:name, "Name", class: "input-label") %>
        <%= f.text_field :name %>
    </div>
</div>