<% provide :title, "Admin" %>
<div class="page-header">
	<h1>Admin Panel</h1>
</div>

<h2>Users</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Users Index", users_path %></li>
    <li><%= link_to "Add New User", new_user_path %></li>
    <li><%= link_to "Data Records", data_records_path %></li>
    <li><%= link_to "Vacation Records", vacation_records_path %></li>
</ul>

<h2>Projects</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Services", services_path %></li>
    <li><%= link_to "Phases", phases_path %></li>
    <li><%= link_to "Tasks", tasks_path %></li>
    <li><%= link_to "Building Types", building_types_path %></li>
    <li><%= link_to "Billing Types", billing_types_path %></li>
    <li><%= link_to "Marketing", marketing_categories_path %></li>
</ul>

<h2>Contacts</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Import CSV", contacts_import_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
</ul>

<h2>Timesheets</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Globals", global_path(this_year) %></li>
    <li><%= link_to "Holidays", holidays_by_year_path(Date.today.year) %></li>
    <li><%= link_to "Vacations", all_vacations_path(this_year) %></li>
    <li><%= link_to "NB Categories", non_billable_categories_path %></li>
</ul>

<h2>Patterns</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Pattern Groups", pattern_groups_path %></li>
    <li><%= link_to "Key Ideas", keywords_path %></li>
    <li><%= link_to "Keyword Categories", key_categories_path %></li>
</ul>

<h2>Library</h2>
<ul class="tile-list small-tiles">
    <li><%= link_to "Subjects", subjects_path %></li>
</ul>

