<% provide(:title, 'Home') %>

<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><%= greeting %></h1>
        <br />
        <p> Time.zone <%= Time.zone %> </p>
        <p> Time.now <%= Time.now %> </p>
        <p> Time.now.utc <%= Time.now.utc %> </p>
        <p> Time.zone.now <%= Time.zone.now %>  </p>
        <p> Time.zone.today <%= Time.zone.today %> </p>

        <p>Welcome to the TKWA Database. It will eventually hold all our projects, contacts, timesheets, and tracking data!</p>
        <br />
        
        <p>
        	<%= link_to("View Projects", projects_path, class: "btn btn-primary btn-large") %>
        	<%= link_to("View Users", users_path, class: "btn btn-primary btn-large") %>
        	<%= link_to("View Messages", messages_path, class: "btn btn-primary btn-large") %>
        </p>

      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>

        </div>
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">

          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>


    </div> <!-- /container -->

