<% provide(:title, 'Home') %>

    <div class="demo-headline">
        <h1 class="demo-logo">
            <%= greeting %>
            <small>Welcome to the TKWA Database.</small>
        </h1>
    </div> <!-- /demo-headline -->

    <div class="row demo-tiles">

        <div class="span3">
            <div class="tile">
              <%= image_tag("icons/forecast.png", :alt => "projects", :class => "tile-image big-illustration") %>
                <h3 class="tile-title">Projects</h3>
                <p>Project billing, tracking, scheduling and reports.</p>
                <%= link_to "Go to Projects", projects_path, :class => "btn btn-primary btn-large btn-block" %>
            </div>
        </div>

        <div class="span3">
            <div class="tile">
                <%= image_tag("icons/Infinity-Loop@2x.png", :alt => "contacts", :class => "tile-image big-illustration") %>
                <h3 class="tile-title">Contacts</h3>
                <p>Clients, consultants, employees, and friends.</p>
                <%= link_to "Go to Contacts", contacts_path, :class => "btn btn-primary btn-large btn-block" %>
            </div>
        </div>

        <div class="span3">
            <div class="tile">
                <%= image_tag("icons/Watches@2x.png", :alt => "timesheets", :class => "tile-image big-illustration") %>
                <h3 class="tile-title">Timesheets</h3>
                <p>Employee time tracking and targets.</p>
                <% if signed_in? %>
                    <%= link_to "Go to Timesheets", "/employees/#{current_user.employee.id}/timesheets/#{this_year}/#{this_week}", :class => "btn btn-primary btn-large btn-block" %>
                <% else %>
                    <a class="btn btn-primary btn-large btn-block disabled">Go to Timesheets</a>
                <% end %>
            </div>
        </div>

        <div class="span3">
            <div class="tile">
                <%= image_tag("icons/Pensils@2x.png", :alt => "patterns", :class => "tile-image big-illustration") %>
                <h3 class="tile-title">Patterns</h3>
                <p>Database of pattern language for all our projects.</p>
                <%= link_to "Go to Patterns", patterns_path, :class => "btn btn-primary btn-large btn-block" %>
            </div>
        </div>

  </div> <!-- end tiles -->