<div class="header-span">
    <h3><%= @employee.name %></h3>
</div>

<%= form_for @employee do |f| %>
<% date = Date.today %>

	<table class="table forecast">
		<thead>
			<tr>
				<th></th>
				<% four_month_year_array(date).each do |w| %>
					<th><%= w %></th>
				<% end %>
			</tr>
			<tr>
				<th></th>
				<% four_month_monthname_array(date).each do |w| %>
					<th><%= w %></th>
				<% end %>
			</tr>
			<tr class="week">
				<th></th>
				<% four_month_weeknum_array(date).each do |w| %>
					<th <%= "class='current'" if w == this_week %>><%= w %></th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @employee.employee_teams.current.each do |t| %>
				<tr>
					<td><%= t.project_name %></td>
					<%= f.fields_for :plan_entries, @employee.employee_forecast(t.project_id, four_month_array(Date.today)) do |plan| %>
						<td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<% @employee.forecast_week_total(four_month_array(date)).each do |w| %>
					<td><%= w %></td>
				<% end %>
			</tr>
		</tfoot>

	</table>

	<div class="save-row">
		<%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
	</div>

<% end %>

				
 





