<% content_for :page_header do %>
	<% provide :title, "Employees Index" %>
	<div class="page-header">
		<h1>Employees Index</h1>
	</div>
<% end %>

<h4><%= this_year %> Employee Data</h4><br />
	<table class="table right-align">
		<thead>
			<tr>
				<th>#</th>
				<th class="left-align">Name</th>
				<th>Total Hours<br />Per Week</th>
				<th>Billable Hours<br />Per Week</th>
				<th>Comp Hours<br />Per Holiday</th>
				<th>Vacation Hours<br />Per Year</th>
				<th>Hourly Rate</th>
				<th>Billable Rate</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<% Contact.employee_list.each do |param| %>
				<tr>
					<td><%= param.employee.number %></td>
  					<td class="left-align"><%= link_to param.name, "/employees/#{param.employee.id}/data_records/#{this_year}", datatoggle: "modal" %></td>
					<% data = DataRecord.find_or_create_by_year_and_employee_id(this_year, param.employee.id) %>
	  					<td><%= data.week %></td>
	  					<td><%= data.billable %></td>
	  					<td><%= data.holiday %></td>
	  					<td><%= data.vacation %></td>
	  					<td><%= number_to_currency(data.rate) %></td>
	  					<td><%= number_to_currency(data.billable_rate) %></td>
	  					<td></td>
  				</tr>
  				
			<% end %>
		</tbody>
	</table>
