<% content_for :page_header do %>
  <% provide :title, "Timesheets" %>
  <div class="page-header">
    <h1><%= @contact.name %></h1>
  </div>
<% end %>

<%= form_for @employee do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <h3>Timesheets</h3>
      <div class="notes">
      Select project team members and their roles. Adding a TKWA staff member to the project enables time tracking.
    </div>    
          
    <div class="row"> 

    <div class="table-main shift-left">

        <div class="table-head">
          <div class="row">
            <div class="span2-5">Consultant Name</div>
            <div class="span2-5">Role(s)</div>
          </div>
        </div>

              <div class="table-body">
                <!-- nested form for timesheet -->
                <%= f.fields_for :employee_timesheets do |builder| %>
                    <%= render 'employee_timesheet_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "add timesheet", f, :employee_timesheets, "btn offset-left table-offset" %>
                <!-- end timesheetform -->
                </div>  
                    
          </div>
          
    </div> <!-- end row -->

    <br /><br />
        <div class="row">
      <div class="span12">
        <div class="actions">
            <%= f.submit "Save Changes", class: "btn btn-large btn-primary span3" %>
            <input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
        </div>
      </div>
    </div>
    
<% end %>



