<div class="single-row-checkboxes">
    <label class="checkbox">
        <%= f.check_box :defunct, data_toggle: "checkbox" %>
        Closed?
    </label>
    <% if @consultant.category == 3 || @consultant.category == 5 %>
        <label class="checkbox">
            <%= f.check_box :mbe, data_toggle: "checkbox" %>
            MBE?
        </label>
    <% end %>
</div>

<h2>Contact Information</h2>

<div class="wide">
    <div class="input-row">
        <%= f.label(:name, "Company Name", class: "input-label") %>
        <%= f.text_field :name, value: params[:name] %>
    </div>
    <div class="input-row">
        <%= f.label(:address, "Street Address", class: "input-label") %>
        <div id="street-primary" class="select-primary <%= 'selected' if f.object.primary == 'street' %>"></div>
        <%= f.text_area :address, class: "button-right", rows: "2" %>
        <button class="btn input-button" onclick="showMap('consultant_address'); return false;">map</button>
    </div>  
    <div class="input-row">
        <%= f.label(:po_box, "P.O. Box", class: "input-label") %>
        <div id="po-box-primary" class="select-primary <%= 'selected' if f.object.primary == 'po' %>"></div>
        <%= f.text_area :po_box, class: "button-right", rows: "2" %>
    </div> 
    <%= f.hidden_field :primary %>
    <div class="input-row">
        <%= f.label(:url, "Website", class: "input-label") %>
        <%= f.text_field :url, class: "button-right" %>
        <button class="btn input-button" onclick="openURL('consultant_url'); return false;">website</button>
    </div> 
</div>

<div class="narrow">

    <div class="input-row consultant-category">
        <%= f.label(:category, "Category", class: "input-label") %>
        <% if params[:action] == "new" %>
            <%= f.collection_select(:category, Category.consultant_list, :number, :name, { :selected => "#{params[:category] || 3}"}, { :class => "custom-select" } ) %>
        <% else %>
            <%= f.collection_select(:category, Category.consultant_list, :number, :name, { }, { :class => "custom-select" } ) %>
        <% end %>
    </div>

    <div class="input-row">
        <%= f.label(:phone, "Main Phone", class: "input-label") %>
        <%= f.text_field :phone, value: phone(@consultant.phone), class: "phone" %>
    </div>
    <div class="input-row">
        <%= f.label(:fax, "Fax", class: "input-label") %>
        <%= f.text_field :fax, value: phone(@consultant.fax), class: "phone" %>
    </div>

        

</div>




