<h2>Contact Information</h2>
<div class="wide margin-bottom">
    <div class="input-row">
        <%= f.label(:name, "Consultant Name", class: "input-label") %>
        <%= f.text_field :name %>
    </div>
    <div class="input-row">
        <%= f.label(:address, "Address", class: "input-label") %>
        <%= f.text_area :address, class: "button-right", rows: "3" %>
        <button class="btn input-button" onclick="showMap('consultant_address'); return false;">map</button>
    </div>   
    <div class="input-row">
        <%= f.label(:url, "Website", class: "input-label") %>
        <%= f.text_field :url, class: "button-right" %>
        <button class="btn input-button" onclick="openURL('consultant_url'); return false;">website</button>
    </div>  
</div>

<div class="narrow contact-phone margin-bottom">
    <div class="input-row">
        <%= f.label(:phone, "Main Phone", class: "input-label") %>
        <%= f.text_field :phone, value: phone(@consultant.phone), class: "phone" %>
    </div>
    <div class="input-row">
        <%= f.label(:fax, "Fax", class: "input-label") %>
        <%= f.text_field :fax, value: phone(@consultant.fax), class: "phone" %>
    </div>
</div>

<h2>Role(s) <%= link_to "edit roles", consultant_roles_path, class: "control-link-text" %></h2>

<div class="full consultants">
	<%= hidden_field_tag "consultant[consultant_role_ids][]", nil %>
	<% ConsultantRole.all.each do |consultant_role| %>
		<label class="checkbox">
				<%= check_box_tag "consultant[consultant_role_ids][]", consultant_role.id, @consultant.consultant_role_ids.include?(consultant_role.id), id: dom_id(consultant_role), data_toggle: "checkbox" %>
				<%= consultant_role.consultant_role_name %>
			</label>
	<% end %>
</div>