    <h2>Consultant Info</h2>
    <div class="wide">
        <div class="input-row">
            <%= f.label(:company, "Company Name", class: "input-label") %>
            <%= f.text_field :company %>
        </div>
        <div class="input-row">
            <%= f.label(:address, "Address", class: "input-label") %>
            <%= f.text_area :address, class: "", rows: "2" %>
        </div>   
        <div class="input-row">
            <%= f.label(:contact_email, "Contact Email", class: "input-label") %>
            <%= f.text_field :contact_email %>
        </div> 
    </div>
    <div class="narrow">
        <div class="input-row">
            <%= f.label(:phone, "Phone", class: "input-label" ) %>
            <%= f.text_field :phone %>
        </div>
    </div>
