<% provide :title, "Consultants" %>

<div class="page-header">
	<h1>Consultants</h1>
	<%= link_to "Add Consultant", new_consultant_path, class: "btn btn-primary btn-right" %>
</div>

<div class="gray-box consultants">

	<%= search_form_for @q do |f| %>

		<div class="status-options">
			<div><%= f.radio_button(:recommended_eq, "") %><label class="radio">All</label></div>
	        <div><%= f.radio_button(:recommended_eq, "yes") %><label class="radio">Recommended</label></div>
	        <div><%= f.radio_button(:recommended_eq, "no") %><label class="radio">Not Recommended</label></div>
	        <div><%= f.radio_button(:recommended_eq, "undecided") %><label class="radio">Undecided</label></div>
	        <div><%= f.radio_button(:recommended_eq, "defunct") %><label class="radio">Defunct</label></div>
		</div>

		<%= f.text_field :name_cont, class: "search-name consultant-name", placeholder: "Firm Name" %>   
		<%= f.collection_select(:consultant_roles_id_eq, ConsultantRole.all, :id, :consultant_role_name, { :include_blank => true, :prompt => 'Role' }, { :class => "custom-select consultant-role" } ) %>
		<%= f.submit "Search", class: "btn btn-primary search-btn consultants" %>
			     
	<% end %>

</div>

<% if @consultants.count == 0 %>
	<h2>Search Results</h2>
	<div class="search-results">
		No matches.<br><br><a href="/consultants/" class="btn">Clear search and try again.</a><br><br>
		<div class="line"></div>
	</div>
<% else %>

	<h2>Search Results (<%= @consultants.count %>) <a class="reset" href="/consultants">reset search</a></h2>

	<table class="table search-results consultants">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role(s)</th>
				<th>Recommended?</th>
				<th>Notes</th>
			</tr>
		</thead>
	    <tbody>
			<% @consultants.each do |param| %>
				<tr class="results-row">
	                <td class="bold"><%= link_to param.name, consultant_path(param.id) %></td>
	                <td><%= param.roles %></td>
	                <td><%= param.recommended %></td>
	                <td><%= param.notes %></td>
	            </tr>
	        <% end %>
	    </tbody>
	</table>
				
	<%= will_paginate @consultant %>

<% end %>
