<% content_for :page_header do %>
  <% provide :title, @consultant.company %>
  <div class="page-header">
    <h1><%= @consultant.company %></h1>
  </div>
<% end %>

<strong><%= @consultant.company %></strong><br />
<%= @consultant.address %><br />
<%= @consultant.phone %><br />
<%= @consultant.contact_email %><br />
<br />
<br />
<%= link_to "Edit", edit_consultant_path(@consultant), class: "btn" %><br />
<%= link_to "Index", consultants_path, class: "btn" %>