<% content_for :modal_header do %>
  <%= @user.name %><% if @employee_team.role? %>, <%= @employee_team.role %><% end %>
<% end %>

<%= form_for(@employee_team, html: { class: "form-inline" }) do |f| %>
    <div class="modal-body team-edit">
        <div class="phases">
            <% @project.available_phases.each do |phase| %>
                <div class="phase">
                    <div class="number"><%= phase.number %></div>
                    <div class="name"><%= phase.name %></div>
                </div>
            <% end %>
            <div class="phase">
                <div class="total">Total</div>
            </div>
        </div>
        <div class="phases">
            <% @project.available_phases.each do |phase| %>
                <div class="phase">
                    <%= f.text_field eval(":#{phase.shorthand}_hours"), { :onchange => "getEstHours();"} %>
                </div>
            <% end %>
            <div class="phase">
                <div class="total-hours"><%= @employee_team.est_total %></div>
            </div>
        </div>
    </div>
              
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
    </div>
          
<% end %>

