

<div class="header-span">
    <h3><%= @employee.name %><% if @employee_team.role? %>, <%= @employee_team.role %><% end %></h3>
</div>

<div class="body-span">

    <%= form_for(@employee_team, html: { class: "form-inline" }) do |f| %>

        <table class="modal-table">
          <tr>
              <% @project.available_phases.each do |phase| %>
                <th class="table-cell"><div class="number"><%= phase.number %></div><div class="blanch"><%= phase.name %></div></th>
              <% end %>
              <th class="table-cell"><div class="number"></div><div class="blanch">Total Hours</div></th>
          </tr>
          <tr>
              <% @project.available_phases.each do |phase| %>
                <td><%= f.text_field eval(":#{phase.shorthand}_hours"), { :onchange => "getEstHours();"} %></td>
              <% end %>
              <td class="modal-total"><%= @employee_team.est_total %></td>
          </tr>
      </table>
              
      
      <div class="actions">
          <%= f.submit "Save Changes", class: "btn" %>
      </div>

  <% end %>

</div>


<script>
function my_function() {
    $("#externalSite").dialog('destroy').remove();
}
</script>


