<div class="modal-header">
    
    <div class="row">
          <div class="span10 offset05">
              <a class="close" data-dismiss="modal">×</a>
              <h3><%= @employee.name %><% if @employee_team.role? %>, <%= @employee_team.role %><% end %></h3>
          </div>
    </div>
</div>

<div class="modal-body">

    <%= form_for(@employee_team, html: { class: "form-inline" }) do |f| %>

          <div class="row">

            <div class="span9 offset05">


                <br />

                <table class="modal-table">
                  <tr>
                      <% @project.available_phases.each do |phase| %>
                        <td><%= f.label(eval(":#{phase.shorthand}_hours"), phase.name) %></td>
                      <% end %>
                  </tr>
                  <tr>
                      <% @project.available_phases.each do |phase| %>
                        <td><%= f.text_field eval(":#{phase.shorthand}_hours"), { :onchange => "getEstHours();"} %></td>
                      <% end %>
                  </tr>
              </table>
              <br />
              <strong>Total Hours: <span id="total-hours"><%= @employee_team.est_total %></span></strong>
              <br /><br /><br />

              <div class="actions">
                  <%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
                  <a class="btn btn-large" data-dismiss="modal">Cancel</a>
              </div>

          </div> <!-- end span9 -->

        </div> <!-- end row -->
        <br />
    <% end %>

</div>




