<div class="modal-header">
    
    <div class="row">
          <div class="span10 offset05">
              <a class="close" data-dismiss="modal">×</a>
              <h3><%= @employee.name %><% if @employee_team.role? %>, <%= @employee_team.role %><% end %></h3>
          </div>
    </div>
</div>

<div class="modal-body">

    <%= form_for(@employee_team, html: { class: "form-inline" }) do |f| %>

          <div class="row">

            <div class="span9 offset05">

                <br />

                <table class="modal-table">
                  <tr>
                      <td><%= f.label(:pd_hours, "Predesign") %></td>
                      <td><%= f.label(:sd_hours, "Schematic") %></td>
                      <td><%= f.label(:dd_hours, "Design Dev") %></td>
                      <td><%= f.label(:cd_hours, "Const Docs") %></td>
                      <td><%= f.label(:bid_hours, "Bidding") %></td>
                      <td><%= f.label(:cca_hours, "CCA") %></td>
                      <td><%= f.label(:int_hours, "Interior") %></td>
                      <td><%= f.label(:his_hours, "Historic") %></td>
                      <td><%= f.label(:add_hours, "Additional") %></td>
                  </tr>
                  <tr>
                    <td><%= f.text_field :pd_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :sd_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :dd_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :cd_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :bid_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :cca_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :int_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :his_hours, { :onchange => "getEstHours();"} %></td>
                    <td><%= f.text_field :add_hours, { :onchange => "getEstHours();"} %></td>
                  </tr>
              </table>
              <br />
              <strong>Total Hours: <span id="total-hours"><%= @employee_team.est_total %></span></strong>
              <br /><br /><br />

              <div class="actions">
                  <%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
                  <a class="btn btn-large" data-dismiss="modal">Cancel</a>
              </div>

          </div> <!-- end span9 -->

        </div> <!-- end row -->
        <br />
    <% end %>

</div>




