<div class="wide">
    <div class="input-row">
        <%= f.label :name, class: "input-label" %>
        <%= f.text_field :name %>
    </div>   
    <div class="input-row">
        <%= f.label :description, class: "input-label" %>
        <%= f.text_area :description, rows: "2" %>
    </div>       
</div>

<div class="narrow">
    <div class="input-row">
        <%= f.label :number, class: "input-label" %>
        <%= f.text_field :number %>
    </div> 
    <p>Note: Tasks available to all projects MUST include a unique number corresponding to Leta's task codes.</p>      
</div>


