<%= f.hidden_field :user_id, value: @user.id %>
<table class="table right-align expense-reports">
	<thead>
		<tr>
			<th>Date</th>
			<th>Project/Description</th>
			<th class="center">Miles</th>
			<th></th>
			<th></th>
			<th class="right">Food</th>
			<th class="right">Parking</th>
			<th class="right">Misc</th>
			<th class="right total">Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<!-- nested form for team-->
            <%= f.fields_for :expense_items do |builder| %>
                <%= render 'expense_item_fields', :f => builder %>
            <% end %>
            <tr class="total-row">
            	<td class="add-item">
            		<%= link_to_add_tr_fields "", f, :expense_items, "add fui-plus expense-items" %>
            	</td>
            	<td></td>
            	<td></td>
            	<td></td>
            	<td></td>
            	<td></td>
            	<td></td>
            	<td></td>
            	<td class="total"><%= number_to_currency(f.object.total) %></td>
            	<td></td>
            </tr>
        <!-- end team form -->
	</tbody>
</table>