<% content_for :page_header do %>
  	<% provide :title, "Edit Expense Report" %>
	<%= link_to"Expense Reports", user_expense_reports_path(@user), class: "header-label" %>
  	<div class="page-header">
    	<h1><%= "Edit Expense Report" %></h1>
  	</div>
<% end %>

<%= form_for @expense_report do |f| %>

  	<%= render 'shared/error_messages', object: f.object %>
  	<%= render 'fields', f: f %>

  	<div class="save-row">
    	<%= f.submit "Update Expense Report", class: "btn btn-primary save-btn" %>
  	</div>

<% end %>