<% provide :title, "Expense Reports" %>
<div class="page-header">
	<h1><%= @user.name.split[0] %>'s Expense Reports</h1>
	<%= link_to "Add New Expense Report", new_user_expense_report_path(@user.id), class: "btn btn-primary btn-right" %>
</div>

<table class="table right-align expense-reports-index">
	<thead>
		<tr>
			<th>Created</th>
			<th>Last Updated</th>
			<th>Total</th>
			<th>Printed?</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @expense_reports.each do |e| %>
			<tr>
				<td><a href="/users/<%= @user.id %>/expense_reports/<%= e.id %>/edit" class="green"><%= e.created_at.strftime("%B %-d, %Y") %></a></td>
				<td><%= e.updated_at.strftime("%B %-d, %Y") %></td>
				<td class="bold"><%= number_to_currency(e.total) %></td>
				<td><%= e.printed %></td>
				<td><%= link_to "", e, method: :delete, confirm: "You sure?", class: "delete fui-cross" %></td>
			</tr>
		<% end %>
	</tbody>
</table>