<table class="modal-table data-table">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Start Wk</th>
        <th>End Wk</th>
        <th>Pay Type</th>
        <th>Hours/Wk</th>
        <th>Billable/Wk</th>
        <th>Holiday/Day</th>
        <th>Overage</th>
        <th>Billable Rate</th>
    </tr>
    <tr>
        <td><%= f.collection_select(:user_id, User.active_users, :id, :name, { :include_blank => true }, { :class => "custom-select name" } ) %></td>
        <td><%= f.text_field :year, class: "input-number" %></td>
        <td><%= f.select(:start_week, (1..53).to_a.map { |value| [ value, value ] }, { :include_blank => true }, { :class => "custom-select number" } ) %></td>
        <td><%= f.select(:end_week, (1..53).to_a.map { |value| [ value, value ] }, { :include_blank => true }, { :class => "custom-select number" } ) %></td>
        <td><%= f.select(:pay_type, [['Salary', 'Salary'], ['Hourly', 'Hourly']], {}, { :class => "custom-select pay-type" } ) %></td>
        <td class="number-input"><%= f.text_field :hours_in_week %></td>
        <td class="number-input"><%= f.text_field :billable_per_week %></td>
        <td class="number-input"><%= f.text_field :holiday %></td>
        <td class="number-input"><%= f.text_field :overage_from_prev %></td>
        <td class="number-input"><%= f.text_field :billable_rate %></td>
    </tr>
</table>
<table class="modal-table data-table targets">
    <tr>
        <th></th>
        <th>Studio Proj</th>
        <th>Staff Mtg</th>
        <th>Admin</th>
        <th>Computer</th>
        <th>Education</th>
        <th>Sustainable</th>
        <th>Mkt - Project</th>
        <th>Mkt - General</th>
        <th>Community</th>
    </tr>
    <tr>
        <td class="number-input first-spacer">Non-Billable Targets</td>
        <td class="number-input"><%= f.text_field :stp_target %></td>
        <td class="number-input"><%= f.text_field :mtg_target %></td>
        <td class="number-input"><%= f.text_field :adm_target %></td>
        <td class="number-input"><%= f.text_field :cmp_target %></td>
        <td class="number-input"><%= f.text_field :edu_target %></td>
        <td class="number-input"><%= f.text_field :sus_target %></td>
        <td class="number-input"><%= f.text_field :mkp_target %></td>
        <td class="number-input"><%= f.text_field :mkg_target %></td>
        <td class="number-input"><%= f.text_field :com_target %></td>
    </tr>
</table>