<% content_for :page_header do %>
	<% provide :title, "Employees Index" %>
	<div class="page-header">
		<h1>Employee Data</h1>
	</div>
<% end %>

<h4><%= curr_year %> Employee Data</h4><br />
	<table class="table right-align">
		<thead>
			<tr>
				<th class="left-align">Name</th>
				<th>ID</th>
				<th>TKWA #</th>
				
				<th>Total Hours<br />Per Week</th>
				<th>Billable Hours<br />Per Week</th>
				<th>Comp Hours<br />Per Holiday</th>
				<th>Vacation Hours<br />Per Year</th>
				<th>Hourly Rate</th>
				<th>Billable Rate</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<% @users.each do |param| %>
				<tr>
					<td class="left-align bold"><%= link_to param.name, "/users/#{param.id}/data_records/#{curr_year}", datatoggle: "modal" %></td>
					<td><%= param.id %></td>
					<td><%= param.employee_number %></td>
  					
					<% data = DataRecord.find_or_create_by_year_and_user_id(curr_year, param.id) %>
	  					<td><%= data.week %></td>
	  					<td><%= data.billable %></td>
	  					<td><%= data.holiday %></td>
	  					<td><%= data.vacation %></td>
	  					<td><%= number_to_currency(data.rate) %></td>
	  					<td><%= number_to_currency(data.billable_rate) %></td>
	  					<td></td>
  				</tr>
  				
			<% end %>
		</tbody>
	</table>
