<% provide :title, "Employees Index" %>
<%= link_to "Admin Panel", admin_path, class: "header-label" %>
<div class="page-header">
	<h1>Employee Data</h1>
	<a href=<%= "/data_records/new" %> data-target="#newModal" data-toggle="modal" class="btn btn-primary btn-right">Add New Record</a>
</div>


	<!-- modal for data record edit -->
        <div class="modal fade data-record" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    <!-- end modal -->

    <!-- modal for new data record -->
        <div class="modal fade data-record" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    <!-- end modal -->

	<% year_array(@data_records).each do |y| %>
		<h4><%= y %></h4><br />
		<table class="table right-align data-records">
			<thead>
				<tr>
					<th class="left-align">Name</th>
					<th>Weeks</th>
					<th>Pay Type</th>
					<th>Hours Per Week</th>
					<th>Comp Hours<br>Per Holiday</th>
					<th>Overage From<br>Prev Period</th>
					<th>Billable Rate</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% data = DataRecord.active_users.find_all_by_year(y).sort {|a,b| a.user_name <=> b.user_name} %>
				<% data.each do |d| %>
					<tr>
						<td>
							<div class="user-name">
								<a href=<%= "/users/#{d.user_id}/data_records/#{d.id}" %> data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= d.user_name %></a>
							</div>
							<div class="employee-number">
								<%= Employee.find_by_user_id(User.find(d.user_id)).employee_number %>
							</div>
						</td>
						<td><%= "#{d.start_week} - #{d.end_week}" %></td>
						<td><%= d.pay_type %></td>
		  				<td><%= d.hours_in_week %></td>
		  				<td><%= d.holiday %></td>
		  				<td><%= d.overage_from_prev %></td>
		  				<td><%= number_to_currency(d.billable_rate) %></td>
		  				<td>
		  					<% if current_user.admin? %>
		  						<%= link_to "", d, class: "delete fui-cross", method: :delete, confirm: "You sure?" %>
								<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>		
	<% end %>

<% content_for :scripts do %>
	<script>
	//reset modal remote on close
	    $('#myModal').on('hide.bs.modal', function (e) {
	    	$(this).data('bs.modal', null);
		});
	    $('#newModal').on('hide.bs.modal', function (e) {
	    	$(this).data('bs.modal', null);
		});
	</script>
<% end %>
