	<% provide :title, "Employees Index" %>
	<%= link_to "Admin Panel", admin_path, class: "header-label" %>
	<div class="page-header">
		<h1>Vacation Data</h1>
		<a href=<%= "/vacation_records/new" %> data-target="#newModal" data-toggle="modal" class="btn btn-primary btn-right">Add New Record</a>
	</div>

	<!-- modal for vacation record edit -->
        <div class="modal fade vacation-record" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    <!-- end modal -->

    <!-- modal for new vacation record -->
        <div class="modal fade vacation-record" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    <!-- end modal -->

	<% year_array(@vacation_records).each do |y| %>
		<h4><%= y %></h4><br />
		<table class="table right-align data-records vacation">
			<thead>
				<tr>
					<th class="left-align">Name</th>
					<th>Vacation<br>This Year</th>
					<th>Vacation<br>Rollover</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% vacation = VacationRecord.active_users.where(year: y).sort {|a,b| a.user_name <=> b.user_name} %>
				<% vacation.each do |d| %>
					<tr>
						<td>
							<div class="user-name">
								<a href=<%= "/users/#{d.user_id}/vacation_records/#{d.id}/edit" %> data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets">
									<%= d.user_name %>
								</a>
							</div>
							<div class="employee-number">
								<%= Employee.find_by_user_id(User.find(d.user_id)).employee_number %>
							</div>
						</td>
		  				<td><%= d.hours %></td>
		  				<td><%= d.rollover %></td>
		  				<td>
		  					<% if current_user.admin? %>
		  						<%= link_to "", d, class: "delete fui-cross", method: :delete, confirm: "You sure?" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>		
	<% end %>

<% content_for :scripts do %>
	<script>
	//reset modal remote on close
	    $('#myModal').on('hide.bs.modal', function (e) {
	    	$(this).data('bs.modal', null);
		});
	    $('#newModal').on('hide.bs.modal', function (e) {
	    	$(this).data('bs.modal', null);
		});
	</script>
<% end %>
