<div class="wide">
    <div class="input-row">
        <%= f.label(:category, "Category", class: "input-label") %>
        <%= f.collection_select(:category, Petal.order("numerical_order ASC"), :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
    </div>
    <div class="input-row">
        <%= f.label(:petal_id, "Petal ID", class: "input-label") %>
        <%= f.collection_select(:petal_id, Petal.order("numerical_order ASC"), :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
        <% if f.object.petal_id %>
            <%= link_to "view all", edit_petal_path(f.object.petal_id) %>
        <% end %>
    </div>
    <div class="input-row">
        <%= f.label(:name, "Name", class: "input-label") %>
        <%= f.text_field :name %>
    </div>
    <div class="input-row">
        <%= f.label(:number, "Number", class: "input-label") %>
        <%= f.text_field :number %>
    </div>
</div>
<div class="full">
    <div class="input-row">
        <%= f.label(:short_desc, "Short Description", class: "input-label") %>
        <%= f.text_area :short_desc, rows: 6 %>
    </div>
    <div class="input-row">
        <%= f.label(:full_desc, "Full Description", class: "input-label") %>
        <%= f.text_area :full_desc %>
    </div>
    <div class="input-row">
        <%= f.label(:strategies, "Strategies", class: "input-label") %>
        <%= f.text_area :strategies %>
    </div>
</div>