<% provide :title, @imperative.name %>
<% if @imperative.parent_petal %>
	<%= link_to "Petal #{@imperative.parent_petal.formatted_number}: #{@imperative.parent_petal.name}", edit_petal_path(@imperative.parent_petal.id), class: "header-label" %>
<% end %>
<div class="page-header">
    <h1><%= @imperative.name %></h1>
</div>

<%= form_for @imperative do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>

    <div class="save-row">
        <%= f.submit "Save", class: "btn btn-primary save-btn" %>
    </div>

<% end %>