   <fieldset>

        <div class="row">
                      
            <div class="span7">

<h3>User Information</h3>   
      <br />
                
                <% if @current_action == 'new' %>
                <div class="control-group">
                    <%= f.label(:name, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :name, class: "span5" %>
                    </div>
                </div>
                <% end %>

                <div class="control-group">
                    <%= f.label :email, "Login email", class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :email, class: "span5" %>
                    </div>
                </div>

                <%= f.fields_for :employee do |e| %>
                <div class="control-group">
                    <%= e.label :number, "Employee Number", class: "control-label" %>
                    <div class="controls">
                        <%= e.text_field :number, class: "span1" %>
                    </div>
                </div>
                <% end %>
      <br /><br />
      <h3>Password</h3>
                <br />

                <div class="control-group">
                    <%= f.label :password, class: "control-label" %>
                    <div class="controls">
                        <%= f.password_field :password, class: "span2" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:password_confirmation, "Confirm Password", class: "control-label") %>
                    <div class="controls">
                        <%= f.password_field :password_confirmation, class: "span2" %>
                    </div>
                </div>
            <br /><br />
            <% if @current_action == 'new' %>
                <div class="notes">NOTE: New users will be signed in automatically after creation. If you are creating an account for someone else, be sure to log back in as yourself to continue.</div>
                <% end %>
          
        </div> <!-- end row --> 

    </fieldset>


