   <fieldset>

        <div class="row">
                      
            <div class="span7">
                <h3>Business Contact Info</h3>   
                <br />
                

                <div class="control-group">
                    <%= f.label(:name, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :name, class: "span5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:employer_title, "Title", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :employer_title, class: "span5" %>
                    </div>
                </div>


                <div class="control-group">
                    <%= f.label :employer, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :employer, class: "span5" %>
                    </div>
                </div>

                

                <div class="control-group">
                    <%= f.label(:employer_address, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_area :employer_address, class: "span5", rows: "2" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :employer_phone, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :employer_phone, class: "span3" %>
                        &nbsp; Ext: &nbsp;<%= f.text_field :employer_ext, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :direct_phone, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :direct_phone, class: "span3" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :work_email, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :work_email, class: "span5" %>
                    </div>
                </div>

                <br /><br />
                <h3>Personal Contact Info</h3>   
                <br />

                <div class="control-group">
                    <%= f.label(:address, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_area :address, class: "span5", rows: "2" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :home_phone, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :home_phone, class: "span3" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :cell_phone, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :cell_phone, class: "span3" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :home_email, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :home_email, class: "span5" %>
                    </div>
                </div>

                

                <div class="control-group">
                    <%= f.label :birthday, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :birthday, class: "span2", datadatepicker: "datepicker" %>
                    </div>
                </div>
                
                <br /><br />


            </div> <!-- end span7 -->
          
        </div> <!-- end row --> 

    </fieldset>
