    <h2>User Information</h2>  
     
    <div class="wide">
                
        <div class="input-row">
            <%= f.label(:name, class: "input-label") %>
            <%= f.text_field :name, class: "span5" %>
        </div>

        <div class="input-row">
            <%= f.label :email, "Login Email", class: "input-label" %>
            <%= f.text_field :email %>
        </div>

    </div>
    <div class="narrow">
        <div class="input-row">
            <div class="image-box small">
                    <div class="image-placeholder" id="photo-placeholder">
                        <%= image_tag @user.photo.url(:thumb), class: "diagram" %>
                    </div>
                    <div class="image-name" id="photo-name"><%= f.object.photo_file_name %></div>
                    <div class="add-image" >
                        <%= f.file_field :photo %>
                        <div class="text">Change Photo</div>
                    </div>
                    <label for="user_delete_photo" class="fui-cross">
                        <%= f.check_box(:delete_photo) %>
                    </label>

            </div>
        </div>
    </div>  
    
    <% if @user == current_user || current_user.admin? %>
        <h2>Password</h2> 

        <div class="wide">
            <div class="input-row">
                <%= f.label :password, class: "input-label" %>
                <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:password_confirmation, "Confirm Password", class: "input-label") %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
        </div>
    <% end %>

    <% if current_user.admin? %>
        <h2>Employee Info</h2> 

        <div class="narrow">
            <div class="input-row">
                <%= f.label :employee_number, "Employee Number", class: "input-label" %>
                <%= f.text_field :employee_number, autocomplete: "off"  %>
            </div>
            <div class="input-row">
                <%= f.label :contact_id, "Contact ID", class: "input-label" %>
                <%= f.text_field :contact_id, autocomplete: "off"  %>
            </div>

            <div class="input-row">
                <%= f.label :admin, class: "input-label" %>
                <div class="radio-group">
                    <label class="radio"><%= f.radio_button :admin, true, data_toggle: "radio" %>Yes
                    </label>
                    <label class="radio"><%= f.radio_button :admin, false, data_toggle: "radio" %>No
                    </label>
                </div>
            </div>
            <div class="input-row">
                <%= f.label :active, class: "input-label" %>
                <div class="radio-group">
                    <label class="radio"><%= f.radio_button :active, true, data_toggle: "radio" %>Active
                    </label>
                    <label class="radio"><%= f.radio_button :active, false, data_toggle: "radio" %>Inactive
                    </label>
                </div>
            </div>
        </div>
    <% end %>


<script>
    $('#user_photo').live('change', function(){
        text = $(this).val().replace(/C:\\fakepath\\/i, '');
        $('#photo-name').html(text);
        $('#photo-placeholder').empty();
    });
   
    $('#user_delete_photo').live('change', function(){
        if($(this).is(':checked')){
            $('#photo-placeholder').empty();
            $('#photo-name').empty();
            $('label[for="user_delete_photo"]').addClass('checked');
        } else {
            location.reload();
        }
    });
    </script>
