<li class="user">
	<%= image_tag user.photo.url(:thumb), class: "avatar" %>
	<div class="info">
  		<div class="name"><%= user.link_name %></div>
  		<ul>
  			<li><%= link_to "user info", edit_user_path(user) %></li>
  			<% if user.contact_id %>
                <% if Contact.find(user.contact_id) %>
                    <li><%= link_to "contact info", contact_path(Contact.find(user.contact_id)) %></li>
                <% else %>
                    <% c = Contact.find_by_name(user.name) %>
                    <% if c %>
                        <% user.contact_id = c.id %>
                        <li><%= link_to "contact info", contact_path(Contact.find(user.contact_id)) %></li>
                    <% else %>
                        <li></li>
                    <% end %>
                <% end %>
                    <li><%= link_to "contact info", contact_path(Contact.find(user.contact_id)) %></li>
            <% end %>
  			<li><%= link_to "employee data", "/users/#{user.id}/data_records", datatoggle: "modal" %></li>
            <li><%= link_to "timesheets", all_timesheets_path(user.id) %></li>
            <li><%= link_to "forecast", forecast_user_path(user) %></li>
            <li><%= link_to "vacations", user_vacations_path(user) %></li>
  			<%= link_to "", user, method: :delete, class: "delete fui-cross", confirm: "You sure? This will also remove all associated employee information from the database. If this employee has left the firm, hit 'Cancel' below and change their status to 'Inactive' instead of deleting." %>
  		</ul>
  	</div>
  
</li>