<% provide :title, "Edit Profile" %>
<div class="page-header">
    <%= image_tag @user.photo.url(:thumb), class: "user-round" %><h1><%= @user.link_name %></h1>
</div>

<%= form_for(@user, :multipart => true, class: "form-horizontal" ) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>

    <div class="save-row">
        <%= f.submit "Update User", class: "btn btn-primary save-btn" %>
    </div>

<% end %>