<% content_for :modal_header do %>
  	<%= @user.name %>
<% end %>

<%= form_for @user do |f| %>
<% date = Date.today %>
	<div class="modal-body">
		<table class="table forecast">
			<thead>
				<tr>
					<th></th>
					<% four_month_year_array(date).each do |w| %>
						<th><%= w %></th>
					<% end %>
				</tr>
				<tr>
					<th></th>
					<% four_month_monthname_array(date).each do |w| %>
						<th><%= w %></th>
					<% end %>
				</tr>
				<tr class="week">
					<th></th>
					<% four_month_weeknum_array(date).each do |w| %>
						<th class="<%= "current" if w == this_week %>"><%= w %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @user.employee_teams.current.each do |t| %>
					<tr>
						<td><%= t.project_name %></td>
						<%= f.fields_for :plan_entries, @user.employee_forecast(t.project_id, four_month_array(Date.today)) do |plan| %>
							<td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<% @user.forecast_week_total(four_month_array(date)).each do |w| %>
						<td><%= w %></td>
					<% end %>
				</tr>
			</tfoot>

		</table>

	</div>

	<div class="modal-footer">
    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	<%= f.submit "Save Changes", class: "btn btn-primary" %>
	</div>

<% end %>

				
 





