<% content_for :modal_header do %>
  	<%= @user.name %>
<% end %>

<%= form_for @user do |f| %>
<% date = Date.today.beginning_of_week(start_day = :sunday) - 1.week %>
<script>$("a.tip").tooltip({ animation: true, placement: 'top', trigger:'hover' });</script>

	<div class="modal-body">
		<table class="table forecast">
			<thead>
				<%= four_month_header_array(date) %>
			</thead>
			<tbody>
				<% @user.employee_teams.current.each do |t| %>
					<tr>
						<td><%= t.project_name %></td>
						<%= f.fields_for :plan_entries, @user.employee_forecast(t.project_id, four_month_array(date)) do |plan| %>
							<td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= @user.forecast_total(w, y) %></td>
                    <% end %>				
                </tr>
			</tfoot>

		</table>

	</div>

	<div class="modal-footer">
    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	<%= f.submit "Save Changes", class: "btn btn-primary" %>
	</div>

<% end %>

				
 





