<% content_for :page_header do %>
	<% provide :title, "6-Month Forecast" %>
    <div class="page-header">
        <h1><%= @user.name.split[0] %>'s Forecast</h1>
    </div>
<% end %>

<%= form_for @user do |f| %>
<% date = Date.today.beginning_of_week(start_day = :sunday) - 1.week %>

        <table class="table forecast">
            <thead>
                <%= four_month_header_array(date) %>
            </thead>
            <tbody>
                <% @user.employee_teams.current.each do |t| %>
                    <tr>
                        <td><%= link_to t.project_name, forecast_project_path(t.project_id) %></td>
                        <%= f.fields_for :plan_entries, @user.employee_forecast(t.project_id, four_month_array(date)) do |plan| %>
                            <td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= @user.forecast_total(w, y) %></td>
                    <% end %>
                </tr>
            </tfoot>

        </table>

        <div class="save-row">
            <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
        </div>

<% end %>