<% content_for :page_header do %>
	<% provide :title, "Users Index" %>
	<div class="page-header">
		<h1>Users Index</h1>
		<%= link_to "Add New User", new_user_path, class: "btn btn-primary btn-right" %>
	</div>
<% end %>

<h2>Active (<%= @users.active_users.count %>)</h2>

	<ul class="users-menu">
		<%= render @users.active_users %>
	</ul>

<h2>Inactive (<%= @users.inactive_users.count %>)</h2>

	<ul class="users-menu">
		<%= render @users.inactive_users %>
	</ul>


<% Employee.all.each do |e| %>
	<li><%= e.id %> <%= Contact.find(e.contact_id).name %><%= e.contact_id %> <%= e.user_id %></li>
<% end %>