<% provide :title, @user.name %>
<h1><%= gravatar_for @user %><%= @user.name %></h1>

<br />
<strong>Name</strong> <%= @user.name %><br />
<strong>Email</strong> <%= @user.email %><br />
<strong>URL</strong>  <%= link_to user_path(@user), @user %>