            <div class="wide">
                <div class="input-row">
                    <%= f.label :name, class: "input-label" %>
                    <%= f.text_field :name %>
                </div>     

                <!-- nested form for list members -->
                <%= f.fields_for :list_members do |builder| %>
                    <%= render 'list_member_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields "", f, :list_members, "add fui-plus list-member" %>
            	<!-- end team form -->

            </div>