<style>
  .header-span, .body-span { width:100%; font-family: "Lato", sans-serif; color:#34495e; }
  .header-span h3 { width:100%; font-weight:900;font-size:16px; color:#34495e;  margin-bottom:40px; }
  .modal-table { width:100%; color:#34495e; }
  	.modal-table th { text-align:right; border-bottom:1px solid #7f8c8d; font-size:14px; font-weight:900; }
  	.modal-table td { border-bottom:1px solid #e1e6eb; padding:5px 0; text-align:right; }
  		.modal-table td:first-child, .modal-table th:first-child { text-align:left; }
  	.modal-table input { width:120px; height:34px; padding:8px; border: 2px solid #e1e6eb; font-family: "Lato", sans-serif; color:#1abc9c; text-align:right; font-size:13px; border-radius:8px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; }
  		.modal-table input:focus { outline:none; border-color:#1abc9c; }

    input.btn { float:left; margin-top:20px; padding:8px 16px 16px 16px; width:160px; border-radius:8px; background-color:#1abc9c; color:#fff; border:none; outline:none; height:34px; font-size:13px; -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; cursor:pointer; }
    input.btn:hover { background-color:#16a085; }
</style>

<div class="header-span">
    <h3>Consultant Billing: <%= @consultant.company %></h3>
</div>

<div class="body-span">

	<%= form_for @bill do |f| %>
	<%= f.hidden_field :consultant_team_id, value: "#{@team_id}" %>

		<table class="table modal-table cbilling-table">
			<thead>
				<tr>
					<th>Company</th>
					<th>Date</th>
					<th>Amount</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @bills.each do |param| %>
					<tr>
						<td><%= @consultant.company %></td>
						<td><%= param.date %></td>
						<td><%= number_to_currency(param.amount) %></td>
						<td><%= link_to "delete", param, method: :delete %></td>
					</tr>
				<% end %>
				<tr>
						<td><%= @consultant.company %></td>
						<td><%= f.text_field :date, class: "input span3 right datepicker" %></td>
						<td><%= f.text_field :amount, class: "input span3 right", id:"txtDate" %></td>
						<td></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td class="right-offset bold"><%= number_to_currency(@bill.bills_total(@team_id)) %></td>
					<td></td>
				</tr>
			</tfoot>
		</table>


	  	<div class="actions">
	    	<%= f.submit "save + close", class: "btn btn-large btn-primary" %>
	    	<a class="btn btn-large" data-dismiss="modal">cancel</a>
	  	</div>

	<% end %>

</div>

