<% content_for :modal_header do %>
  	<%= @consultant_team.consultant_name %>
<% end %>

<%= form_for @bill do |f| %>
	<%= f.hidden_field :consultant_team_id, value: "#{@team_id}" %>
	<div class="modal-body">

			<table class="table modal-table cbilling-table">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Amount</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @bills.each_with_index do |param, index| %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= param.date %></td>
							<td><%= number_to_currency(param.amount) %></td>
							<td><%= link_to "", param, method: :delete, class: "delete fui-cross", confirm: "Delete and close window?" %></td>

						</tr>
					<% end %>
					<tr>
							<td></td>
							<td>
								<input class="datepicker" data-date-format="mm/dd/yyyy" id="bill_date" name="bill[date]" size="30" type="text" value="<%= f.object.date %>">
							</td>
							<td><%= f.text_field :amount, class: "input span3 right", id:"txtDate" %></td>
							<td></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td class="right-offset bold"><%= number_to_currency(@bill.bills_total(@team_id)) %></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
	</div>

	<div class="modal-footer">
    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    	<%= f.submit "Save Bill", class: "btn btn-primary" %>
	</div>

<% end %>

<script>
	$( ".datepicker" ).datepicker();
</script>

