					<tr class="results-row">
		                <td class="bold"><%= link_to "#{f.name} #{f.post_nominals}", contact_path(f) %></td>
		                <td><%= link_to "#{f.category_list}", contact_path(f) %></td>
		                <td><%= link_to "#{f.work_company}", contact_path(f) %></td>
		                <!--<td><%= number_to_phone(f.work_phone, :area_code => true) %></td>
		                <td><a class="button" onclick="mailTo('<%= f.work_email %>');"><%= f.work_email %></a></td>-->
		            </tr>