    <% if @contact.view_options.include?('name') %>
        <h2>Name</h2>
        <div class="wide">
            <div class="input-row">
                <%= f.label(:name, "Full Name", class: "input-label") %>
                <%= f.text_field :name %>
            </div>
            <div class="input-row">
                <%= f.label(:work_title, "Title", class: "input-label") %>
                <%= f.text_field :work_title %>
            </div>
            <div class="input-row">
                <%= f.label(:notes, "Notes", class: "input-label") %>
                <%= f.text_area :notes, class: "", rows: "3" %>
            </div>
        </div>
        <div class="narrow contact">
            <div class="input-row">
                <%= f.label(:post_nominals, "Suffix", class: "input-label" ) %>
                <%= f.text_field :post_nominals, placeholder: "ex: AIA, LEED AP, etc." %>
            </div>
            
            <div class="input-row">
                <%= f.label(:cat01, "Category", class: "input-label" ) %>
                <%= f.collection_select(:cat01, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
            
                <%= is_set?(@contact.cat02, "cat02", f.label(" ", " ", class: "input-label" ), f.collection_select(:cat02, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) ) %>
                
                <%= is_set?(@contact.cat03, "cat03", f.label(" ", " ", class: "input-label" ), f.collection_select(:cat03, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) ) %>

                <%= is_set?(@contact.cat04, "cat04", f.label(" ", " ", class: "input-label" ), f.collection_select(:cat04, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) ) %>

                <%= is_set?(@contact.cat05, "cat05", f.label(" ", " ", class: "input-label" ), f.collection_select(:cat05, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) ) %>
            
                <%= is_set?(@contact.cat06, "cat06", f.label(" ", " ", class: "input-label" ), f.collection_select(:cat06, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) ) %>
                <% if @contact.cat06.blank? %>
                    <%= link_to_add_category("", f, "cat02", "add fui-plus category") %>
                <% end %>
        </div>
    <% end %>
    <% if @contact.view_options.include?('work') %>
        <h2>Work Information</h2>
        <div class="wide">
            <div class="input-row">
                <%= f.label(:work_company, "Company", class: "input-label") %>
                <%= f.text_field :work_company %>

            </div>
            <div class="input-row">
                <%= f.label(:work_department, "Department", class: "input-label") %>
                <%= f.text_field :work_department %>
            </div>   
            <div class="input-row">
                <%= f.label(:work_address, "Work Address", class: "input-label") %>
                <%= f.text_area :work_address, class: "", rows: "2" %>
            </div>    
            <div class="input-row">
                <%= f.label(:work_email, "Work Email", class: "input-label") %>
                <%= f.text_field :work_email %>
            </div>  
            <div class="input-row">
                <%= f.label(:work_url, "Website", class: "input-label") %>
                <%= f.text_field :work_url %>
            </div>  
        </div>

        <div class="narrow contact-phone">
            <div class="input-row">
                <%= f.label :work_phone, "Main Phone", class: "input-label" %>
                <%= f.text_field :work_phone, value: number_to_phone(@contact.work_phone, :area_code => true), class: "phone" %>
                <div class="label-sm">ext</div><%= f.text_field :work_ext, class: "ext" %>
            </div>
            <div class="input-row">
                <%= f.label(:work_direct, "Direct Phone", class: "input-label") %>
                <%= f.text_field :work_direct, value: number_to_phone(@contact.work_direct, :area_code => true), class: "phone" %>
                <div class="label-sm">ext</div><%= f.text_field :direct_ext, class: "ext" %>
            </div>
            <div class="input-row">
                <%= f.label(:work_cell, "Work Cell", class: "input-label") %>
                <%= f.text_field :work_cell,value: number_to_phone(@contact.work_cell, :area_code => true), class: "phone" %>
            </div>
            <div class="input-row">
                <%= f.label(:work_fax, "Fax Number", class: "input-label") %>
                <%= f.text_field :work_fax, value: number_to_phone(@contact.work_fax, :area_code => true), class: "phone" %>
            </div>
            <div class="input-row">
                <%= f.label(:assistant, "Assistant", class: "input-label") %>
                <%= f.text_field :assistant, class: "phone" %>
            </div>
        </div>
    <% end %>
    <% if @contact.view_options.include?('personal') %>

        <h2>Personal Information</h2>

        <div class="wide">
            <div class="input-row">
                <%= f.label(:home_address, "Home Address", class: "input-label") %>
                <%= f.text_area :home_address, class: "", rows: "2" %>
            </div>    
            <div class="input-row">
                <%= f.label(:home_email, "Personal Email", class: "input-label") %>
                <%= f.text_field :home_email %>
            </div>  
        </div>

        <div class="narrow contact-phone">
            <div class="input-row">
                <%= f.label :home_phone, "Home Phone", class: "input-label" %>
                <%= f.text_field :home_phone, value: number_to_phone(@contact.home_phone, :area_code => true), class: "phone" %>
            </div>
            <div class="input-row">
                <%= f.label(:home_cell, "Personal Cell", class: "input-label") %>
                <%= f.text_field :home_cell,value: number_to_phone(@contact.home_cell, :area_code => true), class: "phone" %>
            </div>
        </div>
    <% end %>




