   <fieldset>

        <div class="row">
                      
            <div class="span7-5">

                <h3>General Information</h3>   
                <br />
                
                <div class="control-group">
                    <%= f.label(:name, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :name, class: "span5-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_title, "Title", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_title, class: "span5-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_company, "Company", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_company, class: "span5-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_department, "Department", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_department, class: "span5-5" %>
                    </div>
                </div>

                <br /><br />
                <h3>Business Contact Information</h3>   
                <br />

                <div class="control-group">
                    <%= f.label(:work_address, "Address", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_area :work_address, class: "span4-5", rows: "2" %>
                    </div>
                    <a class="btn top-right span1" onclick="openMap('contact_work_address');">Get Map</a>
                </div>

                <div class="control-group">
                    <%= f.label :work_phone, "Main Phone", class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :work_phone, class: "span2-5" %>
                        &nbsp;&nbsp; Ext: &nbsp;&nbsp;<%= f.text_field :work_ext, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_direct, "Direct Phone", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_direct, class: "span2-5" %>
                        &nbsp;&nbsp; Ext: &nbsp;&nbsp;<%= f.text_field :direct_ext, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_cell, "Business Cell", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_cell, class: "span2-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_fax, "Fax", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_fax, class: "span2-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:assistant, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :assistant, class: "span2-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:work_email, "Email", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_email, class: "span4-5" %>
                    </div>
                    <a class="btn top-right span1" onclick="sendEmail('contact_work_email');">Compose</a>
                </div>

                <div class="control-group">
                    <%= f.label(:work_url, "Website", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :work_url, class: "span4-5" %>
                    </div>
                    <a class="btn top-right span1" onclick="openURL('contact_work_url');">View</a>
                </div>

                <br /><br />
                <h3>Personal Contact Information</h3>   
                <br />

                <div class="control-group">
                    <%= f.label(:home_address, "Home Address", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_area :home_address, class: "span4-5", rows: "2" %>
                    </div>
                    <a class="btn top-right span1" onclick="openMap('contact_home_address');">Get Map</a>
                </div>

                <div class="control-group">
                    <%= f.label :home_phone, "Home Phone", class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :home_phone, class: "span2-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:home_cell, "Cell Phone", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :home_cell, class: "span2-5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:home_email, "Personal Email", class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :home_email, class: "span4-5" %>
                    </div>
                    <a class="btn top-right span1" onclick="sendEmail('contact_home_email');">Compose</a>
                </div>
                
            </div> <!-- end span7-5 -->

            <div class="span4 offset1">
                <h3>Details</h3>   
                    <div class="contact-shaded">

                        <% unless @current_action == 'new' %>
                            Created: <strong><%= @contact.created_at.strftime("%m/%d/%Y")  %></strong><br />
                            Updated: <strong><%= @contact.updated_at.strftime("%m/%d/%Y") %></strong><br />
                        <% end %>

                    </div>

                <!-- if contact is employee, show employee info fields -->
                <% if is_employee? %>
                <div class="form-inline">
                
                    <h3>Employee Info</h3>
                    <div class="contact-shaded">

                        <!-- if admin, show edit fields -->
                        <% if current_user.admin? %>

                            <%= f.fields_for :employee do |e| %>

                                <div class="row">
                                    <%= e.label :number, class: "span1-5 box-padding" %>
                                    <%= e.text_field :number, class: "span1" %>
                                </div>
                                <div class="row">
                                    <%= f.label :birthday, class: "span1-5 box-padding" %>
                                    <%= f.text_field :birthday, class: "span1-75", datadatepicker: "datepicker" %>
                                </div>
                                <div class="row">
                                    <%= e.label :hire_date, class: "span1-5 box-padding" %>
                                    <%= e.text_field :hire_date, class: "span1-75", datadatepicker: "datepicker" %>
                                </div>
                                <div class="row">
                                    <%= e.label :leave_date, class: "span1-5 box-padding" %>
                                    <%= e.text_field :leave_date, class: "span1-75", datadatepicker: "datepicker" %>
                                </div>
                                <div class="row">
                                    <%= e.label :week_hours, class: "span1-5 box-padding" %>
                                    <%= e.text_field :week_hours, class: "span1" %>
                                </div>
                                <div class="row">
                                    <%= e.label :vacation_hours, "Vacation Hours", class: "span1-5 box-padding" %>
                                    <%= e.text_field :vacation_hours, class: "span1" %>
                                </div>
                                <div class="row">
                                    <%= e.label :status, class: "span1 box-padding" %>
                                    <div class="span1 box-padding">
                                        <label class="radio"><%= e.radio_button(:status, "Current") %>Current</label>
                                        <label class="radio"><%= e.radio_button(:status, "Former") %>Former</label>
                                    </div>
                                </div>

                            <% end %>   

                        <!-- if not admin, just show info fields -->
                        <% else %>

                            Employee Number: <strong><%= @contact.employee.number %></strong><br />
                            <% if @contact.birthday %>
                                Birthday: <strong><%= @contact.birthday.strftime("%B %e") %></strong><br />
                            <% end %>
                            Hire Date: <strong><%= formatted_date(@contact.employee.hire_date) %></strong><br />

                            <% if @contact.employee.leave_date %>
                                Leave Date: <strong><%= formatted_date(@contact.employee.leave_date) %></strong><br />
                            <% end %>

                            Status: <strong><%= @contact.employee.status %></strong>

                        <% end %> <!-- end admin conditional -->
                        
                    </div>

                </div> <!-- end employee form -->

                    <% if has_current_projects? %>

                        <h3>Current Projects</h3>
                        <div class="contact-shaded">
                            <ul>
                                <% @contact.employee_teams.current.each do |team| %>
                                    <li><strong><%= link_to Project.find_by_id(team.project_id).name, info_project_path(Project.find_by_id(team.project_id)) %></strong><br />
                                        <%= team.role %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                        
                    <% end %>

                    <% if has_completed_projects? %>

                        <h3>Completed Projects</h3>
                        <div class="contact-shaded">
                            <ul>
                                <% @contact.employee_teams.completed.each do |team| %>
                                    <li><strong><%= link_to Project.find_by_id(team.project_id).name, info_project_path(Project.find_by_id(team.project_id)) %></strong><br />
                                        <%= team.role %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>

                    <% end %>

                <!-- if contact is not an employee, show contact categories -->
                <% else %>

                    <div class="form-vertical">

                        <h3>Contact Category</h3>
                        <div class="contact-shaded">
                            <%= hidden_field_tag "contact[category_ids][]", nil%>
                            <% Category.all.each do |category| %>
                                <label class="checkbox">
                                    <%= check_box_tag "contact[category_ids][]", category.id, @contact.category_ids.include?(category.id), id: dom_id(category) %>
                                    <%= category.name %>
                                </label>
                            <% end %>
                        </div>
                    
                    </div>

                <% end %> <!-- end employee conditional -->

            </div> <!-- end span4 (sidebar) --> 
          
        </div> <!-- end row --> 

    </fieldset>
