    <h2 class="first">Work Information</h2>

    <div class="wide margin-bottom">
        <div class="input-row">
            <%= f.label(:name, "Full Name", class: "input-label") %>
            <% if params[:action] == "new" && params[:name].present? %> 
                <% val = params[:name] %>
            <% else %>
                <% val = f.object.name %>
            <% end %>
            <%= f.text_field(:name, :value => val, class: "bold")  %>
        </div>
        <div class="input-row">
            <%= f.label(:work_title, "Title", class: "input-label") %>
            <%= f.text_field :work_title, class: "full-width" %>
        </div>
        <div class="input-row">
            <%= f.label(:work_company, "Company", class: "input-label") %>
            <!-- only auto-fill company info for new records -->
            <% if params[:action] == "new" %>
                <%= f.autocomplete_field :work_company, autocomplete_contact_work_company_contacts_path, :update_elements => {:work_address => '#contact_work_address', :work_phone => '#contact_work_phone', :work_url => '#contact_work_url', :work_fax => '#contact_work_fax'}, class: "bold" %>
                <script>
                /* formats autocomplete number fields for readability */
                $('#contact_work_company').on('railsAutocomplete.select', function(){
                    phone = $('#contact_work_phone').val();
                    fax = $('#contact_work_fax').val();
                        if (phone.length == 10) {
                            phone_f = phone.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
                            $('#contact_work_phone').val(phone_f);
                        }
                        if (fax.length == 10) {
                            fax_f = fax.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
                            $('#contact_work_fax').val(fax_f);
                        }
                        $("#contact_work_company").focus(); // this line is necessary, otherwise inputs change back to default whrn focus changes
                });
                </script>
            <% else %>
                <%= f.autocomplete_field :work_company, autocomplete_contact_work_company_contacts_path, class: "bold" %>
            <% end %>
        </div>  
        <div class="input-row">
            <%= f.label(:work_address, "Address", class: "input-label") %>
            <%= f.text_area :work_address, class: "button-right", rows: "3" %>
            <button class="btn input-button" onclick="showMap('contact_work_address'); return false;">map</button>
        </div>   
        <div class="input-row">
            <%= f.label(:work_url, "Website", class: "input-label") %>
            <%= f.text_field :work_url, class: "button-right" %>
            <button class="btn input-button" onclick="openURL('contact_work_url'); return false;">website</button>
        </div>  
        <div class="input-row">
            <%= f.label(:work_email, "Work Email", class: "input-label") %>
            <%= f.text_field :work_email, class: "button-right" %>
            <button class="btn input-button" onclick="mailTo('<%= f.object.work_email %>'); return false;">email</button>
        </div> 

    </div>

    <div class="narrow contact-phone margin-bottom">
        
        <div class="input-row">
            <%= f.label(:work_phone, "Main Phone", class: "input-label") %>
            <%= f.text_field :work_phone, value: phone(@contact.work_phone), class: "phone" %>
            <div class="label-sm">ext</div><%= f.text_field :work_ext, class: "ext" %>
        </div>
        <div class="input-row">
            <%= f.label(:work_direct, "Direct Phone", class: "input-label") %>
            <%= f.text_field :work_direct, value: phone(@contact.work_direct), class: "phone" %>
            <div class="label-sm">ext</div><%= f.text_field :direct_ext, class: "ext" %>
        </div>
        <div class="input-row">
            <%= f.label(:work_fax, "Work Fax", class: "input-label") %>
            <%= f.text_field :work_fax,value: phone(@contact.work_fax), class: "phone" %>
        </div>
        <div class="input-row">
            <%= f.label(:work_cell, "Cell Phone", class: "input-label") %>
            <%= f.text_field :work_cell,value: phone(@contact.work_cell), class: "phone" %>
        </div>
        <% unless params[:action] == "new" %>
            <div id="documents">
                <a class="circle" href="/contacts/<%= @contact.id %>/transmittal" target="_blank">
                    create<br>transmittal
                    <div class="glyphicon glyphicon-file"></div>
                </a>
                <a class="circle" href="/contacts/<%= @contact.id %>/fax" target="_blank">
                    create<br>fax cover
                    <div class="glyphicon glyphicon-print"></div>
                </a>
                <a class="circle" href="/contacts/<%= @contact.id %>/envelope" target="_blank">
                    create<br>envelope
                    <div class="glyphicon glyphicon-envelope"></div>
                </a>
            </div>
        <% end %>
    </div>

    <h2 class="no-margin">Company Information</h2>
    <div class="wide">

        <div class="input-row">
            <%= f.label(:consultant_id, "Company", class: "input-label" ) %>
            <% if @contact.consultant_id.blank? %>
                <%= f.collection_select(:consultant_id, Consultant.order("name ASC"), :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            <% else %>
                <% company = Consultant.find(@contact.consultant_id) %>
                <% if company %>
                    <div class="company-address">
                        <div class="text">
                            <% if company.name.present? %>
                                <span class="bold"><%= link_to company.name, consultant_path(company) %></span><br>
                            <% end %>
                            <%= "#{company.address}<br>".gsub(/\n/, '<br>').html_safe if company.address.present? %>
                            <%= "t: #{phone(company.phone)}<br>".html_safe if company.phone.present? %>
                            <%= "f: #{phone(company.fax)}<br>".html_safe if company.fax.present? %>
                            <a class="underline" onclick="openURL_direct('<%= company.url %>');"><%= company.url %></a>
                        </div>
                        <a class="btn input-button change-company" id="change-company">change</a>
                    </div>
                    
                    <div class="new-company">
                        <%= f.collection_select(:consultant_id, Consultant.order("name ASC"), :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
                        <a class="text-btn" id="cancel-change-company">cancel</a>
                    </div>

                <% end %>
            <% end %>
        </div>

    </div>

    <% unless params[:action] == "new" %> 

        <div class="full">
            <% if f.object.associated_projects.present? && f.object.associated_projects.count > 0 %>
                <% if Contact.at_same_company(f.object.work_company).count == 1 %>
                    <div class="full">
                <% else %>
                    <div class="half first">
                <% end %>
                    <h2 class="no-margin">Projects <a id="show-projects">show</a><a id="hide-projects">hide</a></h2>
                    <ul class="contacts-ul" id="projects">
                    <% f.object.associated_projects.each do |p| %>
                        <li><%= link_to p.name, info_project_path(p.id), class: "green" %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

            <% if f.object.work_company.present? && Contact.at_same_company(f.object.work_company).count > 1 %>
                <% if f.object.associated_projects.present? && f.object.associated_projects.count == 0 %>
                    <div class="full">
                <% else %>
                    <div class="half">
                <% end %>
                    <h2>Others At <%= f.object.work_company %> (<%= Contact.at_same_company(f.object.work_company).count - 1 %>)<a id="show-others">show</a><a id="hide-others">hide</a></h2>
                    <ul class="contacts-ul" id="others">
                        <% Contact.at_same_company(f.object.work_company).each do |c| %>
                            <% unless c.id == f.object.id %>
                                <li><%= link_to "#{c.display_name} <span class='detail'>#{c.work_title}</span>".html_safe, contact_path(c) %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>

    <% end %>

    <% if f.object.home_address.present? || f.object.home_email.present? || f.object.home_phone.present? || f.object.home_cell.present? %>
        <% @personal = "visible" %>
    <% else %>
        <% @personal = "hidden" %>
    <% end %>

    <h2>Personal Information  <a id="show" class="<%= @personal %>">show</a><a id="hide" class="<%= @personal %>">hide</a></h2>

    <div id="personal-info" class="<%= @personal %>">
        <div class="wide">
            <div class="input-row">
                <%= f.label(:home_address, "Home Address", class: "input-label") %>
                <%= f.text_area :home_address, class: "button-right", rows: "2" %>
                <button class="btn input-button" onclick="showMap('contact_home_address'); return false;">map</button>
            </div>    
            <div class="input-row">
                <%= f.label(:home_email, "Personal Email", class: "input-label") %>
                <%= f.text_field :home_email, class: "button-right" %>
                <button class="btn input-button" onclick="mailTo('<%= f.object.home_email %>'); return false;">email</button>
            </div>  
        </div>

        <div class="narrow contact-phone">
            <div class="input-row">
                <%= f.label :home_phone, "Home Phone", class: "input-label" %>
                <%= f.text_field :home_phone, value: phone(@contact.home_phone), class: "phone" %>
            </div>
            <div class="input-row">
                <%= f.label(:home_cell, "Personal Cell", class: "input-label") %>
                <%= f.text_field :home_cell, value: phone(@contact.home_cell), class: "phone" %>
            </div>
        </div>
    </div>


<!--    
    <h2 class="optional">Mailing Lists <a id="show-mailing">show fields</a><a id="hide-mailing">hide fields</a></h2>

    <div id="mailing-list" class="hidden">
        <div class="full mailing-list">
            <%= hidden_field_tag "contact[mailing_list_ids][]", nil %>
            <% MailingList.all.each do |list| %>
                <label class="checkbox">
                    <%= check_box_tag "contact[mailing_list_ids][]", list.id, @contact.mailing_list_ids.include?(list.id), id: dom_id(list), data_toggle: "checkbox" %>
                    <%= list.name %>
                </label>
            <% end %>
        </div>
    </div>
-->

    <% if @contact.is_employee? %>

        <h2 class="no-margin">Employee Information</h2>
        <%= f.fields_for :employee do |u| %>
            <div class="narrow">

                <div class="input-row">
                    <%= u.label :employee_number, "Employee Number", class: "input-label" %>
                    <%= u.text_field :employee_number, autocomplete: "off"  %>
                </div>

                <div class="input-row">
                    <%= u.label :birth_month, "Birthday", class: "input-label" %>
                    <%= u.select(:birth_month, Date::ABBR_MONTHNAMES.compact.each_with_index.collect{|m, i| [m, i+1]}, {:prompt => ' '}, {:class => 'custom-select birth-month'}) %>
                    <%= u.select(:birth_day, (1..31), {:prompt => ' '}, {:class => 'custom-select birth-day'}) %>
                </div>
                <div class="input-row">
                    <%= u.label :hire_date, "Hire Date", class: "input-label" %>
                    <%= u.text_field :hire_date, class: "datepicker"  %>
                </div>
                
            </div>
            <div class="wide last">
                <div class="input-row">
                    <%= u.label :family, "Family Info", class: "input-label" %>
                    <%= u.text_area :family, rows: "4" %>
                </div> 
            </div> 
            
        <% end %>

    <% end %>

    <h2 class="no-margin">Notes</h2>

    <script src="/assets/jquery-te-1.4.0.min.js" type="text/javascript"></script>
    <link href="/assets/jquery-te-1.4.0" media="screen" rel="stylesheet" type="text/css" />

    <div class="wide contact-notes">
        <div class="input-row">
            <%= f.text_area :notes, rows: "9" %>
        </div> 
        <% unless params[:action] == "new" %>
            <div class="input-row added">
                Added <%= f.object.created_at.strftime("%-m/%d/%Y") %>
                <% if f.object.updated_at %>
                     // Updated <%= f.object.updated_at.strftime("%-m/%d/%Y") %>
                <% end %>
            </div>
        <% end %>
    </div>

    <script>
            $("#contact_notes").jqte({
                center: false,
                fsize: false,
                format: false,
                indent: false,
                link: false,
                left: false,
                outdent: false,
                p: false,
                right: false,
                rule: false,
                source: false,
                sub: false,
                sup: false,
                unlink: false
            });
    </script>

    <div class="narrow contact-details">
        <div class="input-row">
            <%= f.label(:cat_number, "Category", class: "input-label" ) %>
            <%= f.collection_select(:cat_number, Category.all, :number, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
        </div>
        <div class="input-row">
            <%= f.label(:staff_contact, "Staff Contact", class: "input-label" ) %>
            <%= f.autocomplete_field :staff_contact, autocomplete_contact_name_contacts_path,  class: "match-select" %>
        </div>
        <div class="formatted-address">
            <% if f.object.name.present? %>
                <span class="bold"><%= f.object.name %></span><br>
                <%= "#{f.object.work_company}<br>".html_safe if f.object.work_company.present? %>
            <% else %>
                <span class="bold"><%= f.object.work_company %></span><br>
            <% end %>
            <%= "#{f.object.display_address}<br>".html_safe if f.object.display_address.present? %>
            <%= "t: #{phone(f.object.display_phone)}".html_safe if f.object.display_phone.present? %>
        </div>
    </div>

