<%= form_for @company do |f| %>
	<div class="modal hide fade add-company-modal" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	        <h3 id="myModalLabel">Add Company</h3>
	    </div>
	    <div class="modal-body">
	    	<div class="wide">
	            <div class="input-row">
	                <%= f.label(:name, "Name", class: "input-label") %>
	                <%= f.text_field :name %>
	            </div>
	            
	            <div class="input-row">
	                <%= f.label(:address, "Address", class: "input-label") %>
	                <%= f.text_area :address, class: "", rows: "2" %>
	            </div>   
	            <div class="input-row">
	                <%= f.label(:url, "Website", class: "input-label") %>
	                <%= f.text_field :url, class: "" %>
	            </div>   
	        </div>

	        <div class="narrow contact-phone">
	            <div class="input-row">
	                <%= f.label :phone, "Main Phone", class: "input-label" %>
	                <%= f.text_field :phone, value: number_to_phone(@company.phone, :area_code => true), class: "phone" %>
	            </div>
	            <div class="input-row">
	                <%= f.label(:fax, "Fax Number", class: "input-label") %>
	                <%= f.text_field :fax, value: number_to_phone(@company.fax, :area_code => true), class: "phone" %>
	            </div>
	            <div class="input-row">
	                <%= f.label(:category, "Category", class: "input-label" ) %>
	                <%= f.collection_select(:category, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
	            </div>
	        </div>
			
			<div class="save-row">
	            <%= f.submit "Add Company", class: "btn btn-primary save-btn" %>
	        </div>
	        <script>
			
		    $('#new_company').submit(function() {  
		        var valuesToSubmit = $(this).serialize();
		        $.ajax({
		            type: 'POST',
		            url: $(this).attr('action'), 
		            data: valuesToSubmit,
		            dataType: "JSON"
		        }).success(function(data){
		        	$('#contact_company_id').val(data.id);
		        	if ( data.phone.length == 10 ) {
						phoneNum = "(" + data.phone.substr(0, 3) + ") " + data.phone.substr(3, 3) + "-" + data.phone.substr(6, 4);
					} else {
						phoneNum = data.phone;
					}

					if ( data.fax.length == 10 ) {
						faxNum = "(" + data.fax.substr(0, 3) + ") " + data.fax.substr(3, 3) + "-" + data.fax.substr(6, 4);
					} else {
						faxNum = data.fax;
					}
		        	string = "<div class=\"c-name\">" + data.name + "</div><div class=\"c-address\">" + data.address  + "<div class=\"c-url\"><a href=\"" + data.url + "\" target = \"_blank\">" + data.url + "</a></div>";
		        	phone = "<div class=\"input-row\"><label class=\"input-label\">Main Phone</label><div class=\"text-field\">" + phoneNum + "</div></div><div class=\"input-row\"><label class=\"input-label\">Fax</label><div class=\"text-field\">" + faxNum + "</div></div>";
		        	$('#company-data').html(string);
		        	$('#company-phone').html(phone);
		        });
		        $('#addCompany').modal('hide');
		        return false; // prevents normal behaviour
		    });
		
			</script>
	    </div>
	</div>
<% end %>