
<ul class="tabnav">
	<li class="<%= is_active?("show")%>"><%= link_to "info", contact_path(@contact) %></li>
	<% if @contact.category? %>
		<% if @contact.category.include?("Employee") %>
			<li class="<%= is_active?("employee_data")%>"><%= link_to "employee data", employee_data_contact_path(@contact) %></li>
		<% end %>
		<% if @contact.category.include?("Consultant") %>
			<li class="<%= is_active?("consultant_data")%>"><%= link_to "consultant data", consultant_data_contact_path(@contact) %></li>
		<% end %>
		<% if @contact.category.include?("Client") %>
			<li class="<%= is_active?("client_data")%>"><%= link_to "client data", client_data_contact_path(@contact) %></li>
		<% end %>
	<% end %>
</ul>