<% provide :title, @contact.display_name.html_safe %>

<%= form_for @contact do |f| %>
<%= render 'shared/error_messages', object: f.object %>

    <% if @contact.is_employee? %>
            <%= link_to "Employees", contacts_employees_path, class: "header-label" %>
     <% end %>
    <div class="page-header">
        <h1><%= @contact.display_name %> &nbsp;<span class="light small"><% unless @contact.work_title.blank? %><%= @contact.work_title %><% end %></span></h1>
        <ul class="controls">
            <% if @contact.previous.present? %> 
                <li><%= link_to "", edit_contact_path(@contact.previous), class: "glyphicon glyphicon-chevron-left tip", title:"Previous" %></li>
            <% end %>
            <% if @contact.next.present? %> 
                <li><%= link_to "", edit_contact_path(@contact.next), class: "glyphicon glyphicon-chevron-right tip", title:"Next" %></li>
            <% end %>
            <li><%= link_to "", contacts_path, class: "glyphicon glyphicon-search tip", title:"Search Contacts" %></li>
            <li><%= link_to "", new_contact_path, class: "glyphicon glyphicon-plus tip", title:"Add New Contact" %></li>
            <li class="delete">
                <%= link_to "", @contact, method: :delete, confirm: "You sure?", class: "glyphicon glyphicon-remove tip", title:"Delete This Contact" %>
            </li>
        </ul>
        <%= link_to "hmm this looks cluttered can I see something else", contact_path(@contact), class: "switch-view" %>
    </div>

   <div class="content">

        <%= render 'fields', :f => f %>
       
        <div class="save-row">
            <%= f.submit "Save", class: "btn btn-primary save-btn" %>
        </div> 

    </div> <!-- end content -->

<% end %>