<% content_for :page_header do %>
	<% provide :title, "Contacts" %>
    <div class="page-header">
        <h1>Contacts Database</h1>
        <!--<ul class="controls">
            <li><a href="/projects/">reset</a></li>
            <li><a href="#">advanced search</a></li>
        </ul>-->
	</div>
<% end %>

<h2 class="first">Search Contacts</h2>

<div class="description">Enter all or part of the contact name and/or company. Choose an option from the menu at left to narrow your search. To show all contacts within a category, just leave the name field blank.</div>

<div class="gray-box contacts">

	<%= search_form_for @q do |f| %>

		<div class="status-options">
			<div><%= f.radio_button(:category_cont, "") %><label class="radio">All</label></div>
	        <div><%= f.radio_button(:category_cont, "Employee") %><label class="radio">Employee</label></div>
	        <div><%= f.radio_button(:category_cont, "Client") %><label class="radio">Client</label></div>
	        <div><%= f.radio_button(:category_cont, "Consultant") %><label class="radio">Consultant</label></div>
	        <div><%= f.radio_button(:category_cont, "Supplier") %><label class="radio">Supplier</label></div>
		</div>

		<%= f.text_field :name_cont, class: "search-name contact", placeholder: "Contact Name" %>    
		<%= f.submit "Search", class: "btn btn-primary search-btn contact" %>
			     
	<% end %>

</div>


<% if (params.has_key?(:q)) %>

	<% if @contacts.count == 0 %>
		<h2>Search Results</h2>
		<div class="search-results">
			No matches.<br><br><a href="/contacts/" class="btn">Clear search and try again.</a><br><br>
			<div class="line"></div>
		</div>
	<% else %>

	<h2>Search Results</h2>

		<table class="table search-results">
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Company</th>
				</tr>
			</thead>
		    <tbody>
		        <% @contacts.each do |param| %>
		            <%= render 'contact', :f => param %>
		        <% end %>
		    </tbody>
		</table>
		<div class="line"></div>

	<% end %>

<% end %>

<div class="row icons three">

    <div class="tile-box">
        <%= link_to image_tag("contacts.png", :alt => "new-contact", :class => "round-icon"), new_contact_path %>
        <%= link_to "Add A Contact", new_contact_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("company.png", :alt => "new-contact", :class => "round-icon"), companies_path %>
        <%= link_to "View Companies", companies_path, :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("mail.png", :alt => "mailing_lists", :class => "round-icon"), "#" %>
        <%= link_to "Create Mailing List", "#", :class => "tile-label" %>
    </div>

  </div> <!-- end tiles -->


