<tr>
    <td><div class="text-field lg2 bold"><%= Company.find(f.object.consultant_id).name %></div></td>
    <%= f.hidden_field :_destroy %>
    <td><div class="text-field lg2 bold"><%= f.object.consultant_role %></div></td>
    <td><%= f.text_field :consultant_contract, class: "text-input contract-amount", value: number_to_currency(f.object.consultant_contract) %></td>
    <td><div class="text-field med bold"><%= number_to_currency(f.object.consultant_bills_total) %></div></td>
     <td><div class="text-field small bold"><%= number_to_percentage(f.object.percent_billed, :precision => 0) %></div></td>
    <td><% if f.object.consultant_id %><a href="<%= consultant_team_bills_path(f.object.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn btn btn-small">add bill</a><% end %></td>

    <!--<td><%= link_to_remove_fields "  ", f %></td>-->
</tr>
