<tr>
	<%= f.hidden_field :id %>
    <td><%= f.autocomplete_field :consultant_name, autocomplete_contact_work_company_projects_path, class: "firm" %></td>
    <%= f.hidden_field :_destroy %>
    <td><%= f.collection_select(:consultant_role, ConsultantRole.all, :consultant_role_name, :consultant_role_name, { :include_blank => true }, { :class => "custom-select role" } ) %></td>
    <td class="contract-amount"><%= f.text_field :consultant_contract, value: number_to_currency(f.object.consultant_contract), autocomplete: "off" %></td>
    <td class="btd <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_currency(f.object.consultant_bills_total) %></td>
     <td class="percent <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_percentage(f.object.percent_billed, :precision => 0) %></td>
    <td class="remaining <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_currency(f.object.remaining) %></td>
    <td class="button"><% if f.object.consultant_name %><a href="<%= consultant_team_path(f.object.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn btn btn-small">Invoices</a><% end %></td>
    <td><%= link_to_remove_consultant_fields "  ", f %></td>
</tr>
