<tr>
	<%= f.hidden_field :id %>
    <td><%= f.autocomplete_field :consultant_name, autocomplete_contact_work_company_projects_path, class: "consultant-name" %></td>
    <%= f.hidden_field :_destroy %>
    <td><%= f.collection_select(:consultant_role, ConsultantRole.all, :consultant_role_name, :consultant_role_name, { :include_blank => true }, { :class => "custom-select" } ) %></td>
    <td><%= f.text_field :consultant_contract, class: "text-input contract-amount", value: number_to_currency(f.object.consultant_contract) %></td>
    <td><div class="text-field med bold <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_currency(f.object.consultant_bills_total) %></div></td>
     <td><div class="text-field small bold percent <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_percentage(f.object.percent_billed, :precision => 0) %></div></td>
    <td><div class="text-field med remaining <%= is_over?(f.object.consultant_contract, f.object.consultant_bills_total) %>"><%= number_to_currency(f.object.remaining) %></div></td>
    <td><% if f.object.consultant_name %><a href="<%= consultant_team_bills_path(f.object.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn btn btn-small">invoices</a><% end %></td>

    <td><%= link_to_remove_consultant_fields "  ", f %></td>
</tr>
