<div class="row">
	
	<%= f.collection_select(:employee_id, Employee.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>

    <%= f.hidden_field :_destroy %>
    
	<%= f.select(:role, EmployeeTeam::EMPLOYEE_ROLES, { :include_blank => true }, { :class => "custom-select" } ) %>
    
    <%= link_to_remove_fields_2 "  ", f %>

</div>

<!-- <div class="table-row">
	<div class="input-div">
		<%= f.collection_select(:contact_id, Contact.employee_list.all, :id, :name, { :include_blank => true }, { :class => "span3-5" } ) %>
	</div>
    <%= f.hidden_field :_destroy %>

    <div class="input-div">
	    <%= f.select(:role, EmployeeTeam::EMPLOYEE_ROLES, { :include_blank => true }, { :class => "span3-5" } ) %>
    </div>

    <%= link_to_remove_fields "  ", f %>

</div> -->
	    

