<% if @project.status == "potential" || params[:status] == 'potential' %>
        <h2>Potential Project Status</h2>
        <div class="narrow">
            <div class="input-row">
                <%= f.label(:proposal_date, "Proposal Due Date", class: "input-label") %>
                <%= f.text_field :proposal_date, class: "datepicker" %>
            </div>
            <div class="input-row">
                <%= f.label(:interview_date, "Interview Date", class: "input-label") %>
                <%= f.text_field :interview_date, class: "datepicker" %>
            </div>
        </div>
        <div class="wide last potential">
            <div class="input-row">
                <%= f.label(:awarded, "Awarded?", class: "input-label small-label") %>
                    <div class="radio-group">
                        <label class="radio">
                            <%= f.radio_button :awarded, "pending", data_toggle: "radio" %>
                            Pending
                            <div id="note" class="radio-note">If we get this project, select 'Yes' to move it into Current Projects. If not, select 'No' to remove it from the Potential Projects list.</div>
                        </label>
                        <label class="radio">
                            <%= f.radio_button :awarded, "yes", data_toggle: "radio" %>
                            Yes
                            <div id="awarded" class="radio-hint">Awesome! Don't forget to change the status to 'Current" and add a project number.</div>
                        </label>

                        <label class="radio">
                            <%= f.radio_button :awarded, "no", data_toggle: "radio" %>
                            No
                            <div id="not-awarded" class="radio-hint">Note: This project will no longer show up as 'active' on the Potential Projects page.</div>
                        </label>
                    </div>
            </div>

        </div>
<% end %>
        
        <h2>Project Information</h2>

        <div class="wide">
            <div class="input-row">
                <%= f.label(:name, "Name", class: "input-label") %>
                <%= f.text_field :name, autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:location, "Location", class: "input-label") %>
                <%= f.text_area :location, class: "button-right", rows: "2" %>
                    <button class="btn input-button" onclick="showMap('project_location'); return false;">map</button>
            </div>
            <div class="input-row">
                <%= f.label(:client, "Client", class: "input-label") %>
                <%= f.text_field :client, class: "#{'i-am-messed-up' if params[:action] == 'new' }" %>
            </div>
            <div class="input-row">
                    <%= f.label(:billing_name, "Billing Contact", class: "input-label") %>
                    <% if f.object.billing_name.blank? %>
                        <%= f.autocomplete_field :billing_name, autocomplete_contact_name_projects_path, class: "#{'button-right' if f.object.billing_name.present? }" %>
                    <% else %>
                        <% @billing = Contact.find_by_name(f.object.billing_name) %>
                        <% if @billing # if there is a billing name AND it matches an existing contact %>
                            <div class="contact-address">
                                <div class="text">
                                    <%= link_to @billing.name, contact_path(@billing) %>
                                    <% unless @billing.work_address.blank? %><%= @billing.work_address.gsub(/\n/, '<br />').html_safe %><br><% end %>
                                    <% unless @billing.work_phone.blank? %><%= number_to_phone(@billing.work_phone, :area_code => true) %><br><% end %>
                                    <% unless @billing.work_email.blank? %><a href="mailto:<%= @billing.work_email %>" class="email"><%= @billing.work_email %></a><br><% end %>
                                </div>
                                <a class="btn input-button change-contact" id="change-contact">change</a>
                            </div>
                            
                            <div class="new-contact">
                                <%= f.autocomplete_field :billing_name, autocomplete_contact_name_projects_path, class: "button-right contact-name" %>
                                <a class="text-btn" id="cancel-change">cancel</a>
                            </div>
                            
                        <% elsif f.object.billing_name.present? # if there is a billing name and it DOES NOT match an existing contact %>
                            <%= f.autocomplete_field :billing_name, autocomplete_contact_name_projects_path, class: "button-right" %>
                            <%= link_to "add", new_contact_path(:name => f.object.billing_name), class: "btn input-button" %>
                        <% end %>
                    <% end %>
                </div>

        </div>

        <div class="narrow">
            <div class="input-row">
                <%= f.label(:number, "Number", class: "input-label") %>
                <%= f.text_field :number, autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:building_type, "Building Type", class: "input-label") %>
                <%= f.collection_select(:building_type, BuildingType.all, :name, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
            <div class="input-row">
                <%= f.label(:building_type_id, "Building Type ID", class: "input-label") %>
                <%= f.collection_select(:building_type_id, BuildingType.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
            <div class="input-row">
                <%= f.label(:billing_type, "Billing Type", class: "input-label") %>
                <%= f.collection_select(:billing_type, BillingType.all, :name, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
            <div class="input-row">
                <%= f.label(:billing_type_id, "Billing Type ID", class: "input-label") %>
                <%= f.collection_select(:billing_type_id, BillingType.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
            <div class="input-row">
                <%= f.label(:cm, "CM/GC", class: "input-label") %>
                <%= f.text_field :cm %>
            </div>
            <div class="input-row">
                <%= f.label(:status, "Status", class: "input-label") %>
                    <%= hidden_field_tag "project[status]", nil %>
                    <div class="radio-group compact">
                        <% if params[:action] == 'new' %>
                            <label class="radio">
                                <%= radio_button_tag("project[status]", "potential", params[:status] == 'potential', { data_toggle: "radio" } ) %>
                                Potential
                            </label>
                            <label class="radio">
                                <%= radio_button_tag("project[status]", "current", params[:status] == 'current', { data_toggle: "radio" } ) %>
                                Current
                            </label>
                        <% else %>
                            <label class="radio">
                                <%= f.radio_button :status, "potential", data_toggle: "radio" %>
                                Potential
                            </label>
                            <label class="radio">
                                <%= f.radio_button :status, "current", data_toggle: "radio" %>
                                Current
                            </label>
                        <% end %>
                        <label class="radio">
                            <%= f.radio_button :status, "completed", data_toggle: "radio" %>
                            Completed
                        </label>
                    </div>
            </div>
        </div>
