<li id="<%= p.id %>" class="pattern" name="pattern-<%= p.id %>">
    <div class="view-fields">
        <div class="header">
            <div class="number"><%= p.number %> /</div>
            <div class="title"><%= link_to p.name, edit_pattern_path(p) %></div>
        </div>
        <div class="issue"><%= simple_format p.issue %></div>
        <div class="solution"><%= simple_format p.solution %></div>
        <div class="images">
            <% if p.photo_file_name %>
                <div class="photo">
                    <%= image_tag p.photo.url(:thumb), alt: p.photo_file_name %>
                </div>
            <% end %>
            <% if p.diagram_file_name %>
                <div class="diagram">
                    <%= image_tag p.diagram.url(:thumb), alt: p.diagram_file_name %>
                </div>
            <% end %>
        </div>
        <div class="footer">Written on <%= p.created_at.strftime("%B %-d, %Y") %><%= " by #{p.author}" if p.author.present? %></div>
    </div>
</li>