				<tr>
	            	<td><%= link_to f.number, info_project_path(f) %></td>
	                <td class="bold"><%= link_to f.name, info_project_path(f) %></td>
	                <td><%= link_to "info", info_project_path(f) %></td>
					<td><%= link_to "billing", billing_project_path(f) %></td>
					<td><%= link_to "scope", scope_project_path(f) %></td>
					<td><%= link_to "tracking", tracking_project_path(f) %></td>
					<td><%= link_to "forecast", forecast_project_path(f) %></td>
	            </tr>