<% provide :title, @project.name.html_safe %>

<% if @project.status == "potential" %>
    <a class="header-label" href="/potential_projects">Potential Projects</a>
    <div class="page-header">
        <h1><%= @project.name %></h1>
<% elsif @project.status == "current" %>
    <a class="header-label" href="/projects/current">Current Projects</a>
    <div class="page-header">
        <h1><span class="light"><%= @project.number %></span><%= @project.name %></h1>
<% else %>
    <div class="page-header">
        <h1><span class="light"><%= @project.number %></span><%= @project.name %></h1>
<% end %>
    <ul class="controls project">
        <% if @project.previous.present? %> 
                <li><%= link_to "", eval("#{params[:action]}_project_path(#{@project.previous.id})"), class: "glyphicon glyphicon-chevron-left tip", title:"Previous" %></li>
        <% end %>
        <% if @project.next.present? %> 
                <li><%= link_to "", eval("#{params[:action]}_project_path(#{@project.next.id})"), class: "glyphicon glyphicon-chevron-right tip", title:"Next" %></li>
        <% end %>
        
        <li><%= link_to "", projects_path, class: "glyphicon glyphicon-search tip", title:"Search Projects" %></li>
        <li><%= link_to "", new_project_path(:status => 'current'), class: "glyphicon glyphicon-plus tip", title:"Add New Project" %></li>
        <li class="delete"><%= link_to "", @project, method: :delete, confirm: "Are you sure you want to delete this project and all its data?", class: "glyphicon glyphicon-remove tip", title:"Delete This Project" %>
        </li>
        <!--<% unless params[:action] == "tracking" %>
            <li><%= f.submit "Save", class: "btn btn-primary save-btn" %></li>
        <% end %>-->
    </ul>   
</div>   

<%= render "tabnav" %>
