				<tr>
	            	<td><%= link_to strip(f.number), info_project_path(f) %></td>
	                <td class="bold"><%= link_to f.name, info_project_path(f) %></td>
	                <!--<td><%= f.building_type %></td>
	                <td></td>
	                <td><%= f.status %></td>-->
	                <td><% if signed_in? %>
					  	<% if current_user.admin? %>
					    	<%= link_to "delete", f, method: :delete, confirm: "You sure?" %>
					  	<% end %>
					  <% end %>
					</td>
	            </tr>