<ul class="tabnav">
	<li class="<%= is_active?("info")%>"><%= link_to "info", info_project_path(@project) %></li>
	<li class="<%= is_active?("scope")%>"><%= link_to "scope", scope_project_path(@project) %></li>
	<% unless @project.status == "potential" %>
			<li class="<%= is_active?("billing")%>"><%= link_to "billing", billing_project_path(@project) %></li>
	<% end %>
	<% if @project.status == "potential" %>
		<li class="<%= is_active?("fee_calc")%>"><%= link_to "fee calculation", fee_calc_project_path(@project) %></li>
	<% else %>
		<% if @project.view_options.include?('tracking') %>
			<li class="<%= is_active?("tracking")%>"><%= link_to "tracking", tracking_project_path(@project) %></li>
		<% end %>
		<% if @project.view_options.include?('forecast') %>
			<li class="<%= is_active?("forecast")%>"><%= link_to "forecast", forecast_project_path(@project) %></li>
		<% end %>
	<% end %>
	<% if @project.view_options.include?('schedule') %>
		<li class="<%= is_active?("schedule")%>"><%= link_to "schedule", schedule_project_path(@project) %></li>
	<% end %>
	<% if @project.view_options.include?('patterns') %>
		<li class="<%= is_active?("patterns")%>"><%= link_to "patterns", patterns_project_path(@project) %></li>
	<% end %>
	<% unless @project.status == "potential" %>
		<% if @project.view_options.include?('marketing') %>
			<li class="<%= is_active?("marketing")%>"><%= link_to "marketing", marketing_project_path(@project) %></li>
		<% end %>
	<% end %>
	<% unless @project.status == "potential" %>
		<% if @project.view_options.include?('shop drawings') %>	
			<li class="<%= is_active?("drawing_log")%>"><%= link_to "shop drawings", drawing_log_project_path(@project) %></li>
		<% end %>
	<% end %>
	<% unless @project.status == "potential" %>
            <li class="view-options"><a href="#options" class="glyphicon glyphicon-eye-open tip" role="button" data-toggle="modal" title="View Options"></a></li>
    <% end %>
</ul>
