<tr>
	<td class="tname"><%= Employee.find(f.employee_id).name %><br />
		<a href="<%= edit_project_employee_team_path(f.project_id, f.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets">edit targets</a>
		</div>
	</td>
	<td class="smalltext"><div class="input-sm act">actual</div><div class="input-sm est">target</div></td>
		<% @project.available_phases.each do |phase| %>
			<%= tracking_td(f, phase) %>
		<% end %>

		<td class="total TotalToDate gray border-left">
			<% if @project.employee_actual(f.contact_id, 'Total') == 0 %>
				<div class="input-spacer span1 act"></div>
			<% else %>
				<div class="input span1 act bold <%= is_over?(f.est_total, @project.employee_actual(f.contact_id, 'Total')) %>"><%= strip(@project.employee_actual(f.employee_id, 'Total')) %></div>
			<% end %>
			<% if f.est_total == 0 %>
				<div class="input-spacer span1 est"></div>
			<% else %>
				<div class="input span1 est bold"><%= strip(f.est_total) %></div>
			<% end %>
		</td>

		<td class="border-left Remaining">
			<%= remaining(f.est_total, @project.employee_actual(f.employee_id, 'Total')) %>
		</td>
</tr>
