<tr>
		<td class="lt bold">
			<div class="inputbox name"><%= employee_name(f.contact_id) %>
			<div class="inputbox italic"><%= link_to "edit", edit_project_employee_team_path(f.project_id, f.id), datatoggle: "modal" %></div>
		</td>

		<% Phase.all.each do |phase| %>
			<%= tracking_td(f, phase) %>
		<% end %>

		<td class="total TotalToDate gray">
			<% if f.est_total == 0 %>
				<div class="input-spacer"></div>
			<% else %>
				<div class="uneditable-input span1 est"><%= strip(f.est_total) %></div>
			<% end %>
			<% if @project.employee_actual(f.contact_id, 'Total') == 0 %>
				<div class="input-spacer"></div>
			<% else %>
				<div class="uneditable-input span1 act <%= is_over?(f.est_total, @project.employee_actual(f.contact_id, 'Total')) %>"><%= strip(@project.employee_actual(f.contact_id, 'Total')) %></div>
			<% end %>
			
		</td>

		<td>
			<div class="act sum <%= is_over?(f.est_total, @project.employee_actual(f.contact_id, 'Total')) %>"><%= over_under(f.est_total, @project.employee_actual(f.contact_id, 'Total')) %></div>
		</td>
</tr>
