<%= form_for @project do |f| %>

    <h2>Contract + Fees</h2>

        <div class="third billing">
            
            <div class="input-row">
                <%= f.label(:contract_amount, "Total Contract", class: "input-label") %>
                <%= f.text_field :contract_amount, value: number_to_currency(@project.contract_amount), class: "", autocomplete: "off"  %>
            </div>
            <div class="input-row">
                <%= f.label(:extra_services, "Extra Services", class: "input-label") %>
                <%= f.text_field :extra_services, value: number_to_currency(@project.extra_services), autocomplete: "off" %>
            </div>
            <div class="input-row text-only">
                <div class="input-label">
                    <label>Consultant Billing</label>
                </div>
                <div class="text-field"><%= number_to_currency(@project.consultant_contract_total) %>
                </div>
            </div>  
            <div class="input-row fee">
                <div class="input-label">
                    <label>TKWA Fee</label>
                    <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="Total Contract + Extra Services - Total Consultant Contracts"></a>
                 </div>
                <div class="text-field bold"><%= number_to_currency(@project.tkwa_fee) %></div>
            </div>  
        </div>
        <div class="third billing gray-box">
            <div class="input-row">
                <%= f.label(:billed_to_date, "Billed To Date", class: "input-label") %>
                <%= f.text_field :billed_to_date, value: number_to_currency(@project.billed_to_date), autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:payroll, "Payroll To Date", class: "input-label") %>
                <%= f.text_field :payroll, value: number_to_currency(@project.payroll), autocomplete: "off" %>
            </div>
            <div class="input-row text-only">
                <div class="input-label">
                    <label>Profit/Loss</label>
                    <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="Billed To Date - (Payroll To Date + Consultants Billed-To-Date)"></a>
                </div>
                <div class="text-field bold"><%= over_under_currency(@project.payroll.to_f + @project.project_bills_total.to_f, @project.billed_to_date) %></div>
            </div>  
        </div>
        <div class="third billing last">       
            <div class="billed-to-date">
                <div class="percentage"><%= number_to_percentage(f.object.percent_billed_to_date, :precision => 0) %></div>
                billed to date <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="Billed To Date / Total Contract"></a>
            </div>
        </div> 

        <div class="save-row">
            <%= f.submit "Save Changes", class: "btn btn-primary save-btn green" %>
        </div>

<% end %>

<%= form_for @project do |f| %>

    <h2>Consultant Billing</h2>
    <% if @project.consultant_teams.length == 0 %>
        <p class="description">This project's consultants have not been set up yet. Click the 'setup' tab in the bar above to add consultants.</p>
    <% else %>

        <!-- modal for consultant billing edit -->
            <div class="consultant modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
        <!-- end modal -->

        <table class="table billing-table">

            <thead>
                <tr>
                    <th>Firm</th>
                    <th>Role</th>
                    <th class="align-right contract-amt">Contract Amount</th>
                    <th class="align-right">Billed to-date</th>
                    <th class="percent">% Billed</th>
                </tr>
            </thead>
                
            <tbody>
                <%= f.fields_for :consultant_teams do |builder| %>
                		<%= render 'consultant_billing_fields', :f => builder %>
                <% end %>
                <tr class="footer">
                    <td></td>
                    <td></td>
                    <td><div class="text-field lg bold contract-amount"><%= number_to_currency(@project.consultant_contract_total) %></div></td>
                    <td><div class="text-field med bold"><%= number_to_currency(@project.project_bills_total) %></div></td>
                    <td><div class="text-field small bold"><% if f.object.consultant_percent_billed > 0 %><%= number_to_percentage(f.object.consultant_percent_billed, :precision => 0) %><% end %></div></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="save-row">
            <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
        </div>

    <% end %>

<% end %>

<script>
//reset modal remote on close
$('#myModal').on('hide.bs.modal', function (e) {
    $(this).data('bs.modal', null);
});
</script>