<%= form_for @project do |f| %>

    <%= render 'project_header', f: f %>

    <h2>Contract + Billing To Date<%= link_to "billing worksheet", billing_worksheet_path, class: "control-link-billing" %></h2>

        <div class="third billing">
            
            <div class="input-row">
                <%= f.label(:contract_amount, "Contract Total", class: "input-label") %>
                <%= f.text_field :contract_amount, value: number_to_currency(@project.contract_amount), class: "", autocomplete: "off"  %>
            </div>
            <div class="input-row text-only">
                <div class="input-label">
                    <label>Hourly Total</label>
                </div>
                <div class="text-field"><%= number_to_currency(@project.hourly_billed_to_date.to_f) %>
                </div>
            </div>  
            <div class="input-row text-only">
                <div class="input-label">
                    <label>Consultant Total</label>
                </div>
                <div class="text-field"><%= number_to_currency(@project.consultant_contract_total) %>
                </div>
            </div>  
            <div class="input-row fee">
                <div class="input-label">
                    <label>TKWA Fee</label>
                    <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="Contract Total + Hourly Total - Consultant Total"></a>
                 </div>
                <div class="text-field bold"><%= number_to_currency(@project.tkwa_fee) %></div>
            </div>  
        </div>
        <div class="third billing gray-box">
            <div class="input-row">
                <%= f.label(:billed_to_date, "Contract Billed To Date", class: "input-label") %>
                <%= f.text_field :billed_to_date, value: number_to_currency(@project.billed_to_date), autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:hourly_billed_to_date, "Hourly Billed To Date", class: "input-label") %>
                <%= f.text_field :hourly_billed_to_date, value: number_to_currency(@project.hourly_billed_to_date), autocomplete: "off" %>
            </div>
            <div class="input-row">
                <%= f.label(:payroll, "Payroll To Date", class: "input-label") %>
                <%= f.text_field :payroll, value: number_to_currency(@project.payroll), autocomplete: "off" %>
            </div>
            <div class="input-row text-only">
                <div class="input-label">
                    <label>Profit/Loss</label>
                    <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="(Contract Billed To Date + Hourly Billed To Date) - (Payroll To Date + Consultants Billed To Date)"></a>
                </div>
                <div class="text-field bold"><%= over_under_currency(@project.payroll.to_f + @project.project_bills_total.to_f, @project.billed_to_date.to_f + @project.hourly_billed_to_date.to_f) %></div>
            </div>  
        </div>
        <div class="third billing last">       
            <div class="billed-to-date">
                <div class="percentage"><%= number_to_percentage(f.object.percent_billed_to_date, :precision => 0) %></div>
                billed to date <a href="#" class="tip-right fui-eye" data-toggle="tooltip" title="" data-original-title="Contract Billed To Date / Contract Total"></a>
            </div>
        </div> 


    <h2>TKWA Fees Billed By Month<%= link_to "all TKWA fees billed by month", fees_billed_by_month_path, class: "control-link-billing" %></h2>

        <table class="table actuals-table" id="actuals">
            <tr class="tr">
            <%= f.fields_for :actuals, @actuals do |a| %>
                <td class="actual-billing <%= 'current' if a.object.month == prev_month && a.object.year == this_year %>">
                    <%= a.label :amount, "#{monthname_a(a.object.month)} #{a.object.year}", class: "input-label" %>
                    <%= a.text_field :amount, value: number_to_currency(a.object.amount)  %>
                </td>
            <% end %>
            </tr>
        </table>

    <h2>Consultant Billing <%= link_to "edit roles", consultant_roles_path, class: "control-link-text" %><%= link_to "edit consultants", consultants_path, class: "control-link-text margin-right" %></h2>
    
        <!-- modal for consultant billing edit -->
        <div class="consultant modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
        <!-- end modal -->

        <table class="table billing-table">

            <thead>
                <tr>
                    <th class="firm">Firm</th>
                    <th class="role">Role</th>
                    <th class="contract-amount">Contract Amount</th>
                    <th class="btd">Billed to-date</th>
                    <th class="percent">% Billed</th>
                    <th class="remaining">Remaining</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
                
            <tbody>
                <%= f.fields_for :consultant_teams, @project.consultant_teams.sort_by(&:consultant_name) do |builder| %>
                		<%= render 'consultant_billing_fields', :f => builder %>
                <% end %>

                <tr class="footer">
                    <td><%= link_to_add_billing_fields "", f, :consultant_teams, "add fui-plus consultant add-billing" %></td>
                    <td></td>
                    <td class="contract-amount"><%= number_to_currency(@project.consultant_contract_total) %></td>
                    <td class="btd"><%= number_to_currency(@project.project_bills_total) %></td>
                    <td class="percent"><% if f.object.consultant_percent_billed.present? %><%= number_to_percentage(f.object.consultant_percent_billed, :precision => 0) %><% end %></td>
                    <td class="remaining"><%= number_to_currency(@project.consultant_contract_total - @project.project_bills_total) %></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="save-row">
            <%= f.submit "Save", class: "btn btn-primary save-btn" %>
        </div>

<% end %>

<% content_for :scripts do %>
    <script>
    //reset modal remote on close
    $('#myModal').on('hide.bs.modal', function (e) {
        $(this).data('bs.modal', null);
    });
    $("#actuals .current input").focus();
    </script>
<% end %>