<% provide :title, "Billing Worksheet" %>
<div class="page-header auto">
    <h1>Billing Worksheet</h1>
    <%= link_to "TKWA Fees Billed By Month", fees_billed_by_month_path(1), class: "btn btn-right" %>
</div>
<p class="description detail">Showing all current projects.</p>

<%= form_for :project, :url => update_all_path, :html => { :method => :put } do %>
    <table class="table monthly-billing to-date">
        
        <thead>
            <tr>
                <th class="project-name">Name</th>
                <th class="contract-amount">Contract</th>
                <th>Billed to Date</th>
                <th>Hourly to Date</th>
                <th>Payroll to Date</th>
                <th class="actual"><%= monthname_a(five_month_array[1][0]) %> <%= five_month_array[1][1] %><br>TKWA Fees Billed</th>
                <th>%</th>
            </tr>
        </thead>

        <tbody>
            <% @projects.each do |project| %>
                <%= fields_for "project[]", project do |p| %>
                <tr>
                    <td class="project-name">
                        <%= link_to p.object.name, billing_project_path(p.object), class: "green" %><br>
                        <% e = EmployeeTeam.where(project_id: p.object, role: "Project Manager").first %>
                        <div class="detail"><%= User.find(e.user_id).name if e %></div>
                    </td>
                    <td class="contract-amount"><%= number_to_currency(p.object.contract_amount, precision: 0) %></td>
                    <td><%= p.text_field :billed_to_date, value: number_to_currency(p.object.billed_to_date), autocomplete: "off" %></td>
                    <td><%= p.text_field :hourly_billed_to_date, value: number_to_currency(p.object.hourly_billed_to_date), autocomplete: "off" %></td>
                    <td><%= p.text_field :payroll, value: number_to_currency(p.object.payroll), autocomplete: "off" %></td>
                    <% @actual = Actual.where(project_id: p.object.id, year: five_month_array[1][1], month: five_month_array[1][0]).first_or_create %>
                    <%= p.fields_for "actuals_attributes[]", @actual do |a| %>
                        <td class="actual"><%= a.text_field :amount, value: number_to_currency(a.object.amount) %><%= a.hidden_field :id %><%= a.hidden_field :project_id %><%= a.hidden_field :year %><%= a.hidden_field :month %></td>
                    <% end %>
                    <td><div class="percent"><%= number_to_percentage(p.object.percent_billed_to_date, :precision => 0) %></div></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>

        <tfoot>
        </tfoot>
        
    </table>
    <%= will_paginate @projects %>

    <div class="save-row">
        <%= submit_tag "Save", class: "btn btn-primary save-btn" %>
    </div>
<% end %>
