<%= semantic_form_for @project do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
          
<%= f.inputs :class => 'shaded' do %>

        <div class="row">


          <!--do not mess with this bit, it was damn near impossible to get it working! -->
                  <%= f.semantic_fields_for :teams do |builder| %>
                        <input id="project_users_input" name="project[user_ids][]" type="hidden" value="" />
                        <%= render 'team_fields', :f => builder %>
                  <% end %>
                  <%= link_to_add_fields "add employee", f, :teams, "btn offset-left" %>
           <!-- end, mess away -->
        </div>

        <%= f.input :users, :as => :select %><br />

                <p>
                <%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
                </p>

    <% end %> <!-- end fieldset -->
<% end %> <!-- end form -->



<h3>Project Team</h3>
            <div class="notes">
            Select project team members and their roles. Adding a TKWA staff member to the project enables time tracking.
          </div>    
          
          
          <div class="row"> 
          
          <div class="span5-5 offset025">
          
            <table class="table staff-table flush">
            
              <thead>
                <tr class="lt">
                  <th>TKWA Staff Name</th>
                  <th>Role</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select id="staff-1" class="span2-5">
                            <option></option>
                              <option selected>Allen Washatko</option>
                      <option>Tom Kubala</option>
                      <option>Joel Krueger</option>
                      <option>Vince Micha</option>
                      <option>Ethan Bartos</option>
                      <option>Ariel Steuer</option>
                      <option>Wayne Reckard</option>
                            </select>
                  </td>
                  
                  <td>
                    <select id="role-1" class="span2-5">
                              <option></option>
                              <option>Project Manager</option>
                      <option selected>Project Principal</option>
                      <option>Project Architect</option>
                      <option>Project Designer</option>
                      <option>Historic Preservation</option>
                      <option>LEED Documentation</option>
                      <option>Programming</option>
                      <option>Interior Design</option>
                      <option>Graphic Design</option>
                            </select>
                  </td>
                  <td><div class="inputbox"><a href="#">remove</a></div></td>
                </tr>
                <tr>
                  <td>
                    <select id="staff-2" class="span2-5">
                            <option></option>
                              <option>Allen Washatko</option>
                      <option selected>Tom Kubala</option>
                      <option>Joel Krueger</option>
                      <option>Vince Micha</option>
                      <option>Ethan Bartos</option>
                      <option>Ariel Steuer</option>
                      <option>Wayne Reckard</option>
                            </select>
                  </td>
                  
                  <td>
                    <select id="role-2" class="span2-5">
                              <option></option>
                              <option>Project Manager</option>
                      <option selected>Project Principal</option>
                      <option>Project Architect</option>
                      <option>Project Designer</option>
                      <option>Historic Preservation</option>
                      <option>LEED Documentation</option>
                      <option>Programming</option>
                      <option>Interior Design</option>
                      <option>Graphic Design</option>
                            </select>
                  </td>
                  <td><div class="inputbox"><a href="#">remove</a></div></td>
                </tr>
                <tr>
                  <td>
                    <select id="staff-3" class="span2-5">
                            <option></option>
                              <option>Allen Washatko</option>
                      <option>Tom Kubala</option>
                      <option selected>Joel Krueger</option>
                      <option>Vince Micha</option>
                      <option>Ethan Bartos</option>
                      <option>Ariel Steuer</option>
                      <option>Wayne Reckard</option>
                            </select>
                  </td>
                  
                  <td>
                    <select id="role-3" class="span2-5">
                              <option></option>
                              <option selected>Project Manager</option>
                      <option>Project Principal</option>
                      <option>Project Architect</option>
                      <option>Project Designer</option>
                      <option>Historic Preservation</option>
                      <option>LEED Documentation</option>
                      <option>Programming</option>
                      <option>Interior Design</option>
                      <option>Graphic Design</option>
                            </select>
                  </td>
                  <td><div class="inputbox"><a href="#">remove</a></div></td>
                </tr>
                <tr>
                  <td>
                    <select id="staff-4" class="span2-5">
                            <option></option>
                              <option>Allen Washatko</option>
                      <option>Tom Kubala</option>
                      <option>Joel Krueger</option>
                      <option>Vince Micha</option>
                      <option selected>Ethan Bartos</option>
                      <option>Ariel Steuer</option>
                      <option>Wayne Reckard</option>
                            </select>
                  </td>
                  
                  <td>
                    <select id="role-4" class="span2-5">
                              <option></option>
                              <option>Project Manager</option>
                      <option>Project Principal</option>
                      <option>Project Architect</option>
                      <option selected>Project Designer</option>
                      <option>Historic Preservation</option>
                      <option>LEED Documentation</option>
                      <option>Programming</option>
                      <option>Interior Design</option>
                      <option>Graphic Design</option>
                            </select>
                  </td>
                  <td><div class="inputbox"><a href="#">remove</a></div></td>
                </tr>
                <tr>
                  <td>
                    <select id="staff-5" class="span2-5">
                            <option></option>
                              <option>Allen Washatko</option>
                      <option>Tom Kubala</option>
                      <option>Joel Krueger</option>
                      <option>Vince Micha</option>
                      <option>Ethan Bartos</option>
                      <option selected>Ariel Steuer</option>
                      <option>Wayne Reckard</option>
                            </select>
                  </td>
                  
                  <td>
                    <select id="role-5" class="span2-5">
                              <option></option>
                              <option>Project Manager</option>
                      <option>Project Principal</option>
                      <option>Project Architect</option>
                      <option>Project Designer</option>
                      <option>Historic Preservation</option>
                      <option>LEED Documentation</option>
                      <option>Programming</option>
                      <option selected>Interior Design</option>
                      <option>Graphic Design</option>
                            </select>
                  </td>
                  <td><div class="inputbox"><a href="#">remove</a></div></td>
                </tr>
                
              </tbody>
              
            </table>