<%= form_for @project do |f| %>
<%= render 'shared/error_messages', :object => f.object %> 

 		<!-- modal for employee target edit -->
		<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  	<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    	<h3 id="myModalLabel"> </h3>
		  	</div>
		  	<div class="modal-body"></div>
		</div>
		<!-- end modal -->

		<h2>Fee Calculation</h2>
		<p class="description">Enter target hours for each team member by phase to calculate the total architectural fee.</p>
					
		<table class="table tracking-table fee-calc">
		
			<thead>
                <tr>
                    <th class="bold">Team Member</th>
                    <% @project.available_phases.each do |phase| %>
                    	<th class="table-cell"><%= phase.number %><br /><span class="blanch"><%= phase.name %></span></th>
                    <% end %>
                    <th class="table-cell bold TotalToDate">Total</th>
                </tr>
            </thead>
			
			<tbody>

				<!-- employee data rows -->
				<%= f.fields_for :employee_teams do |builder| %>
		    		<%= render 'fee_calc_fields', :f => builder %>
		    	<% end %>
			
				<tr class="lower total-hours">

					<td class="bold">TOTAL HOURS</td>
				

					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell <%= phase.name.gsub(/[ ]*/, '') %> <% if @phases.include?(phase) %><% else %>deactivated<% end %>">
							
							<% if @project.phase_est(phase.shorthand) == 0 %>
								<div class="input-spacer"></div>
							<% else %>
								<div class="input">
									<%= strip(@project.phase_est(phase.shorthand)) %>
								</div>
							<% end %>
						</td>
					<% end %>
					
					<td class="total TotalToDate gray border-left">
						
						<% if @project.sum_est == 0 %>
							<div class="input-spacer"></div>
						<% else %>
							<div class="input"><%= strip(@project.sum_est) %></div>
						<% end %>
					</td>

				</tr>

				<tr class="billing">

					<td class="bold">TOTAL BILLING</td>

					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell">
							<% if @project.target_billing_total(phase.number) == 0 %>
								<div class="input-spacer"></div>
							<% else %>
								<div class='input'><%= number_to_currency(@project.target_billing_total(phase.number), :precision => 0) %></div>
							<% end %>
						</td>
					<% end %>
				
					<td class="total">
						<% if @project.target_billing_total('Total') == 0 %>
							<div class="input-spacer"></div>
						<% else %>
							<div class='input'><%= number_to_currency(@project.target_billing_total('Total'), :precision => 0) %></div>
						<% end %>
					</td>

				</tr>

			</tbody>

		</table>

		<div class="save-row">
	        <%= f.submit "Update Totals", class: "btn btn-primary save-btn" %>
		</div>

<% end %>

<script>
$(document).ready(function() {
    $("a.pop").popover({ placement: 'right', animation:true });
		$("a.tip").tooltip({ animation: true, placement: 'top', trigger:'hover' });
		$("a.tip-bottom").tooltip({ animation: true, placement: 'bottom', trigger:'hover' });
});
</script>