<%= form_for @project do |f| %>
<% date = Date.today %>

	<h2 class="first">Time Tracking (by phase)</h2>
	<% if @project.employee_teams.length == 0 || @project.phases.length == 0 %>
		<p class="description">This project's team and phases have not been set up yet. Click the 'setup' tab in the bar above to add team members and select phases.</p>
	<% else %>
		<p class="description">Enter target hours for each team member in the table below to help determine project fee.</div>

		<table class="table tracking-table targets">
			<thead>
                <tr>
                    <th class="bold">Team Member</th>
                    <th class="smalltext"></th>
                    <% @project.available_phases.each do |phase| %>
                    	<th class="table-cell"><%= phase.number %><br /><span class="name"><%= phase.name %></span></th>
                    <% end %>
                    <th class="total-hours">Total</th>
                </tr>
            </thead>
			<tbody>
				<%= f.fields_for :employee_teams do |team| %>
		    		<tr>
		    			<%= team.hidden_field :user_id %>
		    			<td class="tname"><%= team.object.employee_name %>
		    				<div class="role">
		    					<%= team.object.role %>
		    				</div>
		    			</td>
		    			<td class="labels">
							<div class="target">target</div>
						</td>

						<% @project.available_phases.each do |phase| %>
			                <td class="phase-cell">
			                    <%= team.text_field eval(":#{phase.shorthand}_hours") %>
			                </td>
			            <% end %>

			            <td class="total-hours">
			            	<div class="target-total">
								<%= nonzero(team.object.est_total) %>
							</div>
						</td>
		    		</tr>
		    	<% end %>
			</tbody>
			<tfoot>
				<tr class="est-hours">
					<td>Target Hours</td>
					<td></td>
					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero(@project.phase_est(phase.shorthand)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero(@project.sum_est) %></td>
				</tr>
				<tr class="est-fees">
					<td>Target Fees</td>
					<td></td>
					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero_currency(@project.target_billing_total(phase.number)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero_currency(@project.target_billing_total('Total')) %></td>
				</tr>
			</tfoot>
		</table>
		 
		<div class="save-row">
			<%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>

<% end %>