<%= form_for @project do |f| %>
<% date = Date.today %>
	<h2>Time Forecast (by week)</h2>

	<% if @project.employee_teams.length == 0 %>
		<p class="description">This project's team has not been set up yet. Click the 'setup' tab in the bar above to add team members.</p>
	<% else %>
		<p class="description">Enter weekly projected hours for each team member in the table below.</p>

		<table class="table forecast">
			<thead>
				<tr>
					<th></th>
					<% four_month_year_array(date).each do |w| %>
						<th><%= w %></th>
					<% end %>
				</tr>
				<tr>
					<th></th>
					<% four_month_monthname_array(date).each do |w| %>
						<th><%= w %></th>
					<% end %>
				</tr>
				<tr class="week">
					<th></th>
					<% four_month_weeknum_array(date).each do |w| %>
						<th class="<%= "current" if w == this_week %>"><%= w %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @project.employee_teams.each do |e| %>
				<tr>
					<td><%= e.employee_name %></td>
					<%= f.fields_for :plan_entries, @project.employee_forecast(e.user_id, four_month_array(date)) do |plan| %>
						<td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<% @project.forecast_week_total(four_month_array(date)).each do |w| %>
						<td><%= w %></td>
					<% end %>
				</tr>
			</tfoot>
		</table>
		<div class="save-row">
			<%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>

<% end %>
<%= four_month_test("1/1/2014".to_date) %>
<br><br>
<%= (Date.commercial(2014, 5, 1) - 1).strftime("%b") %>