<% provide :title, "Project Forecast" %>
<div class="page-header auto">
    <h1>Project Forecast</h1>
    <p class="description">This page is still being refined! Everything works - you can enter data and it will be saved - but it's a little plain right now and I'll be working on it more soon.</p>
</div>

<% date = Date.today.beginning_of_week(start_day = :sunday) - 1.week %>

<!-- modal for forecast edit edit -->
<div class="modal hide fade forecast-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"> </h3>
    </div>
    <div class="modal-body"></div>
</div>
<!-- end modal -->

    <div class="buttons">
        <%= link_to "by employee", projects_forecast_path(:view => 'employee'), :class => "btn #{'active' if params[:view] != 'project'}" %>
        <%= link_to "by project", projects_forecast_path(:view => 'project'), :class => "btn #{'active' if params[:view] == 'project'}" %>
    </div>

    <table class="table forecast index">
        
        <thead>
            <%= four_month_header_array(date) %>
        </thead>

        <tbody>
            <% if params[:view] != 'project' %>
                <% User.active_users.order("name ASC").each do |e| %>
                    <% if e.employee_teams.count > 0 %>
                        <tr class="head">
                            <td>
                                <a href="<%= edit_forecast_user_path(e.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= e.name %></a>
                            </td>
                            <% four_month_array(date).each do |w, y| %>
                                <td class="<%= month_shading(w, y) %>"><%= e.forecast_total(w, y) %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
                
            <% else %>
                <% Project.current.order("name ASC").each do |p| %>
                    <tr class="head">
                        <td>
                            <a href="<%= edit_forecast_project_path(p.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= p.name %></a>
                        </td>
                        <% four_month_array(date).each do |w, y| %>
                            <td class="<%= month_shading(w, y) %>"><%= p.forecast_total(w, y) %></td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        </tbody>

        <tfoot>
            <tr>
                <td></td>
                <% four_month_array(date).each do |w, y| %>
                    <td class="<%= month_shading(w, y) %>"><%= forecast_total_all(w, y) %></td>
                <% end %>
            </tr>
        </tfoot>
        
    </table>

<% content_for :scripts do %>
    <script>
    //reset modal remote on close
    $('#myModal').on('hide.bs.modal', function (e) {
        $(this).data('bs.modal', null);
    });
    </script>
<% end %>