<% provide :title, "Project Forecast" %>
<div class="page-header auto">
    <h1>Studio Forecast</h1>
    <p class="description">This page is still being refined! Everything works - you can enter data and it will be saved - but it's a little plain right now and I'll be working on it more soon.</p>
</div>

<% date = Date.today.beginning_of_week(start_day = :sunday) - 1.week %>

<!-- modal for forecast edit edit -->
<div class="modal hide fade forecast-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"> </h3>
    </div>
    <div class="modal-body"></div>
</div>
<!-- end modal -->

    <div class="buttons">
        <%= link_to "by employee", projects_forecast_path(:view => 'employee'), :class => "btn #{'active' if params[:view] == 'employee'}" %>
        <%= link_to "by project", projects_forecast_path(:view => 'project'), :class => "btn #{'active' if params[:view] == 'project'}" %>
        <%= link_to "unassigned/available", projects_forecast_path(:view => 'unassigned'), :class => "btn #{'active' if params[:view] == 'unassigned'}" %>
    </div>

    <% if params[:view] == 'project' || params[:view] == 'employee' %>
    <h2>Forecasted Hours</h2>
        <table class="table forecast index unassigned">
            
            <thead>
                <%= four_month_header_array(date) %>
            </thead>

            <tbody>
                <% if params[:view] != 'project' %>
                    <% User.active_users.order("name ASC").each do |e| %>
                        <% if e.employee_teams.count > 0 %>
                            <tr class="head">
                                <td>
                                    <%= link_to e.name, forecast_user_path(e.id) %>
                                </td>
                                <% four_month_array(date).each do |w, y| %>
                                    <td class="<%= month_shading(w, y) %>"><%= nonzero_round(e.forecast_total(w, y)) %></td>
                                <% end %>
                            </tr>
                        <% end %>
                    <% end %>
                    
                <% else %>
                    <% Project.current.order("name ASC").each do |p| %>
                        <tr class="head">
                            <td>
                                <%= link_to p.name, forecast_project_path(p.id) %>
                            </td>
                            <% four_month_array(date).each do |w, y| %>
                                <td class="<%= month_shading(w, y) %>"><%= nonzero_round(p.forecast_total(w, y)) %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= nonzero_round(forecast_total_all(w, y)) %></td>
                    <% end %>
                </tr>
            </tfoot>
            
        </table>
        <span class="bold">Current Projects: <%= @projects.count %></span>

    <% else %>

        <h2>Unassigned Hours</h2>

        <table class="table forecast index unassigned">
            
            <thead>
                <%= four_month_header_array(date) %>
            </thead>

            <tbody>
                <% Project.current.order("name ASC").each do |p| %>
                    <% if p.unassigned_nonblank.count > 0 %>
                        <tr class="head">
                            <td>
                                <%= link_to p.name, forecast_project_path(p.id) %>
                            </td>
                            <% p.unassigned_hours(four_month_array(date)).each do |plan| %>
                                <td class="<%= month_shading(plan.week, plan.year) %>"><%= nonzero_round(plan.hours) %></td>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td>Total Unassigned</td>
                    <% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= nonzero_round(UnassignedHour.all_by_week(w, y)) %></td>
                    <% end %>
                </tr>
            </tfoot>
            
        </table>

        <h2>Available Hours</h2>

        <table class="table forecast index unassigned">
            
            <thead>
                <%= four_month_header_array(date) %>
            </thead>

            <tbody>
                <% User.active_users.order("name ASC").each do |u| %>
                    <tr class="head">
                        <td><%= link_to u.name, forecast_user_path(u.id) %></td>
                        <% four_month_array(date).each do |w, y| %>
                            <td class="<%= month_shading(w, y) %> <%= "over" if u.remaining_hours(w,y) < 0 %>">
                                <div class="rem"><%= nonzero_round(u.remaining_hours(w,y)) %></div></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td>Total Available</td>
                    <% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= User.all_remaining_hours(w,y) %></td>
                    <% end %>
                </tr>
            </tfoot>
            
        </table>

    <% end %>

<% content_for :scripts do %>
    <script>
    //reset modal remote on close
    $('#myModal').on('hide.bs.modal', function (e) {
        $(this).data('bs.modal', null);
    });
    </script>
<% end %>