<% content_for :page_header do %>
	<% provide :title, "6-Month Forecast" %>
    <div class="page-header">
        <h1>4-Month Forecast</h1>
    </div>
<% end %>

<table class="table forecast index">
    <thead>
        <tr>
            <th></th>
            <% four_month_year_array.each do |w| %>
                <th><%= w %></th>
            <% end %>
        </tr>
        <tr>
            <th></th>
            <% four_month_monthname_array.each do |w| %>
                <th><%= w %></th>
            <% end %>
        </tr>
        <tr class="week">
            <th></th>
            <% four_month_weeknum_array.each do |w| %>
                <th <%= "class='current'" if w == this_week %>><%= w %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% Project.current.each do |p| %>
            <tr class="project">
                <td><%= link_to p.name, forecast_project_path(p.id) %></td>
                <% four_month_array.each do |w, y| %>
                    <td class="<%= month_shading(w, y) %>"></td>
                <% end %>
            </tr>
            <% p.employee_teams.each do |e| %>
            <tr class="employee">
                <td><%= e.employee_name %></td>
                <% p.employee_forecast(e.employee_id, four_month_array).each do |plan| %>
                    <td class="<%= month_shading(plan.week, plan.year) %>"><%= plan.hours %></td>
                <% end %>
            </tr>
            <% end %>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <% forecast_week_total_all(four_month_array).each do |w| %>
                <td><%= w %></td>
            <% end %>
        </tr>
    </tfoot>
</table>