<%= form_for @project do |f| %>

	<%= render 'project_header', f: f %>
	<% date = Date.today.beginning_of_week(start_day = :sunday) - 1.week %>

	<h2>Project Forecast</h2>

	<% if @project.employee_teams.length == 0 %>
		<p class="description">This project's team has not been set up yet. Click the 'team' tab in the bar above to add team members.</p>
	<% else %>
		<!--<p class="description">Enter weekly projected hours for each team member in the table below.</p>-->
		<p class="description">This page is still being refined! Everything works - you can enter data and it will be saved - but it's a little plain right now and I'll be working on it more soon.</p>

		<div class="buttons">
        	<%= link_to "all studio forecast", projects_forecast_path(:view => 'project'), :class => "btn active" %>
    	</div>

		<table class="table forecast">
			<thead>
				<%= four_month_header_array(date) %>
			</thead>
			<tbody>
				<% @project.employee_teams.each do |e| %>
				<tr>
					<td><%= link_to e.employee_name, forecast_user_path(e.user_id) %></td>
					<%= f.fields_for :plan_entries, @project.employee_forecast(e.user_id, four_month_array(date)) do |plan| %>
						<td class="<%= month_shading(plan.object.week, plan.object.year) %>"><%= plan.text_field :hours, class: "small #{'current' if plan.object.week == this_week}" %>
						</td>
					<% end %>
				</tr>
				<% end %>
				<tr class="unassigned">
	                <td>Unassigned Hours</td>
	                <%= f.fields_for :unassigned_hours, @project.unassigned(four_month_array(date)) do |a| %>
	                    <td class="<%= month_shading(a.object.week, a.object.year) %>"><%= a.text_field :hours, class: "small #{'current' if a.object.week == this_week}" %>
	                    </td>
	                <% end %>
	            </tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<% four_month_array(date).each do |w, y| %>
                        <td class="field <%= month_shading(w, y) %>"><%= nonzero_round(@project.forecast_total(w, y)) %></td>
                    <% end %>	
				</tr>
			</tfoot>
		</table>

		<div class="save-row">
			<%= f.submit "Save", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>

<% end %>




