<% content_for :page_header do %>
	<% provide :title, "Project Forecast" %>
    <div class="page-header">
        <h1>4-Month Forecast</h1>
    </div>
<% end %>
<% date = Date.today %>

<!-- modal for forecast edit edit -->
<div class="modal hide fade forecast-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"> </h3>
    </div>
    <div class="modal-body"></div>
</div>
<!-- end modal -->

<table class="table forecast index">
    <thead>
        <tr>
            <th></th>
            <% four_month_year_array(date).each do |w| %>
                <th><%= w %></th>
            <% end %>
        </tr>
        <tr>
            <th class="buttons">
                <%= link_to "by project", projects_forecast_path(:view => 'project'), :class => "btn #{'active' if params[:view] != 'employee'}" %>
                <%= link_to "by employee", projects_forecast_path(:view => 'employee'), :class => "btn #{'active' if params[:view] == 'employee'}" %>
            </th>
            <% four_month_monthname_array(date).each do |w| %>
                <th><%= w %></th>
            <% end %>
        </tr>
        <tr class="week">
            <th></th>
            <% four_month_weeknum_array(date).each do |w| %>
                <th class="<%= "current" if w == this_week %>"><%= w %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% if params[:view] != 'employee' %>
            <% Project.current.each do |p| %>
                <tr class="head">
                    <td>
                        <a href="<%= edit_forecast_project_path(p.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= p.name %></a>
                    </td>
                    <% four_month_array(date).each do |w, y| %>
                        <td class="<%= month_shading(w, y) %>"><%= p.forecast_total(w, y) %></td>
                    <% end %>
                </tr>
            <% end %>
        <% else %>
            <% User.active_users.each do |e| %>
                <% if e.employee_teams.count > 0 %>
                    <tr class="head">
                        <td>
                            <a href="<%= edit_forecast_user_path(e.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= e.name %></a>
                        </td>
                        <% four_month_array(date).each do |w, y| %>
                            <td class="<%= month_shading(w, y) %>"><%= e.forecast_total(w, y) %></td>
                        <% end %>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <% forecast_week_total_all(four_month_array(date)).each do |w| %>
                <td><%= w %></td>
            <% end %>
        </tr>
    </tfoot>
</table>

<script>
//reset modal remote on close
$('#myModal').on('hide.bs.modal', function (e) {
    $(this).data('bs.modal', null);
});
</script>