<% provide :title, "Projects" %>
<div class="page-header">
    <h1>Projects Database</h1>
</div>

<h2 class="first">Search Projects</h2>

<div class="description">Enter all or part of the project name. Choose an option from the menu at left to narrow your search. To show all projects within a category, just leave the name and number fields blank.</div>

<div class="gray-box">

	<%= search_form_for @q do |f| %>

		<div class="status-options">
	        <div><%= f.radio_button(:status_cont, "") %><label class="radio">All</label></div>
			<div><%= f.radio_button(:status_cont, "current") %><label class="radio">Current</label></div>
			<div><%= f.radio_button(:status_cont, "completed") %><label class="radio">Completed</label></div>
		</div>

		<%= f.text_field :name_cont, class: "search-name", placeholder: "Project Name" %>   
		<%= f.text_field :number_cont, class: "search-number", placeholder: "Number" %>    
		<%= f.submit "Search", class: "btn btn-primary search-btn" %>
			     
	<% end %>

</div>

<% if (params.has_key?(:q)) %>

	<% if @projects.count == 0 %>
        <h2>Search Results</h2>
		    <div class="search-results">
                No matches.<br><br><a href="/projects/" class="btn">Clear search and try again.</a><br><br>
                <div class="line"></div>
            </div>
        
	<% else %>

    <h2>Search Results (<%= @projects.count %>) <a class="reset" href="/projects">reset search</a></h2>

		<table class="table search-results projects">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
		    <tbody>
		        <% @projects.each do |param| %>
		            <%= render 'project', :f => param %>
		        <% end %>
		    </tbody>
		</table>
        <%= will_paginate @project %>
        <div class="line"></div>

	<% end %>

<% end %>

<div class="row icons five">

    <div class="tile-box">
        <%= link_to image_tag("pencils.png", :alt => "current-projects", :class => "round-icon"), projects_current_path %>
        <%= link_to "Current Projects", projects_current_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("bell.png", :alt => "new-project", :class => "round-icon"), new_project_path(:status => 'current') %>
        <%= link_to "Add A New Project", new_project_path(:status => 'current'), :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("forecast.png", :alt => "forecast", :class => "round-icon"), projects_forecast_path(:view => 'employee') %>
        <%= link_to "Studio Forecast", projects_forecast_path(:view => 'employee'), :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("marketing-icon.png", :alt => "marketing", :class => "round-icon"), marketing_index_path %>
        <%= link_to "Marketing", marketing_index_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("potential.png", :alt => "potential", :class => "round-icon"), potential_projects_path %>
        <%= link_to "Potential Projects", potential_projects_path, :class => "tile-label" %>
    </div>

</div> <!-- end icons -->
<div class="row icons five three">

    <div class="tile-box">
        <%= link_to image_tag("worksheet.png", :alt => "forecast", :class => "round-icon"), billing_worksheet_path %>
        <%= link_to "Billing Worksheet", billing_worksheet_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("money.png", :alt => "forecast", :class => "round-icon"), fees_billed_by_month_path(1) %>
        <%= link_to "TKWA Fees Billed By Month", fees_billed_by_month_path(1), :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("money.png", :alt => "forecast", :class => "round-icon"), fees_billed_by_month_path(2) %>
        <%= link_to "Bridge3 Fees Billed By Month", fees_billed_by_month_path(2), :class => "tile-label" %>
    </div>


</div> <!-- end icons -->

<% if has_current_projects?(@user) %>
  <h2>My Projects</h2>
  	<ul class="project-list">
        <% @user.employee_teams.current.each do |team| %>
        <li><%= link_to Project.where(id: team.project_id).first.name, info_project_path(Project.where(id: team.project_id).first) %></li>
        <% end %>
     </ul>
<% end %>


