<% content_for :page_header do %>
	<% provide :title, "Projects" %>
    <div class="page-header">
        <h1>Projects Database</h1>
        <!--<ul class="controls">
            <li><a href="/projects/">reset</a></li>
            <li><a href="#">advanced search</a></li>
        </ul>-->
    </div>
<% end %>

<h2 class="first">Search Projects</h2>

<div class="description">Enter all or part of the project name. Choose an option from the menu at left to narrow your search. To show all projects within a category, just leave the name and number fields blank.</div>

<div class="gray-box">

	<%= search_form_for @q do |f| %>

		<div class="status-options">
	        <div><%= f.radio_button(:status_cont, "") %><label class="radio">All</label></div>
	        <!--<div><%= f.radio_button(:status_cont, "potential") %><label class="radio">Potential</label></div>-->
			<div><%= f.radio_button(:status_cont, "current") %><label class="radio">Current</label></div>
			<div><%= f.radio_button(:status_cont, "completed") %><label class="radio">Completed</label></div>
		</div>

		<%= f.text_field :name_cont, class: "search-name", placeholder: "Project Name" %>   
		<%= f.text_field :number_eq, class: "search-number", placeholder: "Number" %>    
		<%= f.submit "Search", class: "btn btn-primary search-btn" %>
			     
	<% end %>

</div>

<% if (params.has_key?(:q)) %>

	<% if @projects.count == 0 %>
		<div class="search-results">No matches.<br><a href="/projects/">Clear search and try again.</a></div>
	<% else %>

    <h2>Search Results</h2>

		<table class="table search-results">
		    <tbody>
		        <% @projects.each do |param| %>
		            <%= render 'project', :f => param %>
		        <% end %>
		    </tbody>
		</table>

	<% end %>

<% end %>

<div class="row icons">

    <div class="tile-box">
        <%= link_to image_tag("bell.png", :alt => "new-project", :class => "round-icon"), new_project_path %>
        <%= link_to "Add A New Project", new_project_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("consultants.png", :alt => "consultants", :class => "round-icon"), consultants_path %>
        <%= link_to "View Consultants", consultants_path, :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("forecast.png", :alt => "forecast", :class => "round-icon"), "#" %>
        <%= link_to "6-Month Forecast", "#", :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("potential.png", :alt => "potential", :class => "round-icon"), potential_projects_path %>
        <%= link_to "Potential Projects", potential_projects_path, :class => "tile-label" %>
    </div>

  </div> <!-- end tiles -->

<% if has_current_projects? %>
  <h2>My Current Projects</h2>
  	<ul class="my-projects">
        <% @contact.employee_teams.current.each do |team| %>
        <li><%= link_to Project.find_by_id(team.project_id).name, info_project_path(Project.find_by_id(team.project_id)) %></li>
        <% end %>
     </ul>
<% end %>

