<h3>Project Information</h3>
<%= form_for(@project, html: { class: "form-horizontal" }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

	<fieldset>
		<div class="notes"></div>
				
		<div class="row">
											
			<div class="span7">
							
				<div class="control-group">
					<%= f.label(:name, "Project Name", class: "control-label") %>
					<div class="controls">
  						<%= f.text_field :name, class: "span5" %>
					</div>
				</div>
								
				<div class="control-group">
					<%= f.label(:location, "Project Location", class: "control-label") %>
					<div class="controls">
						<%= f.text_area :location, class: "span5", rows: "2" %>
					</div>
				</div>
								
				<div class="control-group">
					<%= f.label :client, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :client, class: "span5" %>
					</div>
				</div>
								
				<div class="control-group">
					<%= f.label(:contact_name, "Primary Contact", class: "control-label") %>
					<div class="controls">
						<%= f.text_field :contact_name, class: "span5" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :contact_phone, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :contact_phone, class: "span3" %>
						&nbsp; Ext: &nbsp;<%= f.text_field :contact_ext, class: "span1" %>
					</div>
				</div>
          				
          		<div class="control-group">
					<%= f.label :contact_email, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :contact_email, class: "span5" %>
					</div>
				</div>

				<input type="button" class="btn subtle form-offset" value="This is also the billing contact" onClick="copyContact()">

				
													
							
			</div> <!-- end span7 -->
			
			<div class="span5">
							
				<div class="control-group">
					<%= f.label(:number, "Project Number", class: "control-label") %>
					<div class="controls">
						<%= f.text_field :number, class: "span2" %>
					</div>
				</div>
								
				<div class="control-group">
					<%= f.label :building_type, class: "control-label" %>
					<div class="controls">
						<%= f.select(:building_type, Project::BUILDING_TYPES, {:prompt => '…'}) %>
              		</div>
				</div>
			
				<div class="control-group">
					<%= f.label :client_type, class: "control-label" %>
					<div class="controls">
						<%= f.select(:client_type, Project::CLIENT_TYPES, {:prompt => '...'}) %>
              		</div>
				</div>
									
          		<div class="control-group">
          			<%= f.label :status, class: "control-label" %>
          			<div class="controls">
		          		<label class="radio"><%= f.radio_button(:status, "potential") %>Potential</label>
						<label class="radio"><%= f.radio_button(:status, "current") %>Current</label>
						<label class="radio"><%= f.radio_button(:status, "completed") %>Completed</label>
					</div>						
          		</div>
							
			</div> <!-- /span5 -->
					
		</div> <!-- /row -->
						
		<br /><br />
						
		<h3>Billing + Contract Information</h3>
		<div class="notes"></div>
						
		<div class="row">
							
			<div class="span7">
					
				<div class="control-group">
					<%= f.label(:billing_name, "Billing Contact", class: "control-label") %>
					<div class="controls">
						<%= f.text_field :billing_name, class: "span5" %>
					</div>
				</div>
          				
          		<div class="control-group">
					<%= f.label :billing_address, class: "control-label" %>
					<div class="controls">
						<%= f.text_area :billing_address, class: "span5", rows: "2" %>
					</div>
				</div>
								
				<div class="control-group">
					<%= f.label :billing_phone, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :billing_phone, class: "span3" %>
						&nbsp; Ext: &nbsp;<%= f.text_field :ext, class: "span1" %>
					</div>
				</div>
          				
          		<div class="control-group">
					<%= f.label :billing_email, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :billing_email, class: "span5" %>
					</div>
				</div>
          				
          			
          	</div> <!-- end span7 -->
          					
          	<div class="span5">
				
          		<div class="control-group">
					<%= f.label :billing_type, class: "control-label" %>
					<div class="controls">
						<%= f.select(:billing_type, Project::BILLING_TYPES, {:prompt => '...'}) %>
              		</div>
            	</div>
            
            	<div class="control-group">
					<%= f.label(:billing_travel, "Travel Billing", class: "control-label") %>
					<div class="controls">
						<%= f.select(:billing_travel, Project::BILLING_TRAVEL_TYPES, {:prompt => '...'}) %>
              		</div>
            	</div>
            
            	<div class="control-group">
					<%= f.label(:billing_consultant, "Consultant Billing", class: "control-label") %>
					<div class="controls">
						<%= f.select(:billing_consultant, Project::BILLING_CONSULTANT_TYPES, {:prompt => '...'}) %>
              		</div>
            	</div>
          						
          		<div class="control-group">
					<%= f.label(:billing_outofpocket, "Out-of-Pocket", class: "control-label") %>
					<div class="controls">
						Bill expenses + <%= f.text_field :billing_outofpocket, class: "span1" %> % markup
					</div>
				</div>
          				
  			</div> <!-- end span5 -->
  							
  		</div> <!-- end row -->	
	</fieldset>
	<br /><br />
	<div class="row">
		<div class="span12">
			<div class="actions">
    			<%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
    			<input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
			</div>
		</div>
	</div>

<% end %>
			