<%= form_for @project do |f| %>

    <%= render 'project_header', f: f %>

    <%= render 'shared/error_messages', object: f.object %>

    <%= render 'fields', f: f %>

    <% if Project.related_projects(f.object.number_base).count > 1 %>
        <h2>Related Projects</h2>
        <div class="full">

            <ul class="related">
                <% Project.related_projects(f.object.number_base).order('number ASC').each do |p| %>
                    <% unless p.number == f.object.number %>
                        <li><%= link_to "#{p.number} - #{p.name}", info_project_path(p) %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="save-row">
        <%= f.submit "Save", class: "btn btn-primary save-btn" %>
	</div>

<% end %>
