<%= form_for @project do |f| %>

    <h2>Marketing Information</h2>

        <div class="narrow">
                    
             <div class="input-row">
                  <%= f.label(:mkt_location, "Location", class: "input-label") %>
                  <%= f.text_field :mkt_location, class: "" %>
            </div>
            <div class="input-row">
                  <%= f.label(:mkt_status, "Status", class: "input-label") %>
                  <%= f.text_field :mkt_status, class: "" %>
            </div> 
            <div class="input-row">
                  <%= f.label(:mkt_size, "Size", class: "input-label") %>
                  <%= f.text_field :mkt_size, class: "" %>
            </div>  
            <div class="input-row">
                  <%= f.label(:mkt_cost, "Cost", class: "input-label") %>
                  <%= f.text_field :mkt_cost, class: "" %>
            </div> 
        </div>
        

        <h2>Project Description</h2>

            <div class="full">

                <div class="input-row">
                    <%= f.label(:mkt_description, "Description", class: "input-label") %>
                    <%= f.text_area :mkt_description, class: "", rows: "20" %>
                </div>

            </div>

        <div class="save-row">
            <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
        </div>


<% end %>

