<%= form_for @project do |f| %>

    <%= render 'project_header', f: f %>

    <div class="full marketing">

        <div class="wide">
            <h2>Marketing Display Name <span class="note">(edit if different from our project name)</span></h2>
            <%= f.text_field :mkt_display_name, class: "" %>

            <h2>Project Description</h2>

            <div class="input-row">
                <%= f.text_area :mkt_description, class: "", rows: "26" %>
            </div>
            <div class="char-count">Last updated: <%= f.object.updated_at.strftime("%B %d, %Y at %I:%M %p") %> by <%= f.object.mkt_last_edited_by %></div>
            <div class="char-count">Character count: <%= f.object.mkt_description.to_s.chars.length %> / 1600</div>
        </div>

        <div class="narrow">
            <h2>Project Stats</h2>
                    
            <div class="input-row">
                  <%= f.label(:mkt_location, "Location", class: "input-label") %>
                  <%= f.text_field :mkt_location, class: "" %>
            </div>
            <div class="input-row">
                  <%= f.label(:mkt_status, "Status", class: "input-label") %>
                  <%= f.text_field :mkt_status, class: "" %>
            </div> 
            <div class="input-row">
                  <%= f.label(:mkt_size, "Size", class: "input-label") %>
                  <%= f.text_field :mkt_size, class: "" %>
            </div>  
            <div class="input-row">
                  <%= f.label(:mkt_cost, "Cost", class: "input-label") %>
                  <%= f.text_field :mkt_cost, class: "" %>
            </div> 
            <div class="input-row">
                  <%= f.label(:mkt_reference, "Reference", class: "input-label") %>
                  <%= f.text_field :mkt_reference, class: "" %>
            </div> 

            <div class="input-row">
                  <%= f.label(:mkt_active, "Show in list?", class: "input-label") %>
                  <div class="switch-box">
                    <%= f.check_box(:mkt_active, { data_toggle: "switch"  } )  %> 
                    <%= link_to "View Marketing List", marketing_index_path, class: "green" %>
                </div>
            </div> 
            
            <%= f.hidden_field :mkt_last_edited_by, value: "#{current_user.name}" %>

            <h2>Categories</h2>

            <div class="input-row marketing-categories">
                <%= hidden_field_tag "project[marketing_category_ids][]", nil %>
                <% MarketingCategory.all.each do |cat| %>
                    <label class="checkbox">
                        <%= check_box_tag "project[marketing_category_ids][]", cat.id, @project.marketing_category_ids.include?(cat.id), id: dom_id(cat), data_toggle: "checkbox" %>
                        <%= cat.name %>
                    </label>
                <% end %>
            </div> 

        </div>

    </div>

    <div class="save-row">
        <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
    </div>

<% end %>
