<% content_for :page_header do %>
    <% provide :title, "New Project" %>
    <div class="page-header">
        <h1>New <%= "Potential " if params[:status] == 'potential' %>Project</h1>
    </div>
<% end %>

    <%= form_for @project do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <% if params[:status] == 'potential' %>
            <h2>Potential Project Status</h2>
            <div class="narrow">
                <div class="input-row">
                    <%= f.label(:proposal_date, "Proposal Due Date", class: "input-label") %>
                    <%= f.text_field :proposal_date, class: "datepicker input-narrow" %>
                </div>
                <div class="input-row">
                    <%= f.label(:interview_date, "Interview Date", class: "input-label") %>
                    <%= f.text_field :interview_date, class: "datepicker input-narrow" %>
                </div>
            </div>
            <div class="wide last">
                <div class="input-row">
                    <%= f.label(:awarded, "Awarded?", class: "input-label small-label") %>
                        <div class="radio-group">
                            <label class="radio">
                                <%= f.radio_button :awarded, "pending", data_toggle: "radio" %>
                                Pending
                                <div id="note" class="radio-note">If we get this project, select 'Yes' to move it into Current Projects. If not, select 'No' to remove it from the Potential Projects list.</div>
                            </label>
                            <label class="radio">
                                <%= f.radio_button :awarded, "yes", data_toggle: "radio" %>
                                Yes
                                <div id="awarded" class="radio-hint">Awesome! Don't forget to change the status to 'Current" and add a project number.</div>
                            </label>

                            <label class="radio">
                                <%= f.radio_button :awarded, "no", data_toggle: "radio" %>
                                No
                                <div id="not-awarded" class="radio-hint">Note: This project will no longer show up as 'active' on the Potential Projects page.</div>
                            </label>
                        </div>
                </div>

            </div>
        <% end %>
        
        <h2>Project Information</h2>

        <div class="wide">
            <div class="input-row">
                <%= f.label(:name, "Project Name", class: "input-label") %>
                <%= f.text_field :name, class: "" %>
            </div>
            <div class="input-row">
                <%= f.label(:location, "Location", class: "input-label") %>
                <%= f.text_area :location, class: "", rows: "2" %>
            </div>
            <div class="input-row">
                <%= f.label(:client, "Client", class: "input-label") %>
                <%= f.text_field :client, class: "" %>
            </div>
        </div>

        <div class="narrow">
            <div class="input-row">
                <%= f.label(:number, "Project Number", class: "input-label") %>
                <%= f.text_field :number, class: "input-narrow" %>
            </div>
            <div class="input-row">
                <%= f.label(:building_type, "Building Type", class: "input-label") %>
                <%= f.select(:building_type, Project::BUILDING_TYPES, {:prompt => ' '}, {:class => 'custom-select'}) %>
            </div>
            <div class="input-row">
                <%= f.label(:client_type, "Client Type", class: "input-label") %>
                <%= f.select(:client_type, Project::CLIENT_TYPES, {:prompt => ' '}, {:class => 'custom-select'} ) %>
            </div>
            <div class="input-row">
                <%= f.label(:status, "Status", class: "input-label") %>
                    <div class="radio-group">
                        <label class="radio">
                             <%= radio_button_tag("project[status]", "potential", params[:status] == 'potential', { data_toggle: "radio" } ) %>
                            Potential
                        </label>
                        <label class="radio">
                            <%= f.radio_button :status, "current", data_toggle: "radio" %>
                            Current
                        </label>
                        <label class="radio">
                            <%= f.radio_button :status, "completed", data_toggle: "radio" %>
                            Completed
                        </label>
                    </div>
            </div>
        </div>

        <% if params[:status] == 'potential' %>

            <h2>Contact Information</h2>
                            
            <div class="wide">
                    
                <div class="input-row">
                    <%= f.label(:contact_name, "Contact Name", class: "input-label") %>
                    <%= f.text_field :contact_name, class: "" %>
                </div>
                <div class="input-row">
                    <%= f.label(:contact_email, "Contact Email", class: "input-label") %>
                    <%= f.text_field :contact_email, class: "" %>
                </div>        

                <div class="input-row">
                    <%= f.label(:contact_phone, "Contact Phone", class: "input-label") %>
                    <%= f.text_field :contact_phone, value: number_to_phone(@project.contact_phone, :area_code => true), class: "" %>
                </div>
                        
            </div> <!-- end wide -->

        <% else %>

            <h2>Billing Information</h2>
                            
            <div class="wide">
                    
                <div class="input-row">
                    <%= f.label(:billing_name, "Billing Contact", class: "input-label") %>
                    <%= f.text_field :billing_name, class: "" %>
                </div>
                        
                <div class="input-row">
                    <%= f.label(:billing_address, "Billing Address", class: "input-label") %>
                    <%= f.text_area :billing_address, class: "", rows: "2" %>
                </div>
                                
                <div class="input-row">
                    <%= f.label(:billing_phone, "Billing Phone", class: "input-label") %>
                    <%= f.text_field :billing_phone, value: number_to_phone(@project.billing_phone, :area_code => true), class: "" %>
                </div>
                        
            </div> <!-- end wide -->

        <% end %>
  
        <div class="save-row">
            <%= f.submit "Add Project", class: "btn btn-primary save-btn", action: "create", controller: "projects" %>
        </div>

    <% end %>

    <script>
    if ( $('#project_status_potential').attr('checked') == 'checked' ) {
        $('#project_number').parent('.input-row').hide();
    }

    $('#project_status_potential').change( function () {
        if ( $(this).attr('checked') ) {
            $('#project_number').parent('.input-row').hide();
        } else {
            $('#project_number').parent('.input-row').show();
        }
    });

    $('#project_awarded_yes').change( function () {
        if ( $(this).attr('checked') ) {
            $('#awarded').fadeIn("slow");
            $('#note').fadeOut("slow");
        } else {
            $('#awarded').fadeOut("slow");
        }
    });

    $('#project_awarded_no').change( function () {
        if ( $(this).attr('checked') ) {
            $('#not-awarded').fadeIn("slow");
            $('#note').fadeOut("slow");
        } else {
            $('#not-awarded').fadeOut("slow");
        }
    });

    $('#project_awarded_pending').change( function () {
        if ( $(this).attr('checked') ) {
            $('#not-awarded').fadeOut("slow");
            $('#awarded').fadeOut("slow");
            $('#note').fadeIn("slow");
        } else {
            $('#note').fadeOut("slow");
        }
    });
    </script>
