<% content_for :page_header do %>
    <% provide :title, "Add Pattern" %>
    <div class="page-header">
        <h1>New Project</h1>
    </div>
<% end %>

    <%= form_for @project do |f| %>
        
        <h2>Project Information</h2>

        <div class="wide">
            <div class="input-row">
                <%= f.label(:name, "Project Name", class: "input-label") %>
                <%= f.text_field :name, class: "" %>
            </div>
            <div class="input-row">
                <%= f.label(:location, "Location", class: "input-label") %>
                <%= f.text_area :location, class: "", rows: "2" %>
            </div>
            <div class="input-row">
                <%= f.label(:client, "Client", class: "input-label") %>
                <%= f.text_field :client, class: "" %>
            </div>
        </div>

        <div class="narrow">
            <div class="input-row">
                <%= f.label(:number, "Project Number", class: "input-label") %>
                <%= f.text_field :number, class: "" %>
            </div>
            <div class="input-row">
                <%= f.label(:building_type, "Building Type", class: "input-label") %>
                <%= f.select(:building_type, Project::BUILDING_TYPES, {:prompt => ' '}, {:class => 'custom-select'}) %>
            </div>
            <div class="input-row">
                <%= f.label(:client_type, "Client Type", class: "input-label") %>
                <%= f.select(:client_type, Project::CLIENT_TYPES, {:prompt => ' '}, {:class => 'custom-select'} ) %></div>
            </div>
        </div>

        <h2>Billing Information</h2>
                        
            <div class="wide">
                    
                <div class="input-row">
                    <%= f.label(:billing_name, "Billing Contact", class: "input-label") %>
                    <%= f.text_field :billing_name, class: "" %>
                </div>
                        
                <div class="input-row">
                    <%= f.label(:billing_address, "Billing Address", class: "input-label") %>
                    <%= f.text_area :billing_address, class: "", rows: "2" %>
                </div>
                                
                <div class="input-row">
                    <%= f.label(:billing_phone, "Billing Phone", class: "input-label") %>
                    <%= f.text_field :billing_phone, value: number_to_phone(@project.billing_phone, :area_code => true), class: "" %>
                </div>
                        
            </div> <!-- end wide -->
  
        <div class="save-row">
            <%= f.submit "Add Project", class: "btn btn-primary save-btn" %>
        </div>

    <% end %>

    
