<h3>Project Schedule</h3>

<%= form_for(@project, html: { class: "form-horizontal" }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  					
	<fieldset>	

		<div class="notes">
			Progress bar shows time elapsed as a percentage of total project duration.
		</div>			
										
					<div class="schedule-bar span10 offset1  blue-bkg">
					
						<!-- show progress bar and mark today's date if project is current -->
					    <div class="progress progress-info progress-striped">
    						<div class="bar" style="width: <%= @progress_width %>%;"></div>
    					</div>
    					<% if @project_over == false %>
    						<div class="marker todate" style="left:<%= @progress_width %>%;">
    							<div class="bubble"><div class="caps">current</div><%= short_date(Time.now) %></div>
							</div>
						<% end %>
    					
    					<!-- begin date -->
    					<div class="circle circle-begin <%= 'circle-filled' if @project_started %>"><div class="caps">start</div><div class="num-total"><%= short_date(@project.start_date) %></div><div class="caps">date</div></div>

    					<!-- predesign -->
    					<a class="phase-link tip" rel="tooltip" href="#" data-original-title="predesign" style="width: <%= @pd_width %>%;"></a>

    					<div class="phase-marker " style="left:<%= @pd_width %>%;"></div>

    					<!-- schematic -->
    					<a class="phase-link tip" rel="tooltip" href="#" data-original-title="schematic" style="left:<%= @pd_width %>%; width: <%= @sd_width %>%;"></a>

    					<div class="phase-marker " style="left:<%= @dd_left %>%;"></div>

    					<!-- design dev -->
    					<a class="phase-link tip current-phase" rel="tooltip" href="#" data-original-title="design dev" style="left:<%= @dd_left %>%; width: <%= @dd_width %>%;"></a>
    					
    					<div class="phase-marker " style="left:<%= @cd_left %>%;"></div>

    					<!-- const docs -->
    					<a class="phase-link tip" rel="tooltip" href="#" data-original-title="const docs" style="left:<%= @cd_left %>%; width: <%= @cd_width %>%;"></a>
    					
    					<div class="phase-marker " style="left:<%= @bid_left %>%;"></div>

    					<!-- bidding -->
    					<a class="phase-link tip" rel="tooltip" href="#" data-original-title="bidding" style="left:<%= @bid_left %>%; width: <%= @bid_width %>%;"></a>

    					<div class="phase-marker " style="left:<%= @cca_left %>%;"></div>

    					<!-- cca -->
    					<a class="phase-link tip" rel="tooltip" href="#" data-original-title="cca" style="left:<%= @cca_left %>%; width: <%= @cca_width %>%;"></a>
    					
    					<!-- end date -->						
						<div class="circle circle-complete <%= 'circle-filled' if @project_over %>"><div class="caps">finish</div><div class="num-total"><%= short_date(@project.completion_date) %></div><div class="caps">date</div></div>
						
					</div>
					
					<div class="row">
					
						<div class="span5">
						
								<br /><br />
							<div class="well well-white span4-5">
											
								<div class="row">
                                    <%= f.label :start_date, class: "span2 box-padding bold" %>
                                    <%= f.text_field :start_date, class: "span2", datadatepicker: "datepicker" %>
                                </div>

                                <div class="row">
                                    <%= f.label "Duration", class: "span2 box-padding bold" %>
                                    <div class="box-padding"><%= time_diff_in_natural_language(@project.completion_date, @project.start_date) %>
                                    </div>
                                </div>

								<div class="row">
                                    <%= f.label :completion_date, class: "span2 box-padding bold" %>
                                    <%= f.text_field :completion_date, class: "span2", datadatepicker: "datepicker" %>
                                </div>
									
							</div>
							
							<div class="span8">
											
								<table class="table staff-table flush">
					
									<thead>
										<tr>
											<th>Phase</th>
											<th>%</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Duration</th>
										</tr>
									</thead>
						
									<tbody>
										<tr>
											<td><div class="inputbox bold">10 Predesign</div></td>
											<td><%= f.text_field :pd_percent, class: "span0-5", placeholder: '5' %> %</td>
											<td><%= f.text_field :pd_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :pd_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.pd_start, @project.pd_end) %></div></td>
										</tr>

	
										<tr>
											<td><div class="inputbox bold">20 Schematic</div></td>
											<td><%= f.text_field :sd_percent, class: "span0-5", placeholder: '10' %> %</td>
											<td><%= f.text_field :sd_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :sd_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.sd_start, @project.sd_end) %></div></td>
										</tr>
										<tr>
											<td><div class="inputbox bold">30 Design Dev</div></td>
											<td><%= f.text_field :dd_percent, class: "span0-5", placeholder: '15' %> %</td>
											<td><%= f.text_field :dd_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :dd_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.dd_start, @project.dd_end) %></div></td>
										</tr>
										<tr>
											<td><div class="inputbox bold">40 Const Docs</div></td>
											<td><%= f.text_field :cd_percent, class: "span0-5", placeholder: '40' %> %</td>
											<td><%= f.text_field :cd_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :cd_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.cd_start, @project.cd_end) %></div></td>
										</tr>
										<tr>
											<td><div class="inputbox bold">50 Bidding</div></td>
											<td><%= f.text_field :bid_percent, class: "span0-5", placeholder: '5' %> %</td>
											<td><%= f.text_field :bid_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :bid_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.bid_start, @project.bid_end) %></div></td>
										</tr>
										<tr>
											<td><div class="inputbox bold">60 CCA</div></td>
											<td><%= f.text_field :cca_percent, class: "span0-5", placeholder: '25' %> %</td>
											<td><%= f.text_field :cca_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :cca_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.cca_start, @project.cca_end) %></div></td>
										</tr>
										<tr>
											<td><div class="inputbox bold">70 Additional</div></td>
											<td><%= f.text_field :add_percent, class: "span0-5", placeholder: '0' %> %</td>
											<td><%= f.text_field :add_start, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><%= f.text_field :add_end, class: "span1-5", datadatepicker: "datepicker" %></td>
											<td><div class="inputbox"><%= time_diff_in_natural_language(@project.add_start, @project.add_end) %></div></td>
										</tr>
									</tbody>
						
								</table>
							
																				
					</div> <!-- end row -->

	</fieldset>

	<br /><br />
	<div class="row">
		<div class="span12">
			<div class="actions">
    			<%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
    			<input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
			</div>
		</div>
	</div>

<% end %>
