<div id="scope-summary">
					<div class="row"> 
						<h3>Scope Summary</h3>
	  					<div class="notes">
						</div>	
					</div>
  				
  					<div class="row"> 
  										
  						<div class="well well-white span3-5">
  					
								<h4>Services Provided</h4><br />
								<ul>
									<% @project.services.each do |param| %>
  										<li><%= link_to param.service_name, param, 
  											{ rel: 'popover', class: 'pop', title: param.service_name, datacontent: param.description } %></li>
									<% end %>
								</ul>
						</div>
															
						<div class="well well-white span3-5">
								<h4>Reimbursables</h4><br />
								<ul>
									<% @project.reimbursables.each do |param| %>
  										<li><%= param.reimbursable_name %></li>
									<% end %>
								</ul>
						</div>
						
						<div class="well well-white span3-5">
								<h4>Consultants</h4><br />
								<ul>
									<% @project.consultant_roles.each do |param| %>
  										<li><%= param.consultant_role_name %></li>
									<% end %>
								</ul>						
						</div>
						
					</div> 
					<input id="scope-toggle" type="button" class="btn btn-large" value="Edit Scope" >


</div> <!-- end scope summary -->

<div id="scope-edit">
<%= form_for @project do |f| %>
<%= render 'shared/error_messages', object: f.object %>

	<fieldset>
		<h3>Project Phases<span class="notes">Selected are available for employees to enter hours.</span></h3>

		<div class="control-group span12 checkbox-group">
        	<div class="controls">
  				<%= hidden_field_tag "project[phase_ids][]", nil%>
    			<% Phase.all.each do |phase| %>
    				<label class="checkbox">
  						<%= check_box_tag "project[phase_ids][]", phase.id, @project.phase_ids.include?(phase.id), id: dom_id(phase) %>
  						<%= phase.number %>: <%= phase.full_name %>
  					</label>
				<% end %>
			</div>
		</div>

		<h3>Services Provided<span class="notes">Selected options are included in the total architectural fee. Items not selected are additional services.</span></h3>
  		<div class="links">
			<a id="team-all">Select all</a> | <a id="team-staff">Select none</a>
		</div>

        <div class="control-group span12 columns4 checkbox-group">
        	<div class="controls">
  				<%= hidden_field_tag "project[service_ids][]", nil%>
    			<% Service.all.each do |service| %>
    				<label class="checkbox">
  						<%= check_box_tag "project[service_ids][]", service.id, @project.service_ids.include?(service.id), id: dom_id(service) %>
  						<%= service.service_name %>
  					</label>
				<% end %>
			</div>
		</div>

		<h3>Reimbursables<span class="notes">Reimbursable expenses are not included in the architectural fee.</span></h3>
  		<div class="links">
			<a id="team-all">Select all</a> | <a id="team-staff">Select none</a>

		</div>

        <div class="control-group span12 columns4 checkbox-group">
        	<div class="controls">
  				<%= hidden_field_tag "project[reimbursable_ids][]", nil%>
    			<% Reimbursable.all.each do |reimbursable| %>
    				<label class="checkbox">
  						<%= check_box_tag "project[reimbursable_ids][]", reimbursable.id, @project.reimbursable_ids.include?(reimbursable.id), id: dom_id(reimbursable) %>
  						<%= reimbursable.reimbursable_name %>
  					</label>
				<% end %>
			</div>
		</div>

		<h3>Consultant Roles<span class="notes">Consultant roles required by the project.</span></h3>
  		<div class="links">
			<a id="check-all">Select all</a> | <a id="team-staff">Select none</a>
		</div>

        <div class="control-group span12 columns4 checkbox-group">
        	<div class="controls">
  				<%= hidden_field_tag "project[consultant_role_ids][]", nil%>
    			<% ConsultantRole.all.each do |consultant_role| %>
    				<label class="checkbox">
  						<%= check_box_tag "project[consultant_role_ids][]", consultant_role.id, @project.consultant_role_ids.include?(consultant_role.id), id: dom_id(consultant_role) %>
  						<%= consultant_role.consultant_role_name %>
  					</label>
				<% end %>
			</div>
		</div>

	</fieldset>

	<br /><br />

	<div class="row">
		<div class="span12">
			<div class="actions">
    			<%= f.submit "Save Changes", class: "btn btn-large btn-primary span3" %>
    			<input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
			</div>
		</div>
	</div>
	
<% end %>
</div> <!-- end scope edit -->