<%= form_for @project do |f| %>
<%= render 'shared/error_messages', object: f.object %>

    <p class="description top-margin">Selected items are included in the architectural fee. Items that are not selected are billed as #70 Additional Services.<br><br></p>

    <div class="full phases">
        <div class="column-header">
    	   <h3>Phases</h3>
        </div>
		<%= hidden_field_tag "project[phase_ids][]", nil %>
		<% Phase.all.each do |phase| %>
			<label class="checkbox">
				<div class="overlay">
					<div class="number"><%= phase.number %></div>
					<div class="phase-name"><%= phase.name %></div>
				</div>
				<%= check_box_tag "project[phase_ids][]", phase.id, @project.phase_ids.include?(phase.id), id: dom_id(phase), data_toggle: "checkbox" %>
			</label>
		<% end %>
	</div>

	<div class="third">
        <div class="column-header">
    	   <h3>Services</h3>
           <a class="control-link fui-new" href="#"></a>
        </div>
		<%= hidden_field_tag "project[service_ids][]", nil %>
		<% Service.all.each do |service| %>
			<label class="checkbox">
				<%= check_box_tag "project[service_ids][]", service.id, @project.service_ids.include?(service.id), id: dom_id(service), data_toggle: "checkbox" %>
				<%= service.service_name %>
			</label>
		<% end %>
	</div>

    <div class="third">
        <div class="column-header">
    	   <h3>Reimbursables</h3>
            <a class="control-link fui-new" href="#"></a>
        </div>
		<%= hidden_field_tag "project[reimbursable_ids][]", nil %>
		<% Reimbursable.all.each do |reimbursable| %>
			<label class="checkbox">
				<%= check_box_tag "project[reimbursable_ids][]", reimbursable.id, @project.reimbursable_ids.include?(reimbursable.id), id: dom_id(reimbursable), data_toggle: "checkbox" %>
				<%= reimbursable.reimbursable_name %>
			</label>
		<% end %>
	</div>

	<div class="third last">
        <div class="column-header">
    	   <h3>Consultants</h3>
            <a class="control-link fui-new" href="#"></a>
        </div>
		<%= hidden_field_tag "project[consultant_role_ids][]", nil %>
		<% ConsultantRole.all.each do |consultant_role| %>
			<label class="checkbox">
					<%= check_box_tag "project[consultant_role_ids][]", consultant_role.id, @project.consultant_role_ids.include?(consultant_role.id), id: dom_id(consultant_role), data_toggle: "checkbox" %>
					<%= consultant_role.consultant_role_name %>
				</label>
		<% end %>
	</div>
		

    <div class="save-row">
        <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
    </div>

<% end %>


    



