<%= form_for @project do |f| %>

	<div class="content">
        <div class="col-title">Shop Drawing Log</div>
          </div>
            <table class="table shop-table">
                <thead>
                  <tr>
                    <th class="center"></th>
                    <th class="s2 left"><div class="shop-label">drawing info</div>date rc'd</th>
                    <th class="s2">spec</th>
                    <th class="s0"></th>
                    <th class="s3">description</th>
                    <th class="s1 center">#</th>
                    <th class="left s3"><div class="shop-label">reviewed by</div>firm</th>
                    <th class="s2 left"><div class="shop-label">review status</div>date sent</th>
                    <th class="s1 center">#</th>
                    <th class="s4"><%= image_tag("text3.jpg", :class => "image-label") %></th>
                    <th class="s2">date rt'd</th>
                    <th class="s1 center">#</th>
                    <th class="s2 left"><div class="shop-label">final action</div>date</th>
                    <th><%= image_tag("text.png", :class => "image-label") %></th>
                    <th class="left"><div class="shop-label">controls</div><%= image_tag("text2.png", :class => "image-label") %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="center bold">1</td>
                    <td class="left">5/17/2012</td>
                    <td class="bold">03 20 00</td>
                    <td class="s0">A</td>
                    <td class="bold">Steel Rebar</td>
                    <td class="center">E1</td>
                    <td class="left">Spire</td>
                    <td class="left">5/18/2012</td>
                    <td class="center">E1</td>
                    <td class="s4">
                      <div class="check approved"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td>5/19/2012</td>
                    <td class="center">E1</td>
                    <td class="left">5/19/2012</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td class="center left">
                      <%= image_tag("add-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("revise-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("delete-mini-tall.png", :class => "image-btn") %>
                    </td>
                  </tr>
                  <tr>
                    <td class="center bold">2</td>
                    <td class="left">5/17/2012</td>
                    <td class="bold">03 20 00</td>
                    <td class="s0">A</td>
                    <td class="bold">Steel Rebar</td>
                    <td class="center">E1</td>
                    <td class="left">Spire Engineering</td>
                    <td class="left">5/18/2012</td>
                    <td class="center">E1</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check as-noted"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td>5/19/2012</td>
                    <td class="center">E1</td>
                    <td class="left">5/19/2012</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td class="center left">
                      <%= image_tag("add-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("revise-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("delete-mini-tall.png", :class => "image-btn") %>
                    </td>
                  </tr>
                  <tr>
                    <td class="center bold">3</td>
                    <td class="left">5/17/2012</td>
                    <td class="bold">03 20 00</td>
                    <td class="s0">A</td>
                    <td class="bold">Steel Rebar</td>
                    <td class="center">E1</td>
                    <td class="left">Spire Engineering</td>
                    <td class="left">5/18/2012</td>
                    <td class="center">E1</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check revise"></div>
                      <div class="check"></div>
                    </td>
                    <td>5/19/2012</td>
                    <td class="center">E1</td>
                    <td class="left">5/19/2012</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td class="center left">
                      <%= image_tag("add-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("revise-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("delete-mini-tall.png", :class => "image-btn") %>
                    </td>
                  </tr>
                  <tr>
                    <td class="center bold">4</td>
                    <td class="left">5/17/2012</td>
                    <td class="bold">03 20 00</td>
                    <td class="s0">A</td>
                    <td class="bold">Steel Rebar</td>
                    <td class="center">E1</td>
                    <td class="left">Spire Engineering</td>
                    <td class="left">5/18/2012</td>
                    <td class="center">E1</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check not-approved"></div>
                    </td>
                    <td>5/19/2012</td>
                    <td class="center">E1</td>
                    <td class="left">5/19/2012</td>
                    <td class="s4">
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                      <div class="check"></div>
                    </td>
                    <td class="center left">
                      <%= image_tag("add-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("revise-mini-tall.png", :class => "image-btn") %>
                      <%= image_tag("delete-mini-tall.png", :class => "image-btn") %>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
              <a class="add-link-sm" href="#">add a line</a>

	<div class="cutout">
	    <%= f.submit "save", class: "btn btn-large btn-primary save-button" %>
	</div>


<% end %>

