<%= form_for @project do |f| %>
		<div class="content">

			
	          
		    <div class="col-wide">
		    	<div class="col-title">Project Information</div>
		        <div class="span">
		              <%= f.label(:name, "project name", class: "label") %>
		              <%= f.text_field :name, class: "" %>
		        </div>
		        <div class="span">
		              <%= f.label(:location, "location", class: "label") %>
		              <%= f.text_area :location, class: "", rows: "2" %>
		        </div>
		        <div class="span">
		              <%= f.label(:name, "client/org", class: "label") %>
		              <%= f.text_field :client, class: "" %>
		        </div>  
		        <div class="span">
		              <%= f.label(:billing_name, "billing contact", class: "label") %>
		              <%= f.autocomplete_field :billing_name, autocomplete_contact_name_projects_path, class: "" %>
		        </div>          
		    </div>

		    <div class="col-narrow">
		        <div class="span">
		              <%= f.label(:number, "number", class: "label") %>
		              <%= f.text_field :number, class: "" %>
		        </div>
		        <div class="span">
		              <%= f.label(:building_type, "building type", class: "select-label") %>
		              <div class="styled-select"><%= f.select(:building_type, Project::BUILDING_TYPES, {:prompt => ' '}) %></div>
		        </div>
		        <div class="span">
		              <%= f.label(:client_type, "client type", class: "select-label") %>
		              <div class="styled-select"><%= f.select(:client_type, Project::CLIENT_TYPES, {:prompt => ' '} ) %></div>
		        </div>
		        <div class="span">
	            	<%= f.submit "save", class: "btn btn-primary save-btn" %>
	         	</div>
		    </div>

		</div>

	</div>

<% end %>

<br><br>

<%= form_for @project do |f| %>

	<div class="box">	

		<div class="content">
				
			<div class="col-half">
				<div class="col-title">TKWA Project Team</div>
				<!-- nested form for team-->
	    		<%= f.fields_for :employee_teams do |builder| %>
	    			<%= render 'employee_team_fields', :f => builder %>
	    		<% end %>
				<%= link_to_add_fields "add a team member", f, :employee_teams, "add-link easing" %>
	   			<!-- end team form -->
	         </div>

	        <div class="col-half last">
				<div class="col-title">Consultant Team</div>
				<!-- nested form for team-->
	    		<%= f.fields_for :consultant_teams do |builder| %>
	    			<%= render 'consultant_team_fields', :f => builder %>
	    		<% end %>
				<%= link_to_add_fields "add a consultant", f, :consultant_teams, "add-link easing" %>
	   			<!-- end team form -->
	        </div>

		 </div> <!-- end content -->

		 <div class="save-span">
		 	<%= f.submit "save", class: "btn btn-primary save-btn" %>
		 </div>

	</div>

<% end %>

