<%= form_for @project do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

	<h3>Project Team</h3>
  		<div class="notes">
			Select project team members and their roles. Adding a TKWA staff member to the project enables time tracking.
		</div>		
					
		<div class="row">	
					
			<div class="table-main">

				<div class="table-head">
					<div class="row">
						<div class="span3">TKWA Staff Name</div>
						<div class="span3">Role</div>
					</div>
				</div>

          		<div class="table-body">
        			<!-- nested form for team-->
            		<%= f.fields_for :teams do |builder| %>
            			<%= render 'team_fields', :f => builder %>
            		<% end %>
					<%= link_to_add_fields "add employee", f, :teams, "btn offset-left table-offset" %>
           			<!-- end team form -->
           		</div>	
           					
        	</div>
					
		</div> <!-- end row -->

		<br /><br />
      	<div class="row">
			<div class="span12">
				<div class="actions">
    				<%= f.submit "Save Changes", class: "btn-large btn-primary span3" %>
    				<input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
				</div>
			</div>
		</div>
    
<% end %> <!-- end form -->

<br /><br />
					
<h3>Contact List</h3>
  				
					<div class="notes">
						show all | <a href="#">TKWA staff</a> | <a href="#">all consultants</a> | <a href="#">civil</a> | <a href="#">MEP</a> | <a href="#">landscape</a> 
					</div>
					
					<div class="row">
					
						<div class="span13 columns3 contact-list">

							<% @project.teams.each do |team| %>
					
								<div class="well well-white">
									<span class="bold"><%= User.find_by_id(team.user_id).name %><% unless team.role.blank? %>, <%= team.role %><% end %></span> <%= link_to "view", user_path(User.find_by_id(team.user_id)) %><br />
									<%= User.find_by_id(team.user_id).employer %><br />
									<%= User.find_by_id(team.user_id).employer_address %><br />
									<%= User.find_by_id(team.user_id).employer_phone %>
									<%= mail_to(User.find_by_id(team.user_id).work_email) %><br />
								</div>
							
							<% end %>
					
						</div> <!-- end span13 -->
					
					</div> <!-- end row -->


