	<%= form_for @project do |f| %>
        <div class="half">

	        <h2>Design Team</h2>
	        <% if @project.employee_teams.count != 0 %>
		        <div class="header-row">
		            <div>Name</div>
		            <div>Role</div>
		        </div>
		    <% end %>

	        <!-- nested form for team-->
		    	<%= f.fields_for :employee_teams do |builder| %>
		    		<%= render 'employee_team_fields', :f => builder %>
		    	<% end %>
				<%= link_to_add_fields_2 "", f, :employee_teams, "add fui-plus" %>
		   	<!-- end team form -->

		</div>

		<div class="half last">

			<h2>Consultant Team</h2>
	        <% if @project.consultant_teams.count != 0 %>
		        <div class="header-row">
		            <div>Company</div>
		            <div>Role</div>
		        </div>
		    <% end %>

	        <!-- nested form for team-->
	    		<%= f.fields_for :consultant_teams do |builder| %>
	    			<%= render 'consultant_team_fields', :f => builder %>
	    		<% end %>
				<%= link_to_add_fields "", f, :consultant_teams, "add fui-plus consultant" %>
	   		<!-- end team form -->

		</div>
		    
        
		<div class="save-row">
	        <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>


				<!--	<h3>Contact List</h3>
  				
						<div class="links">
							<a id="team-all">Show All</a> | <a id="team-staff">TKWA Staff only</a> | <a id="team-consultants">Consultants only</a>
						</div>
					</div>
					
					<div class="row columns3 contact-list">
					

						<% @project.employee_teams.each do |team| %>
				
							<div class="well well-white team-staff">
								<span class="bold"><%= link_to Contact.find_by_id(team.contact_id).name, contact_path(Contact.find_by_id(team.contact_id)) %><% unless team.role.blank? %>, <%= team.role %><% end %></span> <br />
								<%= Contact.find_by_id(team.contact_id).work_company %><br />
								<%= Contact.find_by_id(team.contact_id).work_address.gsub(/\n/, '<br/>').html_safe %><br />
								<%= Contact.find_by_id(team.contact_id).work_phone %><br />
								<%= mail_to(Contact.find_by_id(team.contact_id).work_email) %><br />
							</div>
						
						<% end %>

						<% @consultant_list.each do |team| %>
				
							<div class="well well-white team-consultants">
								<span class="bold"><%= link_to Consultant.find_by_id(team.consultant_id).company, consultant_path(Consultant.find_by_id(team.consultant_id)) %></span><br />
								<span class="bold"><%= list_roles(team.consultant_id, @project.id) %></span><br />
								<%= Consultant.find_by_id(team.consultant_id).address.gsub(/\n/, '<br/>').html_safe %><br />
								<%= Consultant.find_by_id(team.consultant_id).phone %><br />
								<%= mail_to(Consultant.find_by_id(team.consultant_id).contact_email) %><br />
							</div>
						
						<% end %>
					
					
					</div> <!-- end row -->
