<%= form_for @project do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

				<div class="row">
					<h3>Time Tracking</h3>
  					<div class="notes">
						Progress bar shows hours worked as a percentage of total budgeted hours.
						
					</div>				
				</div>

				<div class="row">
					
					<div class="schedule-bar span10 offset1 green-bkg">
					
					    <div class="progress progress-green progress-striped">
    						<div class="bar" style="width: <%= @percent_complete %>%;"></div>
    					</div>
    					
    					<!-- circle begin -->
    					<div class="circle circle-begin <% if @project.sum_actual > 0 && @project.sum_est > 0 %>circle-filled<% end %>"></div>

    					<!-- predesign -->
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="predesign: <%= strip(@project.phase_est('pd')) %> hours" style="width: <%= @pd_pc %>%;"></a>

    					<div class="phase-marker" style="left:<%= @pd_pc %>%;"></div>
    					
    					<!-- schematic -->
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="schematic: <%= strip(@project.phase_est('sd')) %> hours" style="left:<%= @pd_pc %>%; width: <%= @sd_pc %>%;"></a>

    					<!-- design development -->
    					<div class="phase-marker" style="left:<%= @dd_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="design dev: <%= strip(@project.phase_est('dd')) %> hours" style="left:<%= @dd_left %>%; width: <%= @dd_pc %>%;"></a>

    					<!-- const docs -->
    					<div class="phase-marker" style="left: <%= @cd_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="const docs: <%= strip(@project.phase_est('cd')) %> hours" style="left: <%= @cd_left %>%; width: <%= @cd_pc %>%;"></a>

    					<!-- bidding -->
    					<div class="phase-marker" style="left: <%= @bid_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="bidding: <%= strip(@project.phase_est('bid')) %> hours" style="left: <%= @bid_left %>%; width: <%= @bid_pc %>%;"></a>

    					<!-- cca -->
    					<div class="phase-marker" style="left: <%= @cca_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="cca: <%= strip(@project.phase_est('cca')) %> hours" style="left: <%= @cca_left %>%; width: <%= @cca_pc %>%;"></a>

    					<!-- interior -->
    					<div class="phase-marker" style="left: <%= @int_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="interior: <%= strip(@project.phase_est('int')) %> hours" style="left: <%= @int_left %>%; width: <%= @int_pc %>%;"></a>

    					<!-- historic -->
    					<div class="phase-marker" style="left: <%= @his_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="historic: <%= strip(@project.phase_est('his')) %> hours" style="left: <%= @his_left %>%; width: <%= @his_pc %>%;"></a>

    					<!-- additional -->
    					<div class="phase-marker" style="left: <%= @add_left %>%;"></div>
    					
    					<a class="phase-link tip" rel="tooltip" href="#" dataoriginaltitle="additional: <%= strip(@project.phase_est('add')) %> hours" style="left: <%= @add_left %>%; width: <%= @add_pc %>%;"></a>

    					<!-- target marker-->
    					<!--<div class="marker target" style="left:13%;">
    						<div class="bubble"><div class="caps">Target</div>135 hours</div>
    					</div>-->
    					
    					<!-- actual marker -->
    					<% if @project.sum_actual > 0 && @percent_complete < 100 %>
	    					<div class="marker todate" style="left:<%= @percent_complete %>%;">
	    						<div class="bubble"><div class="caps">Actual</div><span class="green"><%= @project.sum_actual %> hours</span></div>
							</div>
						<% end %>
						
						<!-- circle end -->
						<% if @percent_complete >= 100 && @project.sum_est > 0 %>
							<div class="circle circle-complete circle-filled"><div class="caps">Total</div><div class="num-total"><%= strip(@project.sum_actual) %></div><div class="caps">Hours</div></div>
						<% else %>
							<div class="circle circle-complete"><div class="caps">Total</div><div class="num-total"><% if @project.sum_est > 0  %><%= strip(@project.sum_est) %><% else %><%= strip(@project.sum_actual) %><% end %></div><div class="caps">Hours</div></div>
						<% end %>
						
					</div>

				</div>
				<div class="row">

					
					
						<table class="table tracking-table">
						
							<thead>
								<tr>
									<th class="lt"><br /><div class="caps title-min">Name</div></th>
									<% Phase.all.each do |phase| %>
										<th class="<%= phase.name.gsub(/[ ]*/, '') %> <% if @phases.include?(phase) %><% else %>deactivated<% end %>">
											<div class="round-top"></div>
											<div class="inside-block" id="phase-<%= phase.number %>">
												<div class="number"><%= phase.number %></div>
												<div class="caps"><%= phase.name %></div>
											</div>
										</th>
									<% end %>
									<th class="total name TotalToDate gray"><div class="round-top"></div><div class="inside-block" id="total">Totals<br />To-Date</div></th>
									<th class="name"><br />+/-</th>
								</tr>
							</thead>
							
							<tbody>
							
								<% @project.employee_teams.each do |team| %>
									<%= render 'tracking_fields', :f => team %>
								<% end %>

								<tr class="bold lower">
									<td class="lt"><div class="inputbox">Total Budgeted</div><div class="inputbox">Total Actual</div></td>

									<% Phase.all.each do |phase| %>
										<td class="<%= phase.name.gsub(/[ ]*/, '') %> <% if @phases.include?(phase) %><% else %>deactivated<% end %>">
											<% if @project.phase_est(phase.shorthand) == 0 %>
												<div class="input-spacer"></div>
											<% else %>
												<div class="uneditable-input span1 est">
													<%= strip(@project.phase_est(phase.shorthand)) %>
												</div>
											<% end %>
											<% if @project.phase_actual("#{phase.number}") == 0 %>
												<div class="input-spacer"></div>
											<% else %>
												<div class="uneditable-input span1 act <%= is_over?(@project.phase_est("#{phase.shorthand}"), @project.phase_actual('#{phase.number}')) %>"><%= strip(@project.phase_actual("#{phase.number}")) %></div>
											<% end %>
											<div class="round-bottom"></div>
										</td>
									<% end %>
									
									<td class="total TotalToDate gray">
										<% if @project.sum_est == 0 %>
											<div class="input-spacer"></div>
										<% else %>
											<div class="uneditable-input span1 est"><%= strip(@project.sum_est) %></div>
										<% end %>
										<% if @project.sum_actual == 0 %>
												<div class="input-spacer"></div>
										<% else %>
											<div class="uneditable-input span1 act <%= is_over?(@project.sum_est, @project.sum_actual) %>"><%= strip(@project.sum_actual) %></div>
										<% end %>
										<div class="round-bottom"></div>
									</td>

									<td><div class="act sum <%= is_over?(@project.sum_est, @project.sum_actual) %>"><%= over_under(@project.sum_est, @project.sum_actual) %></div></td>
								</tr>
								
							</tbody>
						
						</table>

						<br />
						<div class="notes tracking-table">
							<div class="uneditable-input est inline-block">black</div> = Target hours based on project budget. Staying at or below this number will keep the project profitable.<br />
							<div class="uneditable-input act inline-block">green</div> = Actual hours as entered on timesheets (on track). Hover over number for breakdown by task.<br />
							<div class="uneditable-input act inline-block over">red</div> = Actual hours as entered on timesheets (over target). Hover over number for breakdown by task.
						</div>
						
				</div>



			</div> <!-- end span13 -->
		</div> <!-- end row -->	
	</div> <!-- end span14 -->
</div> <!-- end row -->	
<div class="line"></div>

<br /><br /><br />
<h3 class="no-line page-break">Project Budget</h3>

<div class="line"></div>
<div class="row">
	<div class="span15 sh">
		<div class="row">	
			<div class="span13 offset1">
				
				Estimated Project Hours = <%= @project.sum_est %><br />
				Estimated Project Budget = <%= number_to_currency(@project.budget) %><br />
				Estimated Avg. Hourly Rate = <%= number_to_currency(@project.budget / @project.sum_est) %><br />
				<br />
				Actual Project Hours (to date) = <%= @project.sum_actual %><br />
				Actual Project Cost (to date) = <%= number_to_currency(@project.actual) %><br />
				Actual Avg. Hourly Rate = <%= number_to_currency(@project.actual / @project.sum_actual) %><br /><br />

			</div> <!-- end span13 -->
		</div> <!-- end row -->	
	</div> <!-- end span14 -->
</div> <!-- end row -->	
<div class="line"></div>

<br /><br /><br />
<h3 class="no-line page-break">Task Breakdown</h3>

<div class="line"></div>
<div class="row">
	<div class="span15 sh">
		<div class="row">	
			<div class="span13 offset1">



				<div class="row">
					<div class="notes half-shift-left">
							The charts below display all tasks that have been entered for this project. The 'Hours' column sums task hours across all employees/phases.
						</div>
					<br />
					<div class="span7 well well-white half-shift-left">
						
						<div class="tracking legend">
					    	<table class="table span5-75 right-align-last no-borders">
					    		<thead>
						    		<tr class="bold table-header">
						    			<th></th>
						    			<th>Task</th>
						    			<th>Hours</th>
						    		</tr>
						    	</thead>
						    	<tbody>
					    		<% i = 0 %>
						    	<% hours_by_task_array(@all_entries).take(10).each do |k| %>
						    		<tr>
						    			<td><div class="color" style="background:<%= color_array[i] %>"></div></td>
						    			<td><%= k[0] %></td>
						    			<td><%= decimal(k[1]) %></td>
						    		</tr>
						    		<% i += 1 %>
						    	<% end %>
						    </tbody>
					    	</table>
					    </div>
					</div>
					<div class="span5 chart-box">

					    <div id="chart_div" class="chart"></div>
					    
    				</div>
					
				</div>




		

<!-- chart -->
				<script type="text/javascript">
				      google.load("visualization", "1", {packages:["corechart"]});
				      google.setOnLoadCallback(drawChart);
				      function drawChart() {
				        var data = new google.visualization.DataTable();
				        data.addColumn('string', 'Task');
				        data.addColumn('number', 'Hours');
				        data.addRows(<%= raw hours_by_task_array(@all_entries) %>
				        );

				        var options = {
				          title: '',
				          sliceVisibilityThreshold: 1/200,
				          legend:{position: 'none'},
				          backgroundColor: 'transparent',
				          colors:<%= raw color_array %>,
				          chartArea:{left:40,top:10}
				        };

				        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
				        chart.draw(data, options);
				      }
				</script>				
<% end %>