<%= form_for @project do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

	<h3>Time Tracking</h3>

  					<div class="notes">
						Progress bar shows hours worked as a percentage of total budgeted hours.
					</div>

				<div class="row">
					
					<div class="schedule-bar span10 offset1 green-bkg">
					
					    <div class="progress progress-green progress-striped">
    						<div class="bar" style="width: 88%;"></div>
    					</div>
    					
    					<div class="circle circle-begin circle-filled"></div>
    						<a class="phase-link tip" rel="tooltip" href="#" data-original-title="predesign" style="width: 12%;"></a>
    					<div class="phase-marker" style="left:12%;"></div>
    						<a class="phase-link tip" rel="tooltip" href="#" data-original-title="schematic" style="left:12%; width: 24%;"></a>
    					<div class="phase-marker" style="left:36%;"></div>
    						<a class="phase-link tip" rel="tooltip" href="#" data-original-title="design dev" style="left:36%; width: 26%;"></a>
    					<div class="phase-marker" style="left:62%;"></div>
    						<a class="phase-link tip" rel="tooltip" href="#" data-original-title="const docs" style="left:62%; width: 26%;"></a>
    					<div class="marker target" style="left:90%;">
    						<div class="bubble"><div class="caps">Target</div>1,294 hours</div>
    					</div>
    					
    					<div class="marker todate" style="left:88%;">
    						<div class="bubble"><div class="caps">Actual</div><span class="green">1,283 hours</span></div>
						</div>
						
						<div class="circle circle-complete"><div class="caps">Total</div><div class="num-total"><%= strip(@project.est_total) %></div><div class="caps">Hours</div></div>
						
					</div>

				</div>
				<div class="row">

					
					
						<table class="table tracking-table">
						
							<thead>
								<tr>
									<th class="lt"><br /><div class="caps title-min">Name</div></th>
									<th><div class="inside-block"><div class="number">10</div><div class="caps">Predesign</div></div></th>
									<th><div class="inside-block"><div class="number">20</div><div class="caps">Schematic</div></div></th>
									<th><div class="inside-block"><div class="number">30</div><div class="caps">Design Dev</div></div></th>
									<th class="gray"><a class="tip" rel="tooltip" href="#" data-original-title="current phase"><div class="round-top"></div><div class="inside-block"><div class="number">40</div><div class="caps">Const Docs</div></div></a></th>
									<th><div class="inside-block"><div class="number">50</div><div class="caps">Bidding</div></div></th>
									<th><div class="inside-block"><div class="number">60</div><div class="caps">CCA</div></div></th>
									<th><div class="inside-block"><div class="number">65</div><div class="caps">Interior</div></div></th>
									<th><div class="inside-block no-bkg"><div class="number light">68</div><div class="caps light">Historic</div></div></th>
									<th><div class="inside-block"><div class="number">70</div><div class="caps">Additional</div></div></th>
									<th class="total name"><div class="inside-block">Totals<br />To-Date</div></th>
									<th class="name"><br />+/-</th>
								</tr>
							</thead>
							
							<tbody>
							
								<% @project.employee_teams.each do |team| %>
									<%= render 'tracking_fields', :f => team %>
								<% end %>

								<tr class="bold lower">
									<td class="lt"><div class="inputbox">Total Budgeted</div><div class="inputbox">Total Actual</div></td>
									<td><div class="uneditable-input span1 est"><%= strip(@project.est_phase_total('pd')) %></div>
										<div class="act">--</div></td>
									<td><div class="uneditable-input span1 est"><%= strip(@project.est_phase_total('sd')) %></div>
										<div class="act over">--</div></td>
									<td><div class="uneditable-input span1 est"><%= strip(@project.est_phase_total('dd')) %></div>
										<div class="act">--</div></td>
									<td class="gray bottom"><div class="uneditable-input span1 est"><%= strip(@project.est_phase_total('cd')) %></div>
										<div class="act over">--</div><div class="round-bottom"></div></td>
									<td><div class="uneditable-input span1 est light"><%= strip(@project.est_phase_total('bid')) %></div>
										<div class="act"></div></td>
									<td><div class="uneditable-input span1 est light"><%= strip(@project.est_phase_total('cca')) %></div>
										<div class="act"></div></td>
									<td><div class="uneditable-input span1 est light"><%= strip(@project.est_phase_total('int')) %></div>
										<div class="act"></div></td>
									<td><div class="uneditable-input span1 est light"><%= strip(@project.est_phase_total('his')) %></div>
										<div class="act"></div></td>
									<td><div class="uneditable-input span1 est light"><%= strip(@project.est_phase_total('add')) %></div>
										<div class="act"></div></td>
									<td class="total"><div class="uneditable-input span1 est"><%= strip(@project.est_total) %></div>
										<div class="act">--</div></td>
									<td><div class="act sum">--</div></td>
								</tr>
								
							</tbody>
						
						</table>

						<br /><br />
						<div class="notes">
							Target hours are in <span class="uneditable-input inline bold">black</span>, actual hours are shown in <span class="green">green</span> if they are on track or <span class="red">red</span> if they are over.
						</div>

				</div>

<% end %>						
