<%= form_for @project do |f| %>
<% date = Date.today %>

	<h2>Time Tracking (by phase)</h2>
	<% if @project.employee_teams.length == 0 || @project.phases.length == 0 %>
		<p class="description">This project's team and phases have not been set up yet. Click the 'setup' tab in the bar above to add team members and select phases.</p>
	<% else %>
		<p class="description">The table below compares <span class="bold">actual hours</span> as entered on timesheets with <span class="bold">target hours</span> as determined by our fee. Staying under the target will keep a project profitable, while going over (shown in <span class="bold over">red</span>) represents a net loss.</div>

		<table class="table tracking-table">
			<thead>
                <tr>
                    <th class="bold">Team Member</th>
                    <th class="smalltext"></th>
                    <% @project.available_phases.each do |phase| %>
                    	<th class="table-cell"><%= phase.number %><br /><span class="name"><%= phase.name %></span></th>
                    <% end %>
                    <th class="total-hours">Total</th>
                    <th class="remaining">% Used</th>
                </tr>
            </thead>
			<tbody>
				<%= f.fields_for :employee_teams do |team| %>
		    		<tr>
		    			<%= team.hidden_field :user_id %>
		    			<td class="tname"><%= team.object.employee_name %>
		    				<div class="role">
		    					<%= team.object.role %>
		    				</div>
		    			</td>
		    			<td class="labels">
							<div class="target">target</div>
							<div class="actual">actual</div>
						</td>

						<% @project.available_phases.each do |phase| %>
			                <td class="phase-cell">
			                    <%= team.text_field eval(":#{phase.shorthand}_hours") %>
			                    <div class="actual-hours <%= is_over?(eval("team.object.#{phase.shorthand}_hours"), team.object.employee_actual(phase.number)  ) %>">
			                    	<%= nonzero(team.object.employee_actual(phase.number)) %>
			                    </div>
			                </td>
			            <% end %>

			            <td class="total-hours">
			            	<div class="target-total">
								<%= nonzero(team.object.est_total) %>
							</div>
							<div class="actual-total <%= is_over?(team.object.est_total, team.object.employee_actual('Total')) %>">
								<%= nonzero(team.object.employee_actual('Total')) %>
							</div>
						</td>
						<td class="remaining">
							<% unless team.object.est_total == 0 %>
								<div class="percent-used <%= is_over?(team.object.est_total, team.object.employee_actual('Total')) %>">
								<%= number_to_percentage(team.object.percent_used, :precision => 0) %>
								</div>
							<% end %>
						</td>
		    		</tr>
		    	<% end %>
			</tbody>
			<tfoot>
				<tr class="est-hours">
					<td>Target Hours</td>
					<td></td>
					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero(@project.phase_est(phase.shorthand)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero(@project.sum_est) %></td>
					<td></td>
				</tr>
				<tr class="est-fees">
					<td>Target Fees</td>
					<td></td>
					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero_currency(@project.target_billing_total(phase.number)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero_currency(@project.target_billing_total('Total')) %></td>
					<td></td>
				</tr>
				<tr class="actual">
					<td class="tname">Actual Hours<br>Actual Fee</td>
					<td class="labels">
					</td>

					<% @project.available_phases.each do |phase| %>
						<td class="phase-cell">
							<div class="actual-hours <%= is_over?(@project.phase_est("#{phase.shorthand}"), @project.phase_actual('#{phase.number}')) %>">
								<%= nonzero(@project.phase_actual("#{phase.number}")) %>
								<br>
								<%= nonzero_currency(@project.actual_billing_total(phase.number)) %>
							</div>
						</td>
					<% end %>
					
					<td class="total-hours">
						<div class="actual-total <%= is_over?(@project.sum_est, @project.sum_actual) %>">
							<%= nonzero(@project.sum_actual) %><br>
							<%= nonzero_currency(@project.actual_billing_total('Total')) %>
						</div>
					</td>

					<td class="remaining">
						<% unless @project.sum_est == 0 %>
							<div class="percent-used <%= is_over?(@project.sum_est, @project.sum_actual) %>">
								<%= number_to_percentage(@project.percent_used, :precision => 0) %>
							</div>
						<% end %>
					</td>
					
				</tr>
			</tfoot>
		</table>

		<div class="full">
			<div class="tracking-summary">
				<div class="circle">
					<div class="text">Projected Fee</div>
					<div class="number"><%= number_to_currency(@project.target_billing_total('Total'), :precision => 0) %></div>
				</div>
				<div class="minus"></div>
				<div class="circle">
					<div class="text">Fee Used To Date</div>
					<div class="number"><%= number_to_currency(@project.actual_billing_total('Total'), :precision => 0) %></div>
				</div>
				<div class="equals"></div>
				<div class="circle <%= is_over?(@project.sum_est, @project.sum_actual) %>">
					<div class="text">Remainder</div>
					<div class="number"><%= remaining_currency(@project.target_billing_total('Total'), @project.actual_billing_total('Total')) %></div>
				</div>
			</div>

		</div>
		 
		<div class="save-row">
			<%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

	<% end %>

<% end %>