<%= form_for @project do |f| %>

	<%= render 'project_header', f: f %>
	
	<% date = Date.today %>

	<h2>Tracking</h2>
	<% if @project.employee_teams.length == 0 || @project.phases.length == 0 %>
		<p class="description">This project's team has not been set up yet. Click the 'info' tab in the bar above to add team members.</p>
	<% else %>
		<p class="description">The table below compares actual hours as entered on timesheets with target hours as determined by our fee. Staying under the target will keep a project profitable, while going over (shown in <span class="bold over">red</span>) represents a net loss.</p>

		<table class="table tracking-table">
			<thead>
                <tr>
                    <th class="bold">Team Member</th>
                    <th class="smalltext"></th>
                    <% @available_phases.each do |phase| %>
                    	<th class="table-cell"><%= phase.number %><br /><span class="name"><%= phase.name %></span></th>
                    <% end %>
                    <th class="total-hours">Total</th>
                    <th class="remaining">% Used</th>
                </tr>
            </thead>
			<tbody>
				<% @employee_teams.each do |team| %>
					<% target_all = team.employee_target_hours_all %>
					<% actual_all = team.employee_actual_hours_all %>
		    		<tr>
		    			<td class="tname"><a href="<%= edit_project_employee_team_path(team.project_id, team.id) %>" data-target="#myModal" data-toggle="modal" class="modal-btn edit-targets"><%= team.user.name %></a>
		    				<div class="role">
		    					$<%= strip(team.rate) %>/hr
		    				</div>
		    			</td>
		    			<td class="labels">
							<div class="target">target</div>
							<div class="actual">actual</div>
						</td>

						<% @available_phases.each do |phase| %>
			                <td class="phase-cell">
							    <div class="target"><%= nonzero(eval("team.#{phase.shorthand}_hours")) %></div>
			                    <div class="actual <%= is_over?(eval("team.#{phase.shorthand}_hours"), team.employee_actual_hours(phase.number)  ) %>">
			                    	<%= nonzero(team.employee_actual_hours(phase.number)) %>
			                    </div>
			                </td>
			            <% end %>

			            <td class="total-hours">
			            	<div class="target">
								<%= nonzero(target_all) %>
							</div>
							<div class="actual <%= is_over?(target_all, actual_all) %>">
								<%= nonzero(actual_all) %>
							</div>
						</td>
						<td class="remaining">
							<% unless target_all == 0 %>
								<div class="percent-used <%= is_over?(target_all, actual_all) %>">
							        <%= number_to_percentage(team.percent_used, :precision => 0) %>
								</div>
							<% end %>
						</td>
		    		</tr>
		    	<% end %>
			</tbody>
			<tfoot>
				<tr class="est-hours">
					<td>Target Hours</td>
					<td></td>
					<% @available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero(@project.total_target_hours(phase.shorthand)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero(@project.total_target_hours_all) %></td>
					<td></td>
				</tr>
				<tr class="actual">
					<td class="tname">Actual Hours</td>
					<td class="labels">
					</td>
					<% @available_phases.each do |phase| %>
						<td class="phase-cell">
							<div class="actual-hours <%= is_over?(@project.total_target_hours("#{phase.shorthand}"), @project.total_actual_hours('#{phase.number}')) %>">
								<%= nonzero(@project.total_actual_hours("#{phase.number}")) %>
							</div>
						</td>
					<% end %>
					<td class="total-hours">
						<div class="hours-total <%= is_over?(@project.total_target_hours_all, @project.total_actual_hours_all) %>">
							<%= nonzero(@project.total_actual_hours_all) %>
						</div>
					</td>
					<td class="remaining"></td>
				</tr>
				<tr class="est-fees">
					<td>Target Fees</td>
					<td></td>
					<% @available_phases.each do |phase| %>
						<td class="phase-cell"><%= nonzero_currency(@project.total_target_fees(phase.shorthand)) %></td>
					<% end %>
					<td class="total-hours"><%= nonzero_currency(@total_target_fees_all) %></td>
					<td></td>
				</tr>
				<tr class="actual">
					<td class="tname">Actual Fee<br><div class="italic">% of Target</div></td>
					<td class="labels">
					</td>

					<% @available_phases.each do |phase| %>
						<td class="phase-cell">
							<div class="actual-fee <%= is_over?(@project.total_target_hours(phase.shorthand), @project.total_actual_hours(phase.number)) %>">
								<%= nonzero_currency(@project.total_actual_fees(phase.number)) %>
								<br>
								<div class="italic"><%= nonzero_percentage(@project.percentage_of_total(phase.number)) %></div>
							</div>
						</td>
					<% end %>
					
					<td class="total-hours">
						<div class="fee-total <%= is_over?(@total_target_fees_all, @total_actual_fees_all) %>">
							<%= nonzero_currency(@total_actual_fees_all) %>
							<br>
							<div class="italic"><%= nonzero_percentage(@project.percentage_of_total_all) %></div>
						</div>
					</td>

					<td class="remaining"></td>
					
				</tr>
			</tfoot>
		</table>

		<div class="full">
			<div class="tracking-summary">
				<div class="circle billing">
					<div class="text">Actual Fee<br>(from contract)</div>
					<div class="number"><%= number_to_currency(@project.tkwa_fee, :precision => 0) %></div>
				</div>
				<div class="circle target">
					<div class="text">Fee Based on<br>Target Hours</div>
					<div class="number"><%= number_to_currency(@total_target_fees_all, :precision => 0) %></div>
				</div>
				<div class="minus"></div>
				<div class="circle">
					<div class="text">Fee Expended<br>To Date</div>
					<div class="number"><%= number_to_currency(@total_actual_fees_all, :precision => 0) %></div>
				</div>
				<div class="equals"></div>
				<div class="circle <%= is_over?(@total_target_fees_all, @total_actual_fees_all) %>">
					<div class="text"><br>Fee Remaining</div>
					<div class="number"><%= remaining_currency(@total_target_fees_all, @total_actual_fees_all) %></div>
				</div>
				<div class="circle billing">
					<div class="text"><br>project is</div>
					<div class="number"><%= @project.percent_used <= 100 ? "#{nonzero_percentage(@project.percentage_of_total_all)} complete" : "over budget" -%></div>
				</div>
			</div>

		</div>

	<% end %>

<% end %>


<!-- modal for employee target edit -->
    <div class="modal hide fade team-tracking" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div><!-- /.modal -->
<!-- end modal -->

<% content_for :scripts do %>
    <script>
    //reset modal remote on close
    $('#myModal').on('hide.bs.modal', function (e) {
        $(this).data('bs.modal', null);
    });
    </script>
<% end %>