<h2 class="first">Book Details</h2>
<div class="wide">
    <div class="input-row">
        <%= f.label(:index, "Index", class: "input-label") %>
        <%= f.text_field :index, class: "input-small bold", value: new_index %>
        <div class="detail">ID label on first page of book</div>
    </div>
    <div class="input-row">
        <%= f.label(:subject_id, "Subject", class: "input-label") %>
        <%= f.collection_select(:subject_id, Subject.all, :id, :display_name, { :include_blank => true }, { :class => "custom-select library" } ) %>
    </div>
    <div class="input-row">
        <%= f.label(:title, "Title", class: "input-label") %>
        <%= f.text_area :title, rows: 3, placeholder: "Full Title" %>
    </div>
    <div class="input-row">
        <%= f.label(:author, "Author", class: "input-label") %>
        <%= f.text_field :author, placeholder: "Lastname, Firstname" %>
    </div>
    <div class="input-row">
        <%= f.label(:categories, "Keywords", class: "input-label") %>
        <%= f.text_area :categories, rows: 7, placeholder: "Library of Congress categories" %>
    </div>
    
</div>

<div class="narrow">
    <div class="input-row">
        <%= f.label(:description, "Description", class: "input-label") %>
        <%= f.text_field :description, placeholder: "# pages, dimensions" %>
    </div>
    <div class="input-row">
        <%= f.label(:date, "Published", class: "input-label") %>
        <%= f.text_field :date, placeholder: "Year" %>
    </div>
    <div class="input-row">
        <%= f.label(:material_type, "Material Type", class: "input-label") %>
        <div class="radio-group">
            <%= hidden_field_tag "book[material_type]", nil %>
            <label class="radio">
                <%= f.radio_button :material_type, "Book", data_toggle: "radio" %>
                Book
            </label>
            <label class="radio">
                <%= f.radio_button :material_type, "Magazine", data_toggle: "radio" %>
                Magazine
            </label>
            <label class="radio">
                <%= f.radio_button :material_type, "Video", data_toggle: "radio" %>
                Video/CD/DVD
            </label>
        </div>
    </div>

    <div class="gray-box checkout">
        <div class="input-row">
            <%= f.label(:shelf_location, "Shelf Location", class: "input-label") %>
            <%= f.text_field :shelf_location, class: "input-small bold", placeholder: "000 Aa" %>
        </div>
        <div class="input-row">
            <%= f.label(:status, "Current Status", class: "input-label") %>
            <div class="radio-group">
                <%= hidden_field_tag "book[status]", nil %>
                <label class="radio">
                    <%= f.radio_button :status, "On Shelves", data_toggle: "radio" %>
                    On Shelves
                </label>
                <label class="radio">
                    <%= f.radio_button :status, "Checked Out", data_toggle: "radio" %>
                    Checked Out
                </label>
            </div>
        </div>
        <div class="input-row borrower <%= "checked-out" if f.object.status == "Checked Out" %>">
            <%= f.label(:borrower, "Current Borrower", class: "input-label") %>
            <%= f.text_field :borrower, placeholder: "Enter Your Name" %>
            <%= f.text_field :date_checked_out, placeholder: "Date" %>
        </div>
    </div>
    
</div>

<% content_for :scripts do %>
    <script>
        $('#book_status_checked_out').change( function() {
            if ( $(this).attr("checked") == "checked" ) {
                $('#book_date_checked_out').val("<%= Time.now %>");
                $('.borrower').slideDown();

            } else {
                $('#book_date_checked_out').val("");
                $('#book_borrower').val("");
                $('.borrower').slideUp();
            }
        });
    </script>
<% end %>