<div class="wide">
    <div class="input-row">
        <%= f.label(:title, "Title", class: "input-label") %>
        <%= f.text_field :title %>
    </div>
    <div class="input-row">
        <%= f.label(:author, "Author", class: "input-label") %>
        <%= f.text_field :author %>
    </div>
    <div class="input-row">
        <%= f.label(:description, "Description", class: "input-label") %>
        <%= f.text_area :description, rows: 5 %>
    </div>
    <div class="input-row">
        <%= f.label(:loc_data, "LOC Data", class: "input-label") %>
        <%= f.text_area :loc_data, rows: 5 %>
    </div>
</div>

<div class="narrow">
	<div class="input-row">
        <%= f.label(:subject_id, "Subject", class: "input-label") %>
        <%= f.collection_select(:subject_id, Subject.all, :id, :display_name, { :include_blank => true }, { :class => "custom-select" } ) %>
    </div>
    <div class="input-row">
        <%= f.label(:index, "Index", class: "input-label") %>
        <%= f.text_field :index %>
    </div>
    <div class="input-row">
        <%= f.label(:shelf_location, "Shelf Location", class: "input-label") %>
        <%= f.text_field :shelf_location %>
    </div>

</div>