<% provide :title, "Library" %>
<div class="page-header">
	<h1>Library</h1>
</div>

<h2 class="first">Search Library</h2>

<div class="description">Enter all or part of the title, author, and/or subject. Choose an option from the material type menu to narrow your search.</div>

<div class="gray-box library <%= @var %>">

	<%= search_form_for @q do |f| %>

		<div class="status-options">
			<div><%= f.radio_button(:material_type_eq, "") %><label class="radio">All</label></div>
	        <div><%= f.radio_button(:material_type_eq, "Book") %><label class="radio">Books</label></div>
	        <div><%= f.radio_button(:material_type_eq, "Magazine") %><label class="radio">Magazines</label></div>
	        <div><%= f.radio_button(:material_type_eq, "Video") %><label class="radio">Video/CD/DVD</label></div>
		</div>

		<%= f.text_field :index_eq, class: "search-name index", placeholder: "Index" %>
		<%= f.text_field :title_cont, class: "search-name title", placeholder: "Title" %>
		<%= f.text_field :author_cont, class: "search-name author", placeholder: "Author" %> 

		<%= f.submit "Search", class: "btn btn-primary search-btn" %>
		<a class="options more-options">show more options</a>
		<a class="options less-options">hide options</a>

		<div id="more-options">
			<p class="note">Search by subject or keyword</p>
			<%= f.collection_select(:subject_id_eq, Subject.all, :id, :display_name, { :include_blank => true }, { :class => "custom-select search-subject" } ) %>
			<%= f.text_field :categories_cont, class: "search-name keywords", placeholder: "Keywords" %> 
		</div>
	
	<% end %>

</div>

<% if (params.has_key?(:q)) %>

	<% if @books.count == 0 %>
		<h2>Search Results</h2>
		<div class="search-results">
			No matches.<br><br><a href="/library/" class="btn">Clear search and try again.</a><br><br>
			<div class="line"></div>
		</div>
	<% else %>

	<h2>Search Results (<%= @books.count %>) <a class="reset" href="/library">reset search</a></h2>

		<table class="table search-results library">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
				</tr>
			</thead>
		    <tbody>
		        <% @books.each do |f| %>
		            <tr class="results-row">
		                <td class="bold"><%= link_to f.title.titleize, edit_book_path(f) %></td>
		                <td><%= link_to f.author, edit_book_path(f) %></td>
		            </tr>
		        <% end %>

		    </tbody>
		</table>
		<%= will_paginate @book %>
		<div class="line"></div>

	<% end %>

<% end %>

<div class="row icons three">

    <div class="tile-box">
        <%= link_to image_tag("new_book.png", :alt => "new-book", :class => "round-icon"), new_book_path %>
        <%= link_to "Add A New Book", new_book_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("books.png", :alt => "checked out", :class => "round-icon"), checked_out_path %>
        <%= link_to "Checked-Out Books", checked_out_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("thumbs-up.png", :alt => "edit subjects", :class => "round-icon"), recommendations_path %>
        <%= link_to "All Recommendations", recommendations_path, :class => "tile-label" %>
    </div>

</div> <!-- end tiles -->

<h2>Recently Recommended Books</h2>

<div class="full">
	<% @recommendations.each do |r| %>
		<div class="book-tile">
			<div class="photo"><%= link_to image_tag(Book.find(r.book_id).photo.url(:thumb)), edit_book_path(r.book_id) %></div>
			<div class="text"><%= r.description %></div>
			<div class="user"><%= User.find(r.user_id).name %>, <%= r.created_at.strftime("%B %d, %Y") %></div>
		</div>
	<% end %>
</div>
