
<div class="input-label">Select Company</div>

<% if @companies.count > 0 &&  @companies.count < 10 %>
	<ul>
	<% @companies.each do |c| %>
		<li><a class="use-this" data-id="<%= c.id %>" data-name="<%= c.name %>" data-address="<%= c.address.gsub(/\n/, '<br/>').html_safe %>" data-phone="<%= c.phone %>" data-fax="<%= c.fax %>" data-url="<%= c.url %>"><%= c.name %></a></li>
	<% end %>
	</ul>
<% else %>
	<div class="no-matches">
		No matches.
	</div>
<% end %>

<script>
$(".use-this").click(function() {
	$('#searchCompany').modal('hide');
	id = $(this).attr("data-id");
	name = $(this).attr("data-name");
	address = $(this).attr("data-address");
	phone = $(this).attr("data-phone");
	fax = $(this).attr("data-fax");
	url = $(this).attr("data-url");
	$('#contact_company_id').val(id);
	//$('input[type="submit"]').click();

	if ( phone.length == 10 ) {
		phoneNum = "(" + phone.substr(0, 3) + ") " + phone.substr(3, 3) + "-" + phone.substr(6, 4);
	} else {
		phoneNum = phone;
	}

	if ( fax.length == 10 ) {
		faxNum = "(" + fax.substr(0, 3) + ") " + fax.substr(3, 3) + "-" + fax.substr(6, 4);
	} else {
		faxNum = fax;
	}
	
	companyStr = "<div class=\"c-name\">" + name + "</div><div class=\"c-address\">" + address  + "<div class=\"c-url\"><a href=\"" + url + "\" target = \"_blank\">" + url + "</a></div>";
	phoneStr = "<div class=\"input-row\"><label class=\"input-label\">Main Phone</label><div class=\"text-field\">" +  phoneNum + "</div></div><div class=\"input-row\"><label class=\"input-label\">Fax</label><div class=\"text-field\">" + faxNum + "</div></div>";
	$('#company-data').html(companyStr);
	$('#company-phone').html(phoneStr);
	
});
</script>