<% provide :title, @company.name %>
<a class="header-label" href="/companies">Companies</a>
<div class="page-header">
	<h1><%= @company.name %></h1>
</div>

<%= form_for @company do |f| %>
<%= render 'shared/error_messages', object: f.object %>

   <div class="content">

		<h2>Company Information</h2>
        <div class="wide">
            <div class="input-row">
                <%= f.label(:name, "Company Name", class: "input-label") %>
                <%= f.text_field :name %>

            </div>
            <div class="input-row">
                <%= f.label(:address, "Work Address", class: "input-label") %>
                <%= f.text_area :address, class: "button-right", rows: "2" %>
                <button class="btn input-button" onclick="showMap('company_address'); return false;">Google maps</button>
            </div>    
            <div class="input-row">
                <%= f.label(:url, "Website", class: "input-label") %>
                <%= f.text_field :url, class: "button-right" %>
                <button class="btn input-button" onclick="openURL('company_url'); return false;">open website</button>
            </div>  
        </div>

        <div class="narrow company-phone">
            <div class="input-row">
                <%= f.label :phone, "Main Phone", class: "input-label" %>
                <%= f.text_field :phone, value: number_to_phone(@company.phone, :area_code => true), class: "phone input-adjust" %>
            </div>
            <div class="input-row">
                <%= f.label(:fax, "Fax Number", class: "input-label") %>
                <%= f.text_field :fax, value: number_to_phone(@company.fax, :area_code => true), class: "phone input-adjust" %>
            </div>
            <div class="input-row">
                <%= f.label(:category, "Category", class: "input-label" ) %>
                <%= f.collection_select(:category, Category.all, :id, :name, { :include_blank => true }, { :class => "custom-select" } ) %>
            </div>
        </div>

        <div class="save-row">
            <%= f.submit "Update Company Info", class: "btn btn-primary save-btn" %>
        </div>

    </div>

<% end %>


<% if @company.contacts.count > 0 %>

	<div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Title</th>
                    <th>Direct Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            <% @company.contacts.each do |c| %>
                <tr>
                    <td class="bold"><%= link_to c.name, contact_path(c.id) %></td>
                    <td><%= c.work_title %></td>
                    <td><%= number_to_phone(c.work_direct, :area_code => true) %></td>
                    <td><%= c.work_email %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
	</div>
<% end %>

<% if @teams.count > 0 %>

    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <% @teams.each do |t| %>
                <tr>
                    <% p = Project.find(t.project_id) %>
                    <td class="bold"><%= link_to p.name, project_path(p.id) %></td>
                    <td><%= p.status %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>

<% end %>
	
