<% content_for :page_header do %>
  	<% provide :title, "Add New Consultant Role" %>
  	<%= link_to "Consultant Roles", consultant_roles_path, class: "header-label" %>
  	<div class="page-header">
    	<h1>Add New Consultant Role</h1>
  	</div>
<% end %>

<%= form_for @consultant_role do |f| %>

  	<%= render 'shared/error_messages', object: f.object %>
  	<%= render 'fields', f: f %>

  	<div class="save-row">
        <%= f.submit "Add Consultant Role", class: "btn btn-primary save-btn" %>
    </div>

<% end %>