     
    <% if params[:action] == "new" %>
        <div class="full patterns">
            <div class="input-row">
                <%= f.label(:number, "Pattern Number", class: "input-label") %>
                <%= f.text_field :number, autocomplete: "off", class: "small" %>
            </div>
            <div class="input-row">
                <%= f.label(:name, "Pattern Name", class: "input-label") %>
                <%= f.text_field :name, class: "pattern-name" %>
            </div>
            <div class="input-row">
                <%= f.label(:project_id, "Project", class: "input-label") %>
                <%= f.collection_select(:project_id, Project.current_and_potential, :id, :name, { :include_blank => true, :selected => params[:p] }, { :class => "project-name chzn-select custom-select" } ) %>
                <div class="detail">If you want to write patterns for an internal (non-billable) project, just add it as a <%= link_to "new potential project", potential_projects_path, class: "green underline" %>. </div>
            </div>
        </div>        
    <% end %>

    
    <div class="full patterns">

        <div class="wide">
           <div class="input-row">
                <%= f.label(:challenges, "First-Observed Challenges", class: "input-label") %>
                <%= f.text_area :challenges, class: "pattern-text", rows: "2" %>
            </div>
        </div>

        <div class="narrow">
            <div class="input-row">
                <%= f.label(:pattern_group_id, "Pattern Group", class: "input-label") %>
                <%= f.collection_select(:pattern_group_id, PatternGroup.all, :id, :display_name, { :include_blank => true }, { :class => "pattern-group chzn-select custom-select" } ) %>
            </div>
        </div>

        <h2 class="patterns">Main Pattern</h2>

        <div class="wide">

            <div class="input-row">
                <%= f.label(:issue, "Issue", class: "input-label") %>
                <%= f.text_area :issue, class: "pattern-text", rows: "3" %>
            </div>
            <div class="input-row">
                <%= f.label(:solution, "Solution", class: "input-label") %>
                <%= f.text_area :solution, class: "pattern-text", rows: "3" %>
            </div>
            
        </div>

        <div class="narrow">
            
            <div class="input-row">

                <%= f.label(:photo, "Key Photo", class: "input-label no-margin") %>
                <div class="image-box">
                    <% if f.object.photo_file_name %>
                        <div class="image-upload">
                            <%= image_tag f.object.photo.url(:medium), alt: f.object.photo_file_name, class: "pattern-image key-photo" %>
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <%= f.text_field :photo_caption, class: "pattern-caption photo-caption", placeholder: "Photo Caption" %>
                            <div class="fileUpload btn change-photo" id="uploadBtn">
                                <span>Change Photo</span>
                                <%= f.file_field :photo, class: "upload" %>
                            </div>
                            <label for="pattern_delete_photo">
                                delete photo
                                <%= f.check_box(:delete_photo) %>
                            </label>
                        </div>
                    <% else %>
                        <div class="image-upload">
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="p-photo fileUpload btn">
                                <span>Upload Photo</span>
                                <%= f.file_field :photo, class: "upload" %>
                            </div>
                            <%= f.text_field :photo_caption, class: "pattern-caption hidden", placeholder: "Photo Caption" %>
                        </div>
                    <% end %>
                </div>

                <%= f.label(:diagram, "Solution Diagram", class: "input-label no-margin") %>
                <div class="image-box">
                    <% if f.object.diagram_file_name %>
                        <div class="image-upload">
                            <%= image_tag f.object.diagram.url(:medium), alt: f.object.diagram_file_name, class: "pattern-image solution-diagram" %>
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <%= f.text_field :diagram_caption, class: "pattern-caption diagram-caption", placeholder: "Diagram Caption" %>
                            <div class="fileUpload btn change-diagram" id="uploadBtn">
                                <span>Change Diagram</span>
                                <%= f.file_field :diagram, class: "upload" %>
                            </div>
                            <label for="pattern_delete_diagram">
                                delete diagram
                                <%= f.check_box(:delete_diagram) %>
                            </label>
                        </div>
                    <% else %>
                        <div class="image-upload">
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="p-diagram fileUpload btn">
                                <span>Upload Diagram</span>
                                <%= f.file_field :diagram, class: "upload" %>
                            </div>
                            <%= f.text_field :diagram_caption, class: "pattern-caption hidden", placeholder: "Diagram Caption" %>
                        </div>
                    <% end %>
                </div>
      
            </div>
            
        </div>

    
        <h2 class="patterns">Background Data</h2>

        <div class="wide">
            
            <div class="input-row top-margin" id="bkg-edit">
                <%= f.text_area :notes, class: "pattern-text", rows: "2" %>
                <button class="btn btn-primary">save changes</button>
            </div>
            <div class="input-row" id="bkg-display">
                <% unless @pattern.notes.blank? %>
                    <div class="jqte-plaintext">
                        <%= sanitize @pattern.notes.html_safe %>
                    </div>
                <% end %>
                <div class="btn" id="edit-background-text">edit background text</div>
            </div>

        </div>

        <div class="narrow">

            <div class="input-row">
                <label class="input-label no-margin">Supporting Images</label>
                <%= f.fields_for :pattern_images do |builder| %>
                    <%= render 'pattern_image_fields', :f => builder %>
                <% end %>
                <%= link_to_add_fields_2 "", f, :pattern_images, "add fui-plus pattern-image" %>
            </div>

        </div>

        <h2 class="patterns">Credits</h2>

        <div class="wide">

            <div class="input-row single-line">
                <%= f.label(:author, "Written By", class: "input-label") %>
                <%= f.text_field :author %>
            </div>

            <div class="input-row single-line">
                <%= f.label(:sources, "Sources", class: "input-label") %>
                <%= f.text_area :sources, rows:"2" %>
            </div>

        </div>

        <div class="narrow">
            <% if params[:action] != "new" %>
                <div class="input-row added">
                    Added <%= f.object.created_at.strftime("%-m/%d/%Y") %>
                    <% if f.object.updated_at %>
                         // Updated <%= f.object.updated_at.strftime("%-m/%d/%Y") %>
                    <% end %>
                </div>
            <% end %>

        </div>

    </div>

<script>         
    $(document).ready(function(){
        $('textarea').autosize();   
    });
</script>

<% content_for :scripts do %>

    <script>

        $('#edit-background-text').click( function () {
            $('#bkg-display').hide();
            $('#bkg-edit').show();
        });

        $('.fileUpload').change( function () {
            fileName = $(this).children(".upload").val().replace("C:\\fakepath\\", '');
            $(this).parent(".image-upload").children(".uploadFile").show().val(fileName);
            $(this).parent(".image-upload").children(".pattern-caption").show();
            $(this).hide();
        });

        $('#pattern_delete_diagram').live('change', function(){
            if($(this).is(':checked')){
                $('img.solution-diagram').hide();
                $('.change-diagram').hide();
                $('.pattern-caption.diagram-caption').val("").hide();
            } else {
                location.reload();
            }
        });
        $('#pattern_delete_photo').live('change', function(){
            if($(this).is(':checked')){
                $('img.key-photo').hide();
                $('.change-photo').hide();
                $('.pattern-caption.photo-caption').val("").hide();
            } else {
                location.reload();
            }
        });
         $(".pattern_image_delete_photo input[type='checkbox']").live('change', function(){
            if($(this).is(':checked')){
                $(this).parent().parent(".image-upload").children(".key-photo").hide();
                $(this).parent().parent(".image-upload").children(".change-photo").hide();
                $('.pattern-caption.background-caption').val("").hide();
            } else {
                location.reload();
            }
        });
    </script>

    <%= javascript_include_tag "jquery-te-1.4.0.min.js" -%>
    <%= stylesheet_link_tag "jquery-te-1.4.0" %>

    <script>
        $("#pattern_notes").jqte({
            center: false,
            color: false,
            fsize: false,
            format: false,
            indent: false,
            linktypes: ["Web URL", "Email", ""],
            left: false,
            outdent: false,
            p: false,
            right: false,
            rule: false,
            source: false,
            strike: false,
            sub: false,
            sup: false
        });
    </script>

<% end %>
