     
    <% if params[:action] == "new" %>
        <div class="full patterns">
            <div class="input-row">
                <%= f.label(:number, "Pattern Number", class: "input-label") %>
                <%= f.text_field :number, autocomplete: "off", class: "small" %>
            </div>
            <div class="input-row">
                <%= f.label(:name, "Pattern Name", class: "input-label") %>
                <%= f.text_field :name, class: "pattern-name" %>
            </div>
            <div class="input-row">
                <%= f.label(:project_id, "Project", class: "input-label") %>
                <%= f.collection_select(:project_id, Project.current_and_potential, :id, :name, { :include_blank => true, :selected => params[:p] }, { :class => "project-name chzn-select custom-select" } ) %>
            </div>
        </div>        
    <% end %>
    
    <div class="full patterns">

        <div class="wide">
            <div class="input-row">
                <%= f.label(:challenges, "First-Observed Challenges", class: "input-label") %>
                <%= f.text_area :challenges, class: "pattern-text", rows: "2" %>
            </div>
            <div class="input-row">
                <%= f.label(:issue, "Issue", class: "input-label") %>
                <%= f.text_area :issue, class: "pattern-text", rows: "5" %>
            </div>
            <div class="input-row">
                <%= f.label(:solution, "Solution", class: "input-label") %>
                <%= f.text_area :solution, class: "pattern-text", rows: "5" %>
            </div>
            <div class="input-row">
                <%= f.label(:notes, "Notes", class: "input-label") %>
                <%= f.text_area :notes, class: "pattern-text", rows: "2" %>
            </div>
            <% if params[:action] != "new" %>
                <div class="input-row added">
                    Added <%= f.object.created_at.strftime("%-m/%d/%Y") %>
                    <% if f.object.updated_at %>
                         // Updated <%= f.object.updated_at.strftime("%-m/%d/%Y") %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="narrow">
            <div class="input-row">
                <%= f.label(:author, "Author(s)", class: "input-label") %>
                <%= f.autocomplete_field :author, autocomplete_contact_name_contacts_path,  class: "match-select" %>
            </div>
            <div class="input-row">
                <%= f.label(:pattern_group_id, "Group", class: "input-label") %>
                <%= f.collection_select(:pattern_group_id, PatternGroup.all, :id, :display_name, { :include_blank => true }, { :class => "pattern-group chzn-select custom-select" } ) %>
            </div>

            <div class="input-row">
                <%= f.label(:diagram, "Key Image", class: "input-label no-margin") %>
                <div class="image-box">
                    <% if f.object.diagram_file_name %>
                        <div class="image-placeholder" id="diagram-placeholder">
                            <%= image_tag f.object.diagram.url(:medium), alt: f.object.diagram_file_name, class: "diagram" %>
                        </div>
                        <div class="add-image" >
                            <%= f.file_field :diagram %>
                            <div class="text">Change Diagram</div>
                        </div>
                        <label for="pattern_delete_diagram" class="fui-cross">
                            <%= f.check_box(:delete_diagram) %>
                        </label>
                    <% else %>
                        <div class="image-placeholder" id="diagram-placeholder"></div>
                        <div class="image-name" id="photo-name"></div>
                        <div class="add-image no-x" >
                            <%= f.file_field :diagram %>
                            <div class="text">Select Image</div>
                        </div>
                    <% end %>
                </div>
                <!--<div class="image-box">
                    <% if f.object.photo_file_name %>
                        <div class="image-placeholder" id="photo-placeholder">
                            <%= image_tag @pattern.photo.url(:medium), class: "diagram" %>
                        </div>
                        <div class="image-name" id="photo-name"><%= f.object.photo_file_name %></div>
                        <div class="add-image" >
                            <%= f.file_field :photo %>
                            <div class="text">Change Photo</div>
                        </div>
                        <label for="pattern_delete_photo" class="fui-cross">
                            <%= f.check_box(:delete_photo) %>
                        </label>
                    <% else %>
                        <div class="image-placeholder" id="photo-placeholder"></div>
                        <div class="image-name" id="photo-name"></div>
                        <div class="add-image no-x" >
                            <%= f.file_field :photo %>
                            <div class="text">Select Photo</div>
                        </div>
                    <% end %>
                </div>-->
            </div>
        </div>
        
    </div>

    <script>

    $(document).ready(function(){
        $('textarea').autosize();   
    });

    $('#pattern_photo').live('change', function(){
        text = $(this).val().replace(/C:\\fakepath\\/i, '');
        $('#photo-name').html(text);
        $('#photo-placeholder').empty();
    });
    $('#pattern_diagram').live('change', function(){
        text = $(this).val().replace(/C:\\fakepath\\/i, '');
        $('#diagram-name').html(text);
        $('#diagram-placeholder').empty();
    });
    $('#pattern_delete_diagram').live('change', function(){
        if($(this).is(':checked')){
            $('#diagram-placeholder').empty();
            $('#diagram-name').empty();
            $('label[for="pattern_delete_diagram"]').addClass('checked');
        } else {
            location.reload();
        }
    });
    $('#pattern_delete_photo').live('change', function(){
        if($(this).is(':checked')){
            $('#photo-placeholder').empty();
            $('#photo-name').empty();
            $('label[for="pattern_delete_photo"]').addClass('checked');
        } else {
            location.reload();
        }
    });
    </script>