     
    <% if params[:action] == "new" %>
        <div class="full patterns">
            <div class="input-row">
                <%= f.label(:number, "Pattern Number", class: "input-label") %>
                <%= f.text_field :number, autocomplete: "off", class: "small" %>
            </div>
            <div class="input-row">
                <%= f.label(:name, "Pattern Name", class: "input-label") %>
                <%= f.text_field :name, class: "pattern-name" %>
            </div>
            <div class="input-row">
                <%= f.label(:project_id, "Project", class: "input-label") %>
                <%= f.collection_select(:project_id, Project.current_and_potential, :id, :name, { :include_blank => true, :selected => params[:p] }, { :class => "project-name chzn-select custom-select" } ) %>
                <div class="detail">If you want to write patterns for an internal (non-billable) project, just add it as a <%= link_to "new potential project", potential_projects_path, class: "green underline" %>. </div>
            </div>
        </div>        
    <% end %>
    
    <div class="full patterns last">

        <div class="wide">
            <div class="input-row">
                <%= f.label(:pattern_group_id, "Group", class: "input-label") %>
                <%= f.collection_select(:pattern_group_id, PatternGroup.all, :id, :display_name, { :include_blank => true }, { :class => "pattern-group chzn-select custom-select" } ) %>
            </div>
            <div class="input-row">
                <%= f.label(:challenges, "First-Observed Challenges", class: "input-label") %>
                <%= f.text_area :challenges, class: "pattern-text background", rows: "2" %>
            </div>
            <div class="input-row dark">
                <%= f.label(:issue, "Issue", class: "input-label") %>
                <%= f.text_area :issue, class: "pattern-text", rows: "5" %>
            </div>
            <div class="input-row dark">
                <%= f.label(:solution, "Solution", class: "input-label") %>
                <%= f.text_area :solution, class: "pattern-text", rows: "5" %>
            </div>
            <div class="input-row">
                <%= f.label(:notes, "Background/Notes", class: "input-label") %>
                <%= f.text_area :notes, class: "pattern-text background", rows: "2" %>
            </div>
            <div class="input-row">
                <%= f.label(:author, "Author(s)", class: "input-label") %>
                <%= f.autocomplete_field :author, autocomplete_contact_name_contacts_path,  class: "match-select" %>
            </div>
            <% if params[:action] != "new" %>
                <div class="input-row added">
                    Added <%= f.object.created_at.strftime("%-m/%d/%Y") %>
                    <% if f.object.updated_at %>
                         // Updated <%= f.object.updated_at.strftime("%-m/%d/%Y") %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="narrow">
            
            <div class="input-row">

                <%= f.label(:photo, "Key Photo", class: "input-label no-margin") %>
                <div class="image-box">
                    <% if f.object.photo_file_name %>
                        <div class="image-upload">
                            <%= image_tag f.object.photo.url(:medium), alt: f.object.photo_file_name, class: "pattern-image" %>
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="fileUpload btn" id="uploadBtn">
                                <span>Change Photo</span>
                                <%= f.file_field :photo, class: "upload" %>
                            </div>
                            <label for="pattern_delete_photo">
                                delete photo
                                <%= f.check_box(:delete_photo) %>
                            </label>
                        </div>
                    <% else %>
                        <div class="image-upload">
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="p-photo fileUpload btn">
                                <span>Upload Photo</span>
                                <%= f.file_field :photo, class: "upload" %>
                            </div>
                        </div>
                    <% end %>
                </div>

                <%= f.label(:diagram, "Solution Diagram", class: "input-label no-margin") %>
                <div class="image-box">
                    <% if f.object.diagram_file_name %>
                        <div class="image-upload">
                            <%= image_tag f.object.diagram.url(:medium), alt: f.object.diagram_file_name, class: "pattern-image" %>
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="fileUpload btn" id="uploadBtn">
                                <span>Change Diagram</span>
                                <%= f.file_field :diagram, class: "upload" %>
                            </div>
                            <label for="pattern_delete_diagram">
                                delete diagram
                                <%= f.check_box(:delete_diagram) %>
                            </label>
                        </div>
                    <% else %>
                        <div class="image-upload">
                            <input class="uploadFile" style="line-height: 16px;" type="text" disabled="disabled" placeholder="No file selected">
                            <div class="p-diagram fileUpload btn">
                                <span>Upload Diagram</span>
                                <%= f.file_field :diagram, class: "upload" %>
                            </div>
                        </div>
                    <% end %>
                </div>
      
            </div>
        </div>

    </div>

    <script>

    $(document).ready(function(){
        $('textarea').autosize();   
    });

    $('.fileUpload').change( function () {
        fileName = $(this).children(".upload").val().replace("C:\\fakepath\\", '');
        $(this).parent(".image-upload").children(".uploadFile").show().val(fileName);
        $(this).hide();
    });

    $('#pattern_photo').live('change', function(){
        text = $(this).val().replace(/C:\\fakepath\\/i, '');
        $('#photo-name').html(text);
        $('#photo-placeholder').empty();
    });
    $('#pattern_diagram').live('change', function(){
        text = $(this).val().replace(/C:\\fakepath\\/i, '');
        $('#diagram-name').html(text);
        $('#diagram-placeholder').empty();
    });
    $('#pattern_delete_diagram').live('change', function(){
        if($(this).is(':checked')){
            $('#diagram-placeholder').empty();
            $('#diagram-name').empty();
            $('label[for="pattern_delete_diagram"]').addClass('checked');
        } else {
            location.reload();
        }
    });
    $('#pattern_delete_photo').live('change', function(){
        if($(this).is(':checked')){
            $('#photo-placeholder').empty();
            $('#photo-name').empty();
            $('label[for="pattern_delete_photo"]').addClass('checked');
        } else {
            location.reload();
        }
    });
    </script>