<% content_for :page_header do %>
  <% provide :title, "Browse Patterns" %>
  <div class="page-header">
    <h1>Browse Patterns</h1>
  </div>
<% end %>


<div class="gray-box controls">
	<%= collection_select(:pattern_search, :project_id, Project.with_patterns, :id, :name, { :include_blank => true, :selected => @project_id }, { :class => "pattern-name custom-select default-green" } ) %>
	<%= link_to "Search", "/patterns/browse", class: "btn btn-primary search-btn patterns", id: "browse_button" %>
</div>


<ul id="pattern-tiles" >
	<% @patterns.each do |p| %>
		<li>
			<div class="header">
				<div class="project"><%= Project.find(p.project_id).name %></div>
				<div class="detail">Written on <%= p.created_at.strftime("%B %-d, %Y") %> by <%= p.author %></div>
			</div>
			<div class="number"><%= p.number %> /</div>
			<div class="title"><%= link_to p.name, edit_pattern_path(p) %></div>
			<div class="issue"><%= p.issue %></div>
			<div class="solution"><%= p.solution %></div>
			<div class="diagram"></div>
		</li>
	<% end %>
</ul>

<script>
$('#pattern_search_project_id').on('change', function() {
	var v = $(this).find('option:selected').val();
    $('#browse_button').attr('href', "/patterns/browse/"+v);
});

</script>