<% provide :title, "Patterns" %>
  <div class="page-header">
    <h1>Pattern Database</h1>
  </div>

<h2 class="first">Patterns By Project</h2>
<div class="description">Select a project from the box below. If a project does not show up on the list, it means patterns have not been written for it yet, so choose "Add A New Pattern" to get started.</div>

<div class="gray-box patterns">
	<%= collection_select(:search, :select, Project.with_patterns, :id, :name, { :include_blank => true, :prompt => "Select Project..." }, { :class => "pattern-name custom-select" } ) %>
	<a id="search-patterns" class="btn btn-primary search-btn patterns">Show Patterns</a>

</div>


<div class="row icons three">

    <div class="tile-box">
        <%= link_to image_tag("pencils.png", :alt => "new-pattern", :class => "round-icon"), new_pattern_path %>
        <%= link_to "Add A New Pattern", new_pattern_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("patterns-small.png", :alt => "browse-patterns", :class => "round-icon"), patterns_path %>
        <%= link_to "Search Patterns", patterns_path, :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("browse.png", :alt => "generate-layout", :class => "round-icon"), all_patterns_path %>
        <%= link_to "Pattern List", all_patterns_path, :class => "tile-label" %>
    </div>

  </div> <!-- end tiles -->

<script>

$('#search-patterns').click(function(){
	id = $('#search_select').val();
  	window.location = "/patterns/by_project/" + id;
});
</script>