<% provide :title, "Patterns" %>
  <div class="page-header">
    <h1>Search Patterns</h1>
  </div>


<div class="gray-box patterns">

	<%= search_form_for @q do |f| %>

		<%= f.collection_select(:project_id_eq, Project.with_patterns, :id, :name, { :include_blank => true, :prompt => 'Project Name' }, { :class => "pattern-name custom-select" } ) %>
    <%= f.text_field :name_cont, class: "search-name", placeholder: "Pattern Name" %>   
		<%= f.submit "Search", class: "btn btn-primary search-btn patterns" %>
			     
	<% end %>

</div>

<% if (params.has_key?(:q)) %>

	<% if @patterns.count == 0 %>
		<div class="search-results">No matches.<br><a href="/patterns">Clear search and try again.</a></div>
	<% else %>

	<h2>Search Results</h2>

		<ul id="pattern-tiles" >
		        <% @patterns.each do |param| %>
		            <%= render 'pattern', :f => param %>
		        <% end %>
		</ul>

	<% end %>

<% end %>
