<% content_for :page_header do %>
  <% provide :title, "Project Patterns" %>
  <div class="page-header">
    <h1><%= @project.name %></h1>
  </div>
<% end %>

<%= form_for @project do |f| %>
	<div class="pattern-list">
		<!-- nested form for pattern-->
	    	<%= f.fields_for :patterns do |builder| %>
    			<%= render 'pattern_fields', :f => builder %>
    		<% end %>
        	<%= link_to_add_fields "", f, :patterns, "add fui-plus timesheets" %>
	   	<!-- end pattern form -->
	</div>

<% end %>
