<div class="table-row <% if nb_unsaved?(f.object) %>edit not-saved<% else %>saved<% end %>" id="nb-entry-<%= f.object.id %>">
    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    <%= f.collection_select(:category, NonBillableCategory.all, :id, :name, {:include_blank => true }, class: "category custom-select") %>

    <%= f.text_field :description, class: "text-input nb-description" %>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><%= f.text_field :day1, class: "text-input weekend", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><%= f.text_field :day2, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><%= f.text_field :day3, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><%= f.text_field :day4, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><%= f.text_field :day5, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><%= f.text_field :day6, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><%= f.text_field :day7, class: "text-input weekend", autocomplete: "off" %></div>
        <div class="total"><%= precise(nonzero?(f.object.total.to_f)) %></div>
    </div>

    <%= link_to_remove_fields " ", f %>

</div>

