<div class="table-row <% if f.object.category == "Holiday" %>holiday<% end %> <% if nb_unsaved?(f.object) %>edit not-saved<% end %>" id="nb-entry-<%= f.object.id %>">
    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>
   
    <div class="editable">
        <%= f.select(:category, Timesheet::NON_BILLABLE_CATEGORIES, {:include_blank => true }, class: "category custom-select") %>

        <%= f.text_field :description, class: "text-input nb-description" %>
    </div>
    <% if nb_unsaved?(f.object) == false %>
        <div class="non-editable">
            <div class="category-cell">
                <% if f.object.category %> 
                    <%= f.object.category %>
                <% end %> 
            </div>
            <div class="description-cell">
                <% if f.object.description %> 
                    <%= f.object.description %>
                <% end %> 
            </div>

        </div>
    <% end %>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><%= f.text_field :day1, class: "text-input weekend" %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><%= f.text_field :day2, class: "text-input" %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><%= f.text_field :day3, class: "text-input" %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><%= f.text_field :day4, class: "text-input" %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><%= f.text_field :day5, class: "text-input" %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><%= f.text_field :day6, class: "text-input" %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><%= f.text_field :day7, class: "text-input weekend" %></div>
    </div>

  <div class="total"><%= precise(nonzero?(f.object.entry_total)) %></div>
  
    <div class="non-editable">
        <a class="edit-me"></a>
    </div>
    <div class="editable">
        <%= link_to_remove_fields " ", f %>
        <a class="done-editing">cancel</a>
    </div>

</div>

