<div class="table-row view" id="nb-entry-<%= f.object.id %>">
    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    <div class="category-cell">
        <% unless f.object.category.blank? %> 
            <span class="bold"><%= NonBillableCategory.find(f.object.category).shorthand %></span> / <%= NonBillableCategory.find(f.object.category).name%>
        <% end %> 
    </div>
    <div class="description-cell">
        <% if f.object.description %> 
            <%= f.object.description %>
        <% end %> 
    </div>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><% if @day_1.present? %><div class="entry-spacer weekend"><%= f.object.day1 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><% if @day_2.present? %><div class="entry-spacer"><%= f.object.day2 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><% if @day_3.present? %><div class="entry-spacer"><%= f.object.day3 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><% if @day_4.present? %><div class="entry-spacer"><%= f.object.day4 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><% if @day_5.present? %><div class="entry-spacer"><%= f.object.day5 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><% if @day_6.present? %><div class="entry-spacer"><%= f.object.day6 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><% if @day_7.present? %><div class="entry-spacer weekend"><%= f.object.day7 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="total"><%= precise(nonzero?(f.object.total.to_f)) %></div>
    </div>

</div>