<div class="table-row <% if unsaved?(f.object) %>edit not-saved<% else %>saved<% end %>" id="entry-<%= f.object.id %>" >

    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    <% if f.object.project_id %>
        <div class="project-cell"><span class="bold"><%= strip(Project.find(f.object.project_id).number) %></span> / <%= Project.find(f.object.project_id).name %></div>
    <% end %> 
    <div class="phase-cell">
        <% unless f.object.phase_number.blank? %>
            <%= f.object.phase_number %>
        <% end %> 
    </div>
    <div class="task-cell">
        <% unless f.object.task.blank? %> 
            <% if f.object.phase_number == 70 %>
                <span class="bold"><%= f.object.task %></span>
            <% elsif Task.exists?(f.object.task) %>
                <% if Task.find(f.object.task).project_id.present? %>
                    <span class="bold"><%= Task.find(f.object.task).name %></span>
                <% else %>
                    <div class="task-abridged"><span class="bold"><%= Task.find(f.object.task).number %></span>  / <%= Task.find(f.object.task).name %></div>
                <% end %>
            <% end %> 
        <% end %> 
    </div>
    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><% if @day_1.present? %><div class="entry-spacer weekend"><%= f.object.day1 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><% if @day_2.present? %><div class="entry-spacer"><%= f.object.day2 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><% if @day_3.present? %><div class="entry-spacer"><%= f.object.day3 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><% if @day_4.present? %><div class="entry-spacer"><%= f.object.day4 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><% if @day_5.present? %><div class="entry-spacer"><%= f.object.day5 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><% if @day_6.present? %><div class="entry-spacer"><%= f.object.day6 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><% if @day_7.present? %><div class="entry-spacer weekend"><%= f.object.day7 %></div><% else %><div class="spacer"></div><% end %></div>
        <div class="total"><%= precise(nonzero?(f.object.total.to_f)) %></div>
    </div>

</div>