<% if @timesheet.year == this_year %>
	<div class="gray-box timesheets">
			<div class="stats utilization">
				<label class="input-label">Utilization Rate</label>
				<div class="number">
					<% if @timesheet.ytd_total > 0 %>
						<%= number_to_percentage((@timesheet.ytd_billable / @timesheet.ytd_total * 100), precision: 0) %>
					<% else %>
						0%
					<% end %>
				</div>
				<div class="detail">percent billable hours
				</div>
			</div>
			<div class="stats">
				<label class="input-label">Remaining Vacation</label>
				<div class="number">
					<%= @timesheet.vacation_record.hours.to_f + @timesheet.vacation_record.rollover.to_f - @timesheet.ytd_vacation  %>
				</div>
				<div class="detail">used <%= number_with_precision(@timesheet.ytd_vacation, strip_insignificant_zeros: true) %> of <%= number_with_precision((@timesheet.vacation_record.hours.to_f + @timesheet.vacation_record.rollover.to_f), strip_insignificant_zeros: true) %> hours in <%= this_year %> 
				</div>
			</div>
		
			<div id="summary">
				<label class="input-label">Target Hours (Weeks <%= @timesheet.data_record.start_week %> - <%= @timesheet.data_record.end_week %>)</label>
				<div class="content">
					<div class="token">
						<div class="circle target">
							<div class="title">Target</div>
							<%= @timesheet.goal %>
						</div>
						<div class="detail"><%= number_with_precision(@timesheet.data_record.hours_in_week, strip_insignificant_zeros: true) %> hrs x <%= @timesheet.week - @timesheet.data_record.start_week + 1 %> <%= @timesheet.week - @timesheet.data_record.start_week + 1 == 1 ? "wk" : "wks" -%></div>
					</div>
					
						<div class="minus"></div>
						<div class="token">
							<div class="circle actual">
								<div class="title">Actual</div>
								<%= number_with_precision(@timesheet.ytd_total, strip_insignificant_zeros: true) %>
							</div>
							<div class="detail"><%= @timesheet.week == 1 ? "week 1" : "weeks 1-#{@timesheet.week}" -%></div>
						</div>
						<div class="equals"></div>
						<div class="token">
							<!-- determines color of circle -->
							<% if @timesheet.data_record.pay_type == "Salary" && @timesheet.goal_with_overage > @timesheet.ytd_total %>
								<div class="circle under">
							<% else %>
								<div class="circle">
							<% end %>
								<!-- determines over/under/even text and prints number -->
								<% if @timesheet.goal == @timesheet.ytd_total %>
		        						<div class="title">even</div>
		        						<%= number_with_precision(@timesheet.goal - @timesheet.ytd_total, strip_insignificant_zeros: true) %>
								<% elsif @timesheet.goal > @timesheet.ytd_total %>
		        						<div class="title">under</div>
		        						<%= number_with_precision(@timesheet.ytd_total - @timesheet.goal, strip_insignificant_zeros: true) %>
		        				<% elsif @timesheet.goal < @timesheet.ytd_total %>
		        						<div class="title">over</div>
		        						+<%= number_with_precision(@timesheet.ytd_total - @timesheet.goal, strip_insignificant_zeros: true) %>
		        				<% end %>
		        			</div>

		        			<!-- determines note under circle -->
		        			<div class="detail">
								<% if @timesheet.data_record.pay_type == "Hourly" %>
									<% if @timesheet.goal == @timesheet.ytd_total %>
										nice!
									<% end %>
								<% elsif @timesheet.data_record.pay_type == "Salary" %>
									<% if @timesheet.goal_with_overage == @timesheet.ytd_total %>
										nice!
									<% else %>
										<!-- if under from last period -->
										<% if @timesheet.goal_with_overage > @timesheet.goal %>
											<% if @timesheet.ytd_total > @timesheet.goal_with_overage %>
												slow down!
											<% elsif @timesheet.goal_with_overage > @timesheet.ytd_total && @timesheet.ytd_total >= @timesheet.goal %>
												almost there!
											<% elsif @timesheet.ytd_total < @timesheet.goal %>
												uh oh
											<% end %>
										<!-- if over or even last period -->
										<% elsif @timesheet.goal_with_overage <= @timesheet.goal %>
											<% if @timesheet.ytd_total > @timesheet.goal %>
												slow down!
											<% elsif @timesheet.ytd_total < @timesheet.goal_with_overage %>
												uh oh
											<% end %>
										<% end %>
									<% end %>
			        			<% end %>
							</div>
						</div>
						<div class="arrow-left"></div>
						<div class="arrow-body">
							<% if @timesheet.data_record.pay_type == "Salary" %>
		        				<% if @timesheet.data_record.overage_from_prev.to_f > 0 %>
		        					You can be under by <span class="bold"><%= @timesheet.data_record.overage_from_prev.to_f %></span> hours due to overage from last year.
		        				<% elsif @timesheet.data_record.overage_from_prev.to_f < 0 %>
		        					You need to be over by <span class="bold"><%= @timesheet.data_record.overage_from_prev.to_f * -1 %></span> hours to make up for a shortfall last year.
		        				<% else %>
		        					<% if @timesheet.goal == @timesheet.ytd_total %>
		        						<br>You are right on target!
		        					<% elsif @timesheet.goal > @timesheet.ytd_total %>
		        						You are currently below your target hours for <%= this_year %>.
		        					<% elsif @timesheet.goal < @timesheet.ytd_total %>
		        						You are currently above your target hours for <%= this_year %>.
		        					<% end %>
		        				<% end %>
		        			<% elsif @timesheet.data_record.pay_type == "Hourly" %>
		        				You are paid <span class="bold">hourly</span>, so your target hours are just a guideline.
		        			<% end %>
						</div>
					
				</div>
			</div>
		
		</div>

	</div>  <!-- end box-->
<% end %>