<div class="table-row <% if unsaved?(f.object) %>edit not-saved<% else %>saved<% end %>" id="entry-<%= f.object.id %>" >

    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    <% if f.object.project_id %>
        <%= f.collection_select(:project_id, @user.project_list, :id, :name, { :include_blank => true }, { :class => "project-name chzn-select custom-select hidden" } ) %>
        <div class="project-cell"><%= link_to Project.find(f.object.project_id).name, info_project_path(f.object.project_id) %></div>
    <% else %>
        <%= f.collection_select(:project_id, @user.project_list, :id, :name, { :include_blank => true }, { :class => "project-name chzn-select custom-select" } ) %>
    <% end %>
    <% if f.object.project_id %>
        <%= f.collection_select :phase_number, Project.find(f.object.project_id).available_phases, :number, :number, { include_blank: true }, { :class => "phase custom-select" } %>
    <% else %>
        <%= f.collection_select :phase_number, Phase.order(:number), :number, :number, { include_blank: true }, { :class => "phase custom-select" } %>
    <% end %>
    <div id="task-<%= f.object.id %>" class="task-container">
        <% if f.object.phase_number == 70 %>
            <%= f.text_field :task, class: "task-writein" %>
        <% else %>
            <% if f.object.project_id %>
                <%= f.collection_select(:task, Project.find(f.object.project_id).available_tasks, :id, :name, { :include_blank => true }, { :class => "task custom-select" } ) %>
            <% else %>
                <%= f.collection_select(:task, Task.universal, :id, :name, { :include_blank => true }, { :class => "task custom-select" } ) %>
            <% end %>
        <% end %>
    </div>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><%= f.text_field :day1, class: "text-input weekend", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><%= f.text_field :day2, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><%= f.text_field :day3, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><%= f.text_field :day4, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><%= f.text_field :day5, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><%= f.text_field :day6, class: "text-input", autocomplete: "off" %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><%= f.text_field :day7, class: "text-input weekend", autocomplete: "off" %></div>
        <div class="total"><%= precise(nonzero?(f.object.entry_total)) %></div>
    </div>

    <%= link_to_remove_fields " ", f %>

    <!-- script to update the phase list based on selected project - must be here, not on main page or in scripts file -->
    <script>
        $('.project-name').on('change', function() {
            var v = $(this).find('option:selected').val();
            var phase = $(this).closest('.table-row').find('.phase').attr('id')
            $.ajax({
                url: "<%= update_phases_path %>",
                data: { 'phase_id' : phase, 'project_id' : v },
                dataType: "script"
            });
        });

        $('.phase').on('change', function() {
            var v = $(this).find('option:selected').val();
            var task = $(this).closest('.table-row').find('.task-container').attr('id');
            var project_id = $(this).closest('.table-row').find('.project-name').find('option:selected').val();
            var key = $(this).attr('id').replace( /[^\d.]/g, '' );

            $.ajax({
                url: "<%= update_task_field_path %>",
                data: { 'task_id' : task, 'phase_number' : v, 'key' : key, 'project_id' : project_id },
                dataType: "script"
            });
            
        });
    </script>

</div>
