<div class="table-row <% if is_first?(f.object) %>first-row<% end %>">

    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :employee_id, value: "#{@timesheet.employee_id}" %>

    <%= f.collection_select(:project_id, @employee.project_list, :id, :name, { :include_blank => true }, { :class => "project-name chzn-select custom-select" } ) %>
    
    <% if f.object.project_id %>
        <%= f.collection_select :phase_number, Project.find(f.object.project_id).available_phases, :id, :number, { include_blank: true }, { :class => "phase custom-select" } %>
    <% else %>
        <%= f.collection_select :phase_number, Phase.order(:number), :id, :number, { include_blank: true }, { :class => "phase custom-select" } %>
    <% end %>

            <!-- script to update the phase list based on selected project - must be here, not on main page or in scripts file -->
            <script>
                $('.project-name').on('change', function() {
                    var v = $(this).find('option:selected').val();
                    var phase = $(this).closest('.table-row').find('.phase').attr('id')
                    $.ajax({
                        url: "<%= update_phases_path %>",
                        data: { 'phase_id' : phase, 'project_id' : v },
                        dataType: "script"
                    });
                });
            </script>

    <%= f.collection_select(:task, Task.all, :name, :name, { :include_blank => true }, { :class => "task custom-select" } ) %>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><%= f.text_field :day1, class: "text-input weekend" %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><%= f.text_field :day2, class: "text-input" %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><%= f.text_field :day3, class: "text-input" %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><%= f.text_field :day4, class: "text-input" %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><%= f.text_field :day5, class: "text-input" %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><%= f.text_field :day6, class: "text-input" %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><%= f.text_field :day7, class: "text-input weekend" %></div>
        <div class="total"><%= precise(nonzero?(f.object.entry_total)) %></div>
    </div>

    <div id="test-box"></div>

    <%= link_to_remove_fields " ", f %>

</div>
