<div class="table-row <% if is_first?(f.object) %>first-row<% end %> <% if unsaved?(f.object) %>edit not-saved<% end %>" id="entry-<%= f.object.id %>" >

    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    
        <div class="editable">
            <%= f.collection_select(:project_id, Project.current, :id, :name, { :include_blank => true }, { :class => "project-name chzn-select custom-select" } ) %>
            <% if f.object.project_id %>
                <%= f.collection_select :phase_number, Project.find(f.object.project_id).available_phases, :id, :number, { include_blank: true }, { :class => "phase custom-select" } %>
            <% else %>
                <%= f.collection_select :phase_number, Phase.order(:number), :id, :number, { include_blank: true }, { :class => "phase custom-select" } %>
            <% end %>
            <%= f.collection_select(:task, Task.all, :name, :name, { :include_blank => true }, { :class => "task custom-select" } ) %>
        </div>
        
        <% if unsaved?(f.object) == false %>
            <div class="non-editable">
                <% if f.object.project_id %>
                    <div class="project-cell"><%= link_to Project.find(f.object.project_id).name, info_project_path(f.object.project_id) %></div>
                <% else %>
                    <%= f.collection_select(:project_id, Project.current, :id, :name, { :include_blank => true }, { :class => "project-name chzn-select custom-select" } ) %>
                <% end %> 
                <div class="phase-cell">
                    <% if f.object.phase_number %> 
                        <%= Phase.find(f.object.phase_number).number %>
                    <% end %> 
                </div>
                <div class="task-cell">
                    <% if f.object.task %> 
                        <%= f.object.task %>
                    <% end %> 
                </div>
            </div>
        <% end %>

            <!-- script to update the phase list based on selected project - must be here, not on main page or in scripts file -->
            <script>
                $('.project-name').on('change', function() {
                    var v = $(this).find('option:selected').val();
                    var phase = $(this).closest('.table-row').find('.phase').attr('id')
                    $.ajax({
                        url: "<%= update_phases_path %>",
                        data: { 'phase_id' : phase, 'project_id' : v },
                        dataType: "script"
                    });
                });
            </script>

    

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><%= f.text_field :day1, class: "text-input weekend" %></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><%= f.text_field :day2, class: "text-input" %></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><%= f.text_field :day3, class: "text-input" %></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><%= f.text_field :day4, class: "text-input" %></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><%= f.text_field :day5, class: "text-input" %></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><%= f.text_field :day6, class: "text-input" %></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><%= f.text_field :day7, class: "text-input weekend" %></div>
        <div class="total"><%= precise(nonzero?(f.object.entry_total)) %></div>
    </div>

    <div id="test-box"></div>

    <div class="non-editable">
        <a class="edit-me"></a>
    </div>
    <div class="editable">
        <%= link_to_remove_fields " ", f %>
        <a class="done-editing">cancel</a>
    </div>

</div>
