<div class="table-row" id="nb-entry-<%= f.object.id %>">
    <%= f.hidden_field :timesheet_id, value: "#{@timesheet.id}" %>
    <%= f.hidden_field :user_id, value: "#{@timesheet.user_id}" %>

    <div class="category-cell">
        <% unless f.object.category.blank? %> 
            <%= NonBillableCategory.find(f.object.category).name %>
        <% end %> 
    </div>
    <div class="description-cell">
        <% if f.object.description %> 
            <%= f.object.description %>
        <% end %> 
    </div>

    <div class="time-entries">  
        <div class="entry <%= is_today?(1, @timesheet) %>"><div class="entry-spacer weekend"><%= f.object.day1 %></div></div>
        <div class="entry <%= is_today?(2, @timesheet) %>"><div class="entry-spacer"><%= f.object.day2 %></div></div>
        <div class="entry <%= is_today?(3, @timesheet) %>"><div class="entry-spacer"><%= f.object.day3 %></div></div>
        <div class="entry <%= is_today?(4, @timesheet) %>"><div class="entry-spacer"><%= f.object.day4 %></div></div>
        <div class="entry <%= is_today?(5, @timesheet) %>"><div class="entry-spacer"><%= f.object.day5 %></div></div>
        <div class="entry <%= is_today?(6, @timesheet) %>"><div class="entry-spacer"><%= f.object.day6 %></div></div>
        <div class="entry <%= is_today?(7, @timesheet) %>"><div class="entry-spacer weekend"><%= f.object.day7 %></div></div>
        <div class="total"><%= precise(nonzero?(f.object.total.to_f)) %></div>
    </div>

</div>

