<% content_for :page_header do %>
  <% provide :title, "All Timesheets" %>
  <div class="page-header">
    <h1><%= @week %> / All Timesheets &nbsp;<span class="light"><%= parse_date_full(@week, @year) %></span></h1>
  </div>
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav_all_timesheets" %>
<% end %>

<div class="timesheet-panel" id="yr-<%= this_year %> wk-<%= this_week %>">

	<table class="table right-align timesheets">
		<thead>
			<tr>
				<th class="left">Name</th>
				<th>Total Hours</th>
				<th class="line-left line-top">Cumulative<br>Hours</th>
				<th class="line-top">Cumulative<br>Goal</th>
				<th class="line-right line-top">Over/Under</th>
				<th>Status</th>
				<th>Printed?</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<% t = Timesheet.find_by_user_id_and_week_and_year(user.id, @week, @year) %>
				<% if t.present? && t.data_record.present? %>
					<tr>
						<td class="left"><%= link_to user.name, user_index_timesheets_path(user.id), class: "green" %></td>
						<td class="bold"><%= precise(nonzero?(t.timesheet_total)) %></td>
						<td class="line-left line-bottom">
							<%= total_hours_for(user.id, t.year, t.week, t.data_record.start_week) %>
						</td>
						<td class="line-bottom"><%= (t.ytd_goal(t.week - t.data_record.start_week + 1).to_f) %></td>
						<td class="line-right line-bottom"><%= number_with_precision(t.ytd('total').to_f - (t.ytd_goal(t.week - t.data_record.start_week + 1).to_f), strip_insignificant_zeros: true) %></td>
			  			<td class="link"><%= link_to t.complete == true ? "open" : "closed", user_timesheet_path(t.user_id, t.year, t.week), class: "btn #{t.complete == true ? "open" : "closed"}" %></td>
		  				<td class="link">
							<%= form_for(t) do |f| %>
		  					<%= f.check_box :printed, class: "hidden" %> 
		  				
							<% if t.complete == false %>
								<% if t.printed == false %>
									<%= f.submit "Print Timesheet", class: "print-timesheet btn" %>
								<% else %>
									printed
								<% end %>
							<% end %>
							<script>
							    // print timesheet
						    	$('.print-timesheet').click( function() {
							        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', true);
							        window.open('/users/<%= t.user_id %>/timesheets/<%= t.year %>/<%= t.week %>/print');
						    	});
						    </script>
						<% end %>
		  				</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>		

</div>
