<% provide :title, "All Timesheets" %>
<div class="page-header">
    <h1><%= @week %> / All Timesheets &nbsp;<span class="light"><%= parse_date_full(@week, @year) %></span></h1>
    <input type="button" id="selectall" class="btn btn-right" value="Select All">
</div>

<%= render "tabnav_all_timesheets" %>

<!-- modal for timesheet print -->
		<div class="print-timesheet modal fade" id="timesheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		</div><!-- /.modal -->
<!-- end modal -->

<table class="table right-align timesheets">
	<thead>
		<tr>
			<th class="left">Name</th>
			<th class="left">Week</th>
			<th>Exp. Reports</th>
			<th class="line-left line-top line-right">Total Hours</th>
			<th class="left link">Status</th>
			<th class="check"></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<% d = DataRecord.where(user_id: user.id, year: @year).first %>
			<% if @week >= d.start_week && @week <= d.end_week %>
				<% t = Timesheet.where(user_id: user.id, week: @week, year: @year).first_or_create %>
				<tr>

					<td class="left"><%= link_to user.name, user_index_timesheets_path(t.user_id, t.year), class: "green" %></td>
					<td class="left"><%= link_to "#{t.week} / #{parse_date_full(t.week, t.year)}", user_timesheet_path(t.user_id, t.year, t.week), class: "green" %></td>
					<td><%= link_to "View", user_expense_reports_path(t.user_id), class: "green" %></td>
					<td class="bold line-left line-right line-bottom"><%= precise(nonzero?(t.timesheet_total)) %></td>
	  				<td class="link">
						<%= form_for(t) do |f| %>
							<%= f.check_box :complete, class: "hidden"  %> 
							<% if f.object.complete == false %>
								<%= f.submit "Open", class: "open close-timesheet btn" %>
		  					<% else %>
		  						<%= f.submit "Closed", class: "closed open-timesheet btn" %>
		  					<% end %>
		  					<%= f.check_box :printed, class: "hidden" %> 
							<% if f.object.complete == true %>
								<% if f.object.printed == false %>
									<a href="/users/<%= f.object.user_id %>/timesheets/<%= f.object.year %>/<%= f.object.week %>/print" data-target="#timesheetModal" data-toggle="modal" class="print-timesheet btn">Print</a>
								<% else %>
									<%= f.submit "Printed", class: "unprint-timesheet btn" %>
								<% end %>
							<% end %>
						<% end %>	
					</td>
					<td class="check">
						<label class="checkbox">
					    	<input type='checkbox' class='ck' value='<%= user.email %>' <%= "checked=checked" if t.complete == false %>>
					    </label>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>	

<%= link_to "Employee Targets", "/data_records" %>

<div class="save-row">
	<input type="button" id="getselected" class="btn btn-primary" value="Email All Selected">
</div>	

<% content_for :scripts do %>
	<script src="/assets/jquery.PrintArea.js?body=1" type="text/javascript"></script>
	<script>
		// close timesheet
		$('.close-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_complete").prop('checked', true);
	        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', false);
		});
		// reopen timesheet
		$('.open-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_complete").prop('checked', false);
	        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', false);
		});
		// unprint timesheet
		$('.unprint-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', false);
		});
		//reset modal remote on close
		$('#timesheetModal').on('hide.bs.modal', function (e) {
		    $(this).data('bs.modal', null);
		    location.reload(true);
		});

		$(function () {
		    $('#selectall').toggle(
		        function() {
		            $(':checkbox.ck').prop('checked', true);
		            $('.checkbox').addClass('checked');
		            $(this).val('Deselect All');
		        },
		        function() {
		            $(':checkbox.ck').prop('checked', false);
		            $('.checkbox').removeClass('checked');
		            $(this).val('Select All');
		        }
		    );

		    $( "#getselected" ).click(function() {
		    	var allVals = [];
		    	$(':checkbox.ck').each(function() {
		    		if ( $(this).prop('checked') == true ) {
		       			allVals.push($(this).val());
		       		}
		     	});
			  	window.location.href = "mailto:" + allVals.join(",") + "?subject=Please%20fill%20out%20timesheet%20<%= @week %>&body=Your%20timesheet%20for%20week%20<%= @week %>%20is%20still%20listed%20as%20OPEN.%20Please%20review%20it%20to%20make%20sure%20that%20all%20fields%20are%20filled%20out%20correctly%20and%20submit.%0D%0A%0D%0AThank you!%0D%0ALeta";
			});
		});
	</script>
<% end %>