<% provide :title, "#{parse_date_full(@timesheet.week, @timesheet.year)}" %>
<div class="page-header">
    <h1><%= link_to @timesheet.week, all_timesheets_path(@timesheet.year, @timesheet.week) %> / <%= link_to @user.name, user_index_timesheets_path(@timesheet.user_id) %> &nbsp;<span class="light"><%= parse_date_full(@timesheet.week, @timesheet.year) %></span></h1>
    <% if @timesheet.data_record.present? %>
        <ul class="controls">
        	<li>
	        	<% if @timesheet.complete == true %>
	        		<div class="status closed">Closed</div>
	        	<% else %>
	            	<div class="status open">Open</div>
	            <% end %>
            </li>
        </ul>
    <% end %>
</div>		

<%= render "tabnav_timesheets" %>

<% if @timesheet.data_record.nil? %>
	
	<div class="error-message">
		Employee data has not been set up for this week. Please see admin.
	</div>

<% else %>

	<!-- modal for phases -->
		<div class="phases modal fade" id="phaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div><!-- /.modal -->
	<!-- end modal -->

	<!-- modal for consultant billing edit -->
	    <div class="employee-team modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    </div><!-- /.modal -->
	<!-- end modal -->

	<%= form_for(@timesheet, :html => { :class => "#{'complete' if @timesheet.complete == true}" }) do |f| %>

		<div class="box">

		    <div class="table-main timesheets">

				<div class="table-head">
					<div class="cell project-name"><div class="timesheet-tab">Billable Time</div></div>
					<div class="cell phase"><br />Phase<a href="<%= modal_phases_path %>" data-target="#phaseModal" data-toggle="modal" class="inline-edit-link fui-eye"></a></div>
					<div class="cell task"><br />Task</div>
					<div class="cell date weekend <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
					<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
					<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
					<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
					<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
					<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
					<div class="cell date weekend <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
					<div class="total"><br />Total</div>
				</div>

		  		<div class="table-body">
					<!-- nested form for team-->
		    		<%= f.fields_for :time_entries do |builder| %>
		    			<% if @timesheet.complete == false %>
		    				<%= render 'time_entry_fields', :f => builder %>
		    			<% else %>
		    				<%= render 'view_time_entry_fields', :f => builder %>
		    			<% end %>
		    		<% end %>
		    		<!-- this is commented out because new lines are automatically added to the view -->
		    		<% if @timesheet.complete == false %>
		        		<%= link_to_add_fields "", f, :time_entries, "add fui-plus timesheets" %>
		        		<a href="/employee_teams/new?user_id=<%= @user.id %>" data-target="#myModal" data-toggle="modal" class="add fui-plus add-project"></a>
		        	<% end %>
		   			<!-- end team form -->
		   		</div>	
		           					
		    </div> <!-- end billable timesheets table -->

		    <div class="table-main timesheets non-billable">
				<div class="table-head">
					
					<div class="cell category"><div class="timesheet-tab">Non-Billable Time</div></div>
					<div class="cell nb-description">Description <span class="note">(optional)</span></div>
					
				</div>

		  		<div class="table-body">

		  			<% if @timesheet.holidays.count > 0 %>
		  				<% @timesheet.holidays.each do |h| %>
		  					<%= render 'holiday_fields', :f => h  %>
		  				<% end %>
		  			<% end %>

					<!-- nested form for team-->
		    		<%= f.fields_for :non_billable_entries do |builder| %>
		    			<% if @timesheet.complete == false %>
		    				<%= render 'non_billable_entry_fields', :f => builder %>
		    			<% else %>
		    				<%= render 'view_non_billable_entry_fields', :f => builder %>
		    			<% end %>
		    		<% end %>
		    		<!-- this is commented out because new lines are automatically added to the view -->
		    		<% if @timesheet.complete == false %>
		        		<%= link_to_add_fields "", f, :non_billable_entries, "add fui-plus timesheets" %>
		        	<% end %>
		   			<!-- end team form -->
		   		</div>	

		    </div> <!-- end non-billable timesheets table -->
			
			<div class="summary">
				<div class="summary-label">Week Totals</div>
				<div class="span">

					<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day1))) %></div>
					<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day2))) %></div>
					<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day3))) %></div>
					<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day4))) %></div>
					<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day5))) %></div>
					<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day6))) %></div>
					<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day7))) %></div>
				</div>
			</div>

			<div class="timesheet-total"><%= precise(nonzero?(@timesheet.timesheet_total)) %></div>

			<% if @timesheet.complete == false %>
				<div class="save-row">
			        <%= f.submit "Save", class: "btn btn-primary save-btn" %>
			        <%= f.submit "Submit Timesheet", id: "close-timesheet", class: "tip-bottom", title: "Submit your timesheet at the end of the week when it is complete." %>
				</div>
			<% end %>

			<%= render 'summary', :f => f %>

			<%= f.check_box :complete, class: "hidden" %> 
			<% if @timesheet.complete == true %>
				<%= f.submit "Reopen Timesheet", id: "reopen-timesheet", class: "tip-bottom", title: "Reopen timesheet if you need to edit after its been submitted." %>
			<% end %>
		
	<% end %> <!-- end form -->

<% end %> <!-- end conditional -->

<% content_for :scripts do %>
	<script>
		$("input.tip-bottom").tooltip({ animation: true, placement: 'bottom', trigger:'hover' });
		// close timesheet
		$('#close-timesheet').click( function() {
	        $('#timesheet_complete').prop('checked', true);
		});
	    // reopen timesheet
		$('#reopen-timesheet').click( function() {
	        $('#timesheet_complete').prop('checked', false);
		});
	</script>
<% end %>

			    