<% content_for :page_header do %>
	<% provide :title, "Timesheets" %>
	<div class="page-header">
		<h1><%= current_user.name %></h1>
	</div>
<% end %>

<div class="row icons">

	<div class="tile-box">
        <%= link_to image_tag("data.png", :alt => "timesheets", :class => "round-icon"), "/users/#{current_user.id}/timesheets/#{this_year}/#{this_week}" %>
        <%= link_to "My Timesheets", "/users/#{current_user.id}/timesheets/#{@curr_year}/#{@curr_week}", :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("forecast.png", :alt => "forecast", :class => "round-icon"), forecast_user_path(current_user) %>
        <%= link_to "My Forecast", forecast_user_path(current_user), :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("mail.png", :alt => "mailing_lists", :class => "round-icon"), "#" %>
        <%= link_to "Expense Reports", "#", :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("target.png", :alt => "mailing_lists", :class => "round-icon"), "#" %>
        <%= link_to "Targets", "#", :class => "tile-label" %>
    </div>

</div> <!-- end tiles -->

<div id="calendar">
    <%= calendar @holidays, {:prev_text=>" ", :next_text=>" ", class: "simple-calendar"} do |event| %>
      <%= event.name %>
    <% end %>
</div>

<div id="vacation">
    <h2><%= this_year %> Vacations</h2>
    <%= form_for @user do |f| %>

        <div class="vacation-list">
            <div class="header-row">
                <div class="header">Start Date</div>
                <div class="header">End Date</div>
                <div class="header hours">Hours</div>
            </div>
        <!-- nested form for vacation -->
            <%= f.fields_for :vacations do |builder| %>
                <%= render 'vacation_fields', :f => builder %>
            <% end %>
            <%= link_to_add_vacation_fields "", f, :vacations, "add add-vacation fui-plus" %>
        <!-- end vacation form -->
        </div>

        <div class="save-row">
            <%= f.submit "Update Vacations", class: "btn btn-primary save-btn" %>
        </div>
    <% end %>
</div>
