<% content_for :page_header do %>
	<% provide :title, "Timesheets" %>
	<div class="page-header">
		<h1><%= current_user.name %></h1>
	</div>
<% end %>

<div class="row icons">

	<div class="tile-box">
        <%= link_to image_tag("data.png", :alt => "timesheets", :class => "round-icon"), "/employees/#{current_user.employee.id}/timesheets/#{this_year}/#{this_week}" %>
        <%= link_to "Timesheets", "/employees/#{current_user.employee.id}/timesheets/#{this_year}/#{this_week}", :class => "tile-label" %>
    </div>

    <div class="tile-box">
        <%= link_to image_tag("forecast.png", :alt => "forecast", :class => "round-icon"), forecast_employee_path(@employee) %>
        <%= link_to "Forecast", forecast_employee_path(@employee), :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("mail.png", :alt => "mailing_lists", :class => "round-icon"), "#" %>
        <%= link_to "Expense Reports", "#", :class => "tile-label" %>
    </div>

    <div class="tile-box disabled">
        <%= link_to image_tag("target.png", :alt => "mailing_lists", :class => "round-icon"), "#" %>
        <%= link_to "Targets", "#", :class => "tile-label" %>
    </div>

</div> <!-- end tiles -->

<h2><%= Date.today.year %> Holidays</h2>

	<table class="table">
		<% Holiday.all.each do |h| %>
			<tr>
				<td><%= h.name %></td>
				<td><%= h.date.strftime("%a, %b %e, %Y") %></td>
			</tr>
		<% end %>
	</table>
