<% content_for :page_header do %>
	<% provide :title, "#{parse_date_full(@timesheet.week, @timesheet.year)}" %>
	<div class="page-header">
        <h1><%= @user.name %>  &nbsp;<span class="light"><%= parse_date_full(@timesheet.week, @timesheet.year) %></span></h1>
    </div>		
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav_timesheets" %>
<% end %>

<!-- modal for phases -->
	<div class="phases modal fade" id="phaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div><!-- /.modal -->
<!-- end modal -->

<%= form_for(@timesheet, :html => { :class => "#{'complete' unless @timesheet.open?}" }) do |f| %>

<div class="switch-box">
	<%= f.check_box(:complete, { data_toggle: "switch"  } )  %> 
</div>
	
<div class="box">
	<%= render 'shared/error_messages', :object => f.object %>

    <div class="table-main timesheets">

		<div class="table-head">
			<div class="cell project-name"><div class="timesheet-tab">Billable Time</div></div>
			<div class="cell phase"><br />Phase<a href="<%= modal_phases_path %>" data-target="#phaseModal" data-toggle="modal" class="inline-edit-link fui-eye"></a></div>
			<div class="cell task"><br />Task</div>
			<div class="cell date weekend <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
			<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
			<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
			<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
			<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
			<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
			<div class="cell date weekend <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
			<div class="total"><br />Total</div>
		</div>

  		<div class="table-body">
			<!-- nested form for team-->
    		<%= f.fields_for :time_entries do |builder| %>
    			<%= render 'time_entry_fields', :f => builder %>
    		<% end %>
    		<!-- this is commented out because new lines are automatically added to the view -->
    		<% if @timesheet.open? %>
        		<%= link_to_add_fields "", f, :time_entries, "add fui-plus timesheets" %>
        	<% end %>
   			<!-- end team form -->
   		</div>	
           					
    </div> <!-- end billable timesheets table -->

    <div class="table-main timesheets non-billable">
		<div class="table-head">
			
			<div class="cell category"><div class="timesheet-tab">Non-Billable Time</div></div>
			<div class="cell nb-description">Description <span class="note">(optional)</span></div>
			
		</div>

  		<div class="table-body">

  			<% if @timesheet.holidays.count > 0 %>
  				<% @timesheet.holidays.each do |h| %>
  					<%= render 'holiday_fields', :f => h  %>
  				<% end %>
  			<% end %>

			<!-- nested form for team-->
    		<%= f.fields_for :non_billable_entries do |builder| %>
    			<%= render 'non_billable_entry_fields', :f => builder %>
    		<% end %>
    		<!-- this is commented out because new lines are automatically added to the view -->
    		<% if @timesheet.open? %>
        		<%= link_to_add_fields "", f, :non_billable_entries, "add fui-plus timesheets" %>
        	<% end %>
   			<!-- end team form -->
   		</div>	

    </div> <!-- end non-billable timesheets table -->
	
	<div class="summary">
		<div class="summary-label">Week Totals</div>
		<div class="span">

			<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day1))) %></div>
			<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day2))) %></div>
			<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day3))) %></div>
			<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day4))) %></div>
			<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day5))) %></div>
			<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day6))) %></div>
			<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(nonzero?(timesheet_sum(:day7))) %></div>
		</div>
	</div>

	<div class="timesheet-total"><%= precise(nonzero?(@timesheet.timesheet_total)) %></div>

	<div class="save-row">
        <%= f.submit "Save + Update Totals", class: "btn btn-primary save-btn" %>
        <%= f.submit "Reopen Timesheet", class: "btn reopen" %>
	</div>

	<div class="gray-box timesheets">
		<div class="stats utilization">
			<label class="input-label">Utilization Rate</label>
			<div class="number">
				<%= number_to_percentage((@timesheet.ytd('billable') / @timesheet.ytd('total') * 100), precision: 0) %>
			</div>
			<div class="detail">percent billable hours
			</div>
		</div>
		<div class="stats">
			<label class="input-label">Remaining Vacation</label>
			<div class="number">
				<%= @data_record.vacation.to_f + @data_record.vacation_rollover.to_f - @timesheet.ytd_nb_subtotal('Vacation').to_f  %>
			</div>
			<div class="detail">used <%= number_with_precision(@timesheet.ytd_nb_subtotal('Vacation').to_f, strip_insignificant_zeros: true) %> of <%= number_with_precision((@data_record.vacation.to_f + @data_record.vacation_rollover.to_f), strip_insignificant_zeros: true) %> hours for <%= this_year %>
			</div>
		</div>
		<div id="summary">
			<label class="input-label">Target Hours</label>
			<div class="content">
				<div class="token">
					<div class="circle target">
						<div class="title">Target</div>
						<%= @timesheet.ytd_goal(@timesheet.week) %>
					</div>
					<div class="detail"><%= number_with_precision(@data_record.hours_in_week, strip_insignificant_zeros: true) %> hrs x <%= @week %> <%= @week == 1 ? "wk" : "wks" -%></div>
				</div>
				<% if @year <= this_year && @week <= this_week %>
					<div class="minus"></div>
					<div class="token">
						<div class="circle actual">
							<div class="title">Actual</div>
							<%= number_with_precision(@timesheet.ytd('total'), strip_insignificant_zeros: true) %>
						</div>
						<div class="detail"><%= @week == 1 ? "week 1" : "weeks 1-#{@week}" -%></div>
					</div>
					<div class="equals"></div>
					<div class="token">
						<% goal = @timesheet.ytd_goal(@timesheet.week).to_f %>
						<% actual = @timesheet.ytd('total').to_f %>
							<% if goal == actual %>
								<div class="circle over">
	        						<div class="title">even</div>
	        						<%= number_with_precision(goal - actual, strip_insignificant_zeros: true) %>
	        					</div>
	        					<div class="detail">nice!</div>
							<% elsif goal > actual %>
								<% if -(@data_record.overage_from_prev.to_f) < (actual - goal) %>
									<div class="circle over">
								<% else %>
        							<div class="circle under">
        						<% end %>
	        						<div class="title">under</div>
	        						<%= number_with_precision(actual - goal, strip_insignificant_zeros: true) %>
	        					</div>
	        					<div class="detail">
	        						<% if @data_record.pay_type == "Salary" %>
										<% if -(@data_record.overage_from_prev.to_f) < (actual - goal) %>
											ok
										<% else %>
	        								uh oh
	        							<% end %>
	        						<% end %>
	        					</div>
	        				<% elsif goal < actual %>
	        					<div class="circle over">
	        						<div class="title">over</div>
	        						+<%= number_with_precision(actual - goal, strip_insignificant_zeros: true) %>
	        					</div>
	        					<div class="detail">slow down!</div>
	        				<% end %>
					</div>
					<div class="arrow-left"></div>
					<div class="arrow-body">
						<% if @data_record.pay_type == "Salary" %>
	        				<% if @data_record.overage_from_prev.to_f > 0 %>
	        					You can be under by <span class="bold"><%= @data_record.overage_from_prev.to_f %></span> hours due to overage from last year.
	        				<% else %>
	        					<% if goal == actual %>
	        						<br>You are right on target!
	        					<% elsif goal > actual %>
	        						You are currently below your target hours for <%= this_year %>.
	        					<% elsif goal < actual %>
	        						You are currently above your target hours for <%= this_year %>.
	        					<% end %>
	        				<% end %>
	        			<% elsif @data_record.pay_type == "Hourly" %>
	        				You are paid <span class="bold">hourly</span>, so your target hours are just a guidline.
	        			<% end %>
					</div>
				<% end %>
			</div>
		</div>
		
	</div>

</div>  <!-- end box-->


<% end %> <!-- end form -->


			    