<% content_for :page_header do %>
	<% provide :title, "Timesheets Show" %>
	<div class="page-header">
		<h1><%= @contact.name %></h1>
	</div>
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav_timesheets" %>
<% end %>
<script>changePhase();</script>
Year: <%= @timesheet.year %><br />
Week: <%= @timesheet.week %><br />

	<%= form_for @timesheet do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>

		<div class="row">	
					
			
        	<div class="table-main timesheets">

				<div class="table-head">
					<div class="row">
						<div class="span3-25 right20"><br />Project Name</div>
						<div class="span1-75"><br />Phase</div>
						<div class="span2-75"><br />Task</div>
						<div class="day-label"><%= date_label(1, @timesheet) %></div>
						<div class="day-label"><%= date_label(2, @timesheet) %></div>
						<div class="day-label"><%= date_label(3, @timesheet) %></div>
						<div class="day-label"><%= date_label(4, @timesheet) %></div>
						<div class="day-label"><%= date_label(5, @timesheet) %></div>
						<div class="day-label"><%= date_label(6, @timesheet) %></div>
						<div class="day-label"><%= date_label(7, @timesheet) %></div>
						<div class="total"><br />Total</div>
					</div>
				</div>

          		<div class="table-body">
        			<!-- nested form for team-->
            		<%= f.fields_for :time_entries do |builder| %>
            			<%= render 'time_entry_fields', :f => builder %>
            		<% end %>
            		<%= link_to_add_fields "add time", f, :time_entries, "btn offset-left table-offset" %>
           			<!-- end team form -->
           		</div>	

           		<div class="table-footer">
					<div class="row">

						<div class="day-label shift-6"><%= @timesheet.time_entries.sum(:day1) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day2) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day3) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day4) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day5) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day6) %></div>
						<div class="day-label"><%= @timesheet.time_entries.sum(:day7) %></div>
						<div class="inputbox total"><%= @timesheet.total_hours %></div>
					</div>
				</div>
           					
        	</div>

        </div>

  	<br /><br />
      	<div class="row">
			<div class="span12">
				<div class="actions">
    				<%= f.submit "Save Changes", class: "btn btn-large btn-primary span3" %>
    				<input type="reset" class="btn btn-large" value="Cancel" onClick="window.location.reload()">
				</div>
			</div>
		</div>
    
	<% end %> <!-- end form -->