<% content_for :page_header do %>
	<% provide :title, "#{parse_date_full(@timesheet.week, @timesheet.year)}" %>
	<div class="page-header">
        <h1><%= @contact.name %>  &nbsp;<span class="light"><%= parse_date_full(@timesheet.week, @timesheet.year) %></span></h1>
    </div>		
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav_timesheets" %>
<% end %>

<%= form_for(@timesheet, :html => { :class => "#{'complete' unless @timesheet.open?}" }) do |f| %>

<div class="switch-box">
	<%= f.check_box(:complete, { data_toggle: "switch"  } )  %> 
</div>
	
<div class="box">
	<%= render 'shared/error_messages', :object => f.object %>

    <div class="table-main timesheets">

		<div class="table-head">
			<div class="cell project-name"><div class="timesheet-tab">Billable Time</div></div>
			<div class="cell phase"><br />Phase</div>
			<div class="cell task"><br />Task<%= link_to("", tasks_path, { :class => "inline-edit-link fui-new" } ) %></div>
			<div class="cell date <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
			<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
			<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
			<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
			<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
			<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
			<div class="cell date <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
			<div class="total"><br />Total</div>
		</div>

  		<div class="table-body">
			<!-- nested form for team-->
    		<%= f.fields_for :time_entries do |builder| %>
    			<%= render 'time_entry_fields', :f => builder %>
    		<% end %>
    		<% if @timesheet.open? %>
        		<%= link_to_add_fields "", f, :time_entries, "add fui-plus timesheets" %>
        	<% end %>
   			<!-- end team form -->
   		</div>	

   		<!--<div class="table-footer">
			<div class="span">
				<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(sum_nonzero(:day1)) %></div>
				<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(sum_nonzero(:day2)) %></div>
				<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(sum_nonzero(:day3)) %></div>
				<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(sum_nonzero(:day4)) %></div>
				<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(sum_nonzero(:day5)) %></div>
				<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(sum_nonzero(:day6)) %></div>
				<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(sum_nonzero(:day7)) %></div>
				<div class="total"><%= precise(nonzero?(@timesheet.total_hours)) %></div>
			</div>
		</div>-->
           					
    </div> <!-- end billable timesheets table -->

    <div class="table-main timesheets non-billable">
		<div class="table-head">
			

			<div class="cell category"><div class="timesheet-tab">Non-Billable Time</div></div>
			<div class="cell nb-description">Description (optional)</div>
			<!--<div class="cell date <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
			<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
			<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
			<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
			<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
			<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
			<div class="cell date <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
			<div class="total"></div>-->
		</div>

  		<div class="table-body">
			<!-- nested form for team-->
    		<%= f.fields_for :non_billable_entries do |builder| %>
    			<%= render 'non_billable_entry_fields', :f => builder %>
    		<% end %>
    		<% if @timesheet.open? %>
        		<%= link_to_add_fields "", f, :non_billable_entries, "add fui-plus timesheets" %>
        	<% end %>
   			<!-- end team form -->
   		</div>	

   		<!--<div class="table-footer">
			<div class="span">
				<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(sum_nonzero(:day1)) %></div>
				<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(sum_nb_nonzero(:day2)) %></div>
				<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(sum_nb_nonzero(:day3)) %></div>
				<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(sum_nb_nonzero(:day4)) %></div>
				<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(sum_nb_nonzero(:day5)) %></div>
				<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(sum_nb_nonzero(:day6)) %></div>
				<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(sum_nb_nonzero(:day7)) %></div>
				<div class="total"><%= precise(nonzero?(@timesheet.nb_total_hours)) %></div>
			</div>
		</div>-->

		<!--<div class="total ytd nb-shift-fields"><%= precise(nonzero?(@timesheet.total_hours)) %></div>
		<div class="total ytd"><%= precise(nonzero?(@timesheet.total_hours)) %></div>
		<div class="cell total ytd diff"><%= precise(nonzero?(@timesheet.total_hours)) %></div>-->
           					
    </div> <!-- end non-billable timesheets table -->

	<div class="table-main timesheets non-billable">

		<div class="table-head summary-header">
			<div class="cell category"></div>
			<div class="cell nb-description"></div>
			<div class="cell date <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
			<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
			<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
			<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
			<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
			<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
			<div class="cell date <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
		</div>

		<div class="summary">
			<div class="summary-label">Week Totals</div>
			<div class="span">
				<!--<div class="total ytd nb-shift-fields"><%= decimal(@timesheet.all_hours("total", "completed")) %></div>
				<div class="total ytd"><%= precise(@timesheet.all_hours("total", "target")) %></div>
				<div class="cell total ytd diff"><%= precise(@timesheet.all_hours("total", "over-under")) %></div>-->
				<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(timesheet_sum(:day1)) %></div>
				<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(timesheet_sum(:day2)) %></div>
				<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(timesheet_sum(:day3)) %></div>
				<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(timesheet_sum(:day4)) %></div>
				<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(timesheet_sum(:day5)) %></div>
				<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(timesheet_sum(:day6)) %></div>
				<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(timesheet_sum(:day7)) %></div>
			</div>
		</div>

		<div class="timesheet-total"><%= precise(nonzero?(@timesheet.timesheet_total)) %></div>

	</div>


		<div class="save-row">
	        <%= f.submit "Save Changes", class: "btn btn-primary save-btn" %>
		</div>

</div>  <!-- end box-->

<!--<div class="box">

	<h2>summary</h2>
	<div class="green-shaded">

	<div class="table-main timesheets summary">

		<div class="table-head">
				<div class="cell category"><br />category</div>
				<div class="cell total ytd">YTD<br />Total</div>
				<div class="cell total ytd">YTD<br />Target</div>
				<div class="cell total ytd diff">over/<br/>remaining</div>
				<div class="cell date <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
				<div class="cell date <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
				<div class="cell date <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
				<div class="cell date <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
				<div class="cell date <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
				<div class="cell date <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
				<div class="cell date <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
				<div class="cell total">week<br />Total</div>
				
		</div>

		<div class="table-body">
			
			<div class="table-row">
				<div class="input category">Billable Hours</div>
				<div class="total ytd"><%= precise(nonzero?(@timesheet.all_hours("billable", "completed"))) %></div>
          		<div class="total ytd"><%= precise(@timesheet.all_hours("billable", "target")) %></div>
          		<div class="total ytd diff"><%= precise(@timesheet.all_hours("billable", "remaining")) %></div>

				<div class="billable time-entries">  
				    <div class="entry <%= is_today?(1, @timesheet) %>"><%= precise(sum_nonzero(:day1)) %></div>
				    <div class="entry <%= is_today?(2, @timesheet) %>"><%= precise(sum_nonzero(:day2)) %></div>
				    <div class="entry <%= is_today?(3, @timesheet) %>"><%= precise(sum_nonzero(:day3)) %></div>
				    <div class="entry <%= is_today?(4, @timesheet) %>"><%= precise(sum_nonzero(:day4)) %></div>
				    <div class="entry <%= is_today?(5, @timesheet) %>"><%= precise(sum_nonzero(:day5)) %></div>
				    <div class="entry <%= is_today?(6, @timesheet) %>"><%= precise(sum_nonzero(:day6)) %></div>
				    <div class="entry <%= is_today?(7, @timesheet) %>"><%= precise(sum_nonzero(:day7)) %></div>
					<div class="total"><%= precise(nonzero?(@timesheet.total_hours)) %></div>
					
				</div>
			</div>
			<div class="table-row">
				<div class="input category">
					Non-Billable Hours
				</div>
				<div class="total ytd"><%= precise(nonzero?(@timesheet.all_hours("non_billable", "completed"))) %></div>
					<div class="total ytd"><%= precise(@timesheet.all_hours("non_billable", "target")) %></div>
					<div class="total ytd diff"><%= precise(@timesheet.all_hours("non_billable", "remaining")) %></div>
				<div class="billable time-entries">  
				    <div class="entry <%= is_today?(1, @timesheet) %>"><%= precise(sum_nb_nonzero(:day1)) %></div>
				    <div class="entry <%= is_today?(2, @timesheet) %>"><%= precise(sum_nb_nonzero(:day2)) %></div>
				    <div class="entry <%= is_today?(3, @timesheet) %>"><%= precise(sum_nb_nonzero(:day3)) %></div>
				    <div class="entry <%= is_today?(4, @timesheet) %>"><%= precise(sum_nb_nonzero(:day4)) %></div>
				    <div class="entry <%= is_today?(5, @timesheet) %>"><%= precise(sum_nb_nonzero(:day5)) %></div>
				    <div class="entry <%= is_today?(6, @timesheet) %>"><%= precise(sum_nb_nonzero(:day6)) %></div>
				    <div class="entry <%= is_today?(7, @timesheet) %>"><%= precise(sum_nb_nonzero(:day7)) %></div>
					<div class="total"><%= precise(nonzero?(@timesheet.nb_total_hours)) %></div>
					
				</div>
			</div>
			
			
		</div>

		<div class="table-footer">
			<div class="span">
				<div class="total ytd nb-shift-fields"><%= decimal(@timesheet.all_hours("total", "completed")) %></div>
					<div class="total ytd"><%= precise(@timesheet.all_hours("total", "target")) %></div>
					<div class="cell total ytd diff"><%= precise(@timesheet.all_hours("total", "over-under")) %></div>
					<div class="sum <%= is_today?(1, @timesheet) %>"><%= precise(timesheet_sum(:day1)) %></div>
					<div class="sum <%= is_today?(2, @timesheet) %>"><%= precise(timesheet_sum(:day2)) %></div>
					<div class="sum <%= is_today?(3, @timesheet) %>"><%= precise(timesheet_sum(:day3)) %></div>
					<div class="sum <%= is_today?(4, @timesheet) %>"><%= precise(timesheet_sum(:day4)) %></div>
					<div class="sum <%= is_today?(5, @timesheet) %>"><%= precise(timesheet_sum(:day5)) %></div>
					<div class="sum <%= is_today?(6, @timesheet) %>"><%= precise(timesheet_sum(:day6)) %></div>
					<div class="sum <%= is_today?(7, @timesheet) %>"><%= precise(timesheet_sum(:day7)) %></div>
					<div class="total"><%= precise(nonzero?(@timesheet.timesheet_total)) %></div>
					
			</div>
		</div>

	</div>	<!-- end summary table -->

		

<!--</div>
<div class="table-notes right">Year-to-date targets are based on a <span class="bold"><%= @timesheet.week_goal %></span> hour week and can be refined on the <a href="http://localhost:3000/employees">Employee Targets</a> page. Over-target hours are shown in <span class="red">red</span> and remaining hours are in <span class="green">(green)</span>. 
		</div>-->
  <!--	<h2>Summary</h2>

	<div class="table-main timesheets weekly-totals">

		<div class="table-head">
			<div class="row">
				<div class="input span7"><br /></div>
				<div class="table-cell <%= is_today?(1, @timesheet) %>"><%= date_label(1, @timesheet) %></div>
				<div class="table-cell <%= is_today?(2, @timesheet) %>"><%= date_label(2, @timesheet) %></div>
				<div class="table-cell <%= is_today?(3, @timesheet) %>"><%= date_label(3, @timesheet) %></div>
				<div class="table-cell <%= is_today?(4, @timesheet) %>"><%= date_label(4, @timesheet) %></div>
				<div class="table-cell <%= is_today?(5, @timesheet) %>"><%= date_label(5, @timesheet) %></div>
				<div class="table-cell <%= is_today?(6, @timesheet) %>"><%= date_label(6, @timesheet) %></div>
				<div class="table-cell <%= is_today?(7, @timesheet) %>"><%= date_label(7, @timesheet) %></div>
				<div class="table-cell span1-5 total-header">actual<br />Total</div>
				<div class="table-cell span1-5 goal-header"><br />goal</div>
				<div class="table-cell span1-5 over-under">over/<br/>under*</div>
			</div>
		</div>

		<div class="table-body">
			
			<div class="table-row">
				<div class="input span7">
					Current Week (<%= parse_date_full(@timesheet.week, @timesheet.year) %>)
				</div>
				<div class="time-entries">  
				    <div class="entry <%= is_today?(1, @timesheet) %>"><%= precise(timesheet_sum(:day1)) %></div>
				    <div class="entry <%= is_today?(2, @timesheet) %>"><%= precise(timesheet_sum(:day2)) %></div>
				    <div class="entry <%= is_today?(3, @timesheet) %>"><%= precise(timesheet_sum(:day3)) %></div>
				    <div class="entry <%= is_today?(4, @timesheet) %>"><%= precise(timesheet_sum(:day4)) %></div>
				    <div class="entry <%= is_today?(5, @timesheet) %>"><%= precise(timesheet_sum(:day5)) %></div>
				    <div class="entry <%= is_today?(6, @timesheet) %>"><%= precise(timesheet_sum(:day6)) %></div>
				    <div class="entry <%= is_today?(7, @timesheet) %>"><%= precise(timesheet_sum(:day7)) %></div>
					<div class="span1-5 total"><%= precise(nonzero?(@timesheet.timesheet_total)) %></div>
					<div class="span1-5 goal"><%= precise(@data_record.week) || 40.00 %></div>
					<div class="table-cell span1-5 over-under <%= over_s?(over_under(@timesheet.week_goal , @timesheet.timesheet_total)) %>"><%= over_under(@timesheet.week_goal , @timesheet.timesheet_total) %></div>
				</div>
			</div>
			<div class="table-row">
				<div class="input span7">
					Year-to-date (<%= year_begin(@timesheet.week, @timesheet.year).strftime("%B %d") %> - <%= get_date(7, @timesheet).strftime("%B %d, %Y") %>)
				</div>
				<div class="time-entries">  
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
					<div class="span1-5 total"><%= precise(@timesheet.all_hours("total", "completed")) %></div>
					<div class="span1-5 goal"><%= precise(nonzero?(@timesheet.ytd_goal(@timesheet.week))) %></div>
					<div class="table-cell span1-5 over-under <%= over_s?(@timesheet.all_hours("total", "over-under")) %>"><%= precise(@timesheet.all_hours("total", "over-under")) %></div>
				</div>
			</div>
			<div class="table-row">
				<div class="input span7">
					Vacation
				</div>
				<div class="time-entries">  
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
				    <div class="entry"></div>
					<div class="span1-5 total"></div>
					<div class="span1-5 goal"></div>
					<div class="table-cell span1-5 over-under <%= over_s?(@timesheet.all_hours("total", "over-under")) %>"></div>
				</div>
			</div>
		</div>

	</div>	

		<div class="table-notes right">*Remaining hours are shown in <span class="green">(green)</span> and over target hours are shown in <span class="red">red</span>. Based on a <span class="bold"><%= @timesheet.week_goal %></span> hour week.</div>
	
-->

<!--
	<div class="cutout">
	    <%= f.hidden_field :complete %>
		<% if @timesheet.open? %>
			<%= f.submit "submit", id:"submit", class: "btn btn-large btn-primary save-button" %>
		<% else %>
			<%= f.submit "re-open", id:"unsubmit", class: "btn gray-button" %>
		<% end %>
	</div>


</div>  <!-- end box-->

	<!--<div class="row">
			<div class="span13-25">
				<div class="actions right">
					<%= f.hidden_field :complete %>
					<% if @timesheet.open? %>
						<%= f.submit "Submit Timesheet", id:"submit", class: "btn btn-large #{"btn-primary" if @timesheet.open?} span3" %>
					<% else %>
						<%= f.submit "Re-open Timesheet", id:"unsubmit", class: "btn btn-large span3" %>
					<% end %>

	    			
				</div>
			</div>-->



<% end %> <!-- end form -->


			    