<% provide :title, "Timesheets" %>
<%= link_to "all users", all_timesheets_path(this_year, this_week), class: "header-label" %>
<div class="page-header">
    <h1><%= @user.name %>'s Timesheets</h1>
</div>

<!-- modal for timesheet print -->
		<div class="print-timesheet modal fade" id="timesheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		</div><!-- /.modal -->
<!-- end modal -->

<table class="table right-align timesheets">
	<thead>
		<tr>
			<th class="left">Name</th>
			<th>Week</th>
			<th class="left">Dates</th>
			<th class="line-left line-top line-right" >Total Hours</th>
			<th class="left link">Status</th>
		</tr>
	</thead>
	<tbody>
		<% (1..@week).each do |w| %>
			<% t = Timesheet.where(user_id: @user.id, week: w, year: @year).first_or_create %>
			<% if t.data_record.present? %>
				<tr <%= "class=current" if w == this_week %>>
					<td class="left"><%= link_to @user.name, user_index_timesheets_path(t.user_id, t.year), class: "green" %></td>
					<td><%= link_to t.week, user_timesheet_path(t.user_id, t.year, t.week), class: "green" %></td>
					<td class="left"><%= link_to parse_date_full(t.week, t.year), user_timesheet_path(t.user_id, t.year, t.week), class: "green" %></td>
					<td class="bold line-left line-right line-bottom"><%= precise(nonzero?(t.timesheet_total)) %></td>
					<td class="link">
						<%= form_for(t) do |f| %>
							<%= f.check_box :complete, class: "hidden"  %> 
							<% if f.object.complete == false %>
								<%= f.submit "Open", class: "open close-timesheet btn" %>
		  					<% else %>
		  						<%= f.submit "Closed", class: "closed open-timesheet btn" %>
		  					<% end %>

		  					<%= f.check_box :printed, class: "hidden" %> 
							<% if f.object.complete == true %>
								<% if f.object.printed == false %>
									<a href="/users/<%= f.object.user_id %>/timesheets/<%= f.object.year %>/<%= f.object.week %>/print" data-target="#timesheetModal" data-toggle="modal" class="print-timesheet btn">Print</a>
								<% else %>
									<%= f.submit "Printed", class: "unprint-timesheet btn" %>
								<% end %>
							<% end %>
						<% end %>	
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>		

<%= link_to "#{@user.name.split[0]}'s Targets", "/users/#{@user.id}/data_records" %>

<% content_for :scripts do %>
	<script src="/assets/jquery.PrintArea.js?body=1" type="text/javascript"></script>
	<script>
		// close timesheet
		$('.close-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_complete").prop('checked', true);
		});
		// reopen timesheet
		$('.open-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_complete").prop('checked', false);
	        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', false);
		});
		// print timesheet
		$('.unprint-timesheet').click( function() {
	        $(this).parent(".edit_timesheet").children("#timesheet_printed").prop('checked', false);
		});

	</script>
<% end %>

