<div class="wide"> 

	<div class="input-row">
        <%= f.label(:year, class: "input-label") %>
        <div class="controls">
            <%= f.text_field :year %>
        </div>
    </div>

    <div class="input-row">
        <%= f.label :multiplier, class: "input-label" %>
        <div class="controls">
            <%= f.text_field :multiplier %>
        </div>
    </div>

    <div class="input-row">
        <%= f.label :mileage, class: "input-label" %>
        <div class="controls">
            <%= f.text_field :mileage %>
        </div>
    </div>

</div>

