<fieldset>

        <div class="row"> <div class="field">

    			<div class="control-group">
                    <%= f.label(:year, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :year, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :multiplier, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :multiplier, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label :mileage, class: "control-label" %>
                    <div class="controls">
                        <%= f.text_field :mileage, class: "span1" %>
                    </div>
                </div>
  		</div>

</fieldset>