<% provide :title, @keyword.name %>
<%= link_to "Key Ideas", patterns_key_ideas_path, class: "header-label" %>
<div class="page-header keyword">
    <%= image_tag @keyword.image.url(:thumb), class: "user-round" %><h1><%= @keyword.name %></h1>
</div>

<%= form_for(@keyword, :multipart => true, class: "form-horizontal" ) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>

    <div class="save-row">
        <%= f.submit "Save", class: "btn btn-primary save-btn" %>
    </div>

<% end %>
