<ul class="tabnav">
	<li class="<%= is_active?("info")%>"><%= link_to "info", info_potential_project_path(@potential_project) %></li>
	<li class="<%= is_active?("scope")%>"><%= link_to "scope", scope_potential_project_path(@potential_project) %></li>
	<li class="<%= is_active?("team")%>"><%= link_to "team", team_potential_project_path(@potential_project) %></li>
	<!--<li class="<%= is_active?("schedule")%>"><%= link_to "schedule", schedule_potential_project_path(@project) %></li>-->
	<li class="<%= is_active?("tracking")%>"><%= link_to "tracking", tracking_potential_project_path(@potential_project) %></li>
	<li class="<%= is_active?("patterns")%>"><%= link_to "patterns", patterns_potential_project_path(@potential_project) %></li>

</ul>