<% content_for :page_header do %>
  <% provide :title, @employee_role.name %>
  <div class="page-header">
    <h1><%= @employee_role.name %></h1>
  </div>
<% end %>

<%= form_for @employee_role do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'fields', f: f %>

  <div class="actions">
    <%= f.submit "Update Employee Role", class: "btn" %>
  </div>
<% end %>