<% provide :title, "Living Building Challenge" %>

<div class="page-header">
	<h1>Living Building Challenge</h1>
	<%= link_to "Add Petal", new_petal_path, class: "btn btn-primary btn-right" %>
</div>

<ul class="petals">
	<% @petals.each do |p| %>
		<li>
			<div class="header"><%= p.formatted_number %>. <%= p.name %></div>
			<div class="intent"><%= p.intent.gsub(/\n/, '<br />').html_safe %></div>
			<%= link_to "edit", edit_petal_path(p.id) %>
		</li>
	<% end %>
</ul>

