<% content_for :page_header do %>
    <% provide :title, @category.name %>
    <%= link_to "Categories", categories_path, class: "header-label" %>
    <div class="page-header">
        <h1><%= @category.name %></h1>
    </div>
<% end %>

<%= form_for @category do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>

    <div class="save-row">
        <%= f.submit "Update Category", class: "btn btn-primary save-btn" %>
    </div>

<% end %>