<div class="half">

    <div class="input-row">
        <%= f.label(:name, class: "input-label") %>
        <%= f.text_field :name%>
    </div>

    <div class="input-row">
        <%= f.label(:number, class: "input-label") %>
        <%= f.text_field :number %>
    </div>

    <div class="input-row">
        <%= f.label(:shorthand, class: "input-label") %>
        <%= f.text_field :shorthand %>
    </div>

    <div class="input-row">
        <%= f.label(:full_name, class: "input-label") %>
        <%= f.text_field :full_name %>
    </div>
</div>

<div class="half last">

    <div class="input-row">
        <%= f.label(:description, class: "input-label") %>
        <%= f.text_area :description, rows: "6" %>
    </div>

</div>

