<fieldset>

        <div class="row"> <div class="field">

                <div class="control-group">
                    <%= f.label(:name, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :name, class: "span5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:number, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :number, class: "span1" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:shorthand, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :shorthand, class: "span5" %>
                    </div>
                </div>

                <div class="control-group">
                    <%= f.label(:full_name, class: "control-label") %>
                    <div class="controls">
                        <%= f.text_field :full_name, class: "span5" %>
                    </div>
                </div>

   
  		</div>

</fieldset>