  	<% provide :title, "Add New Phase" %>
  	<%= link_to "Phases", phases_path, class: "header-label" %>
  	<div class="page-header">
    	<h1>Add New Phase</h1>
  	</div>

<%= form_for @phase do |f| %>

  	<%= render 'shared/error_messages', object: f.object %>
  	<%= render 'fields', f: f %>

  	<div class="save-row">
	    <%= f.submit "Create Phase", class: "btn btn-primary save-btn" %>
	</div>

<% end %>