<!-- navbar -->

<div id="navbar">

    <div class="container">
        <% if signed_in? %>
            <ul id="nav">
                <li <%= is_current?("projects consultants potential_projects") %>><%= link_to "Projects", projects_path %></li>
                <li <%= is_current?("contacts") %>><%= link_to "Contacts", contacts_path %></li>
                <li <%= is_current?("employees") || is_current?("timesheets") %>><%= link_to "Timesheets", timesheets_path %></li>
                <li <%= is_current?("patterns") %>><%= link_to "Patterns", patterns_path %></li>
            </ul>

            <div class="navbar navbar-inverse">
                <ul class="nav">
                    <li><a class="disabled">Signed in as </a></li>
                    <li>
                        <%= link_to current_user.link_name, edit_user_path(current_user.employee.user_id) %>
                        <ul>
                            <li><%= link_to "Settings", edit_user_path(current_user.employee.user_id) %></li>
                            <li><%= link_to "Contact Info", edit_contact_path(current_user.employee.contact_id) %></li>
                            <li><%= link_to "Messages", messages_path %></li>
                            <% if current_user.admin? %><li><%= link_to "Admin Panel", admin_path %></li> <% end %>
                            <li><%= link_to "Log Out", signout_path %></li>
                        </ul> <!-- end sub menu -->
                    </li>
                    <li class="home"><%= link_to "Home", root_path %></li>
                </ul>
            </div> <!-- end nav menu -->
                                            
        <% end %>     
    </div>

</div> <!-- end navbar -->
