<!-- navbar -->

<div id="navbar">

    <div class="container">
        <% if signed_in? %>
            <ul id="nav">
                <li class="<%= is_current?("projects consultants potential_projects") %>"><%= link_to "Projects", projects_path %></li>
                <li class="<%= is_current?("contacts") %>"><%= link_to "Contacts", contacts_path %></li>
                <li class="<%= is_current?("employees") || is_current?("timesheets") %>"><%= link_to "Timesheets", timesheets_path %></li>
                <li class="<%= is_current?("patterns") %> disabled"><%= link_to "Patterns", "#" %></li>
                <li class="<%= is_current?("books") %>"><%= link_to "Library", library_path %></li>
            </ul>

            <div class="navbar navbar-inverse">
                <ul class="nav">
                    <%= render 'layouts/user_menu' %>
                    <li class="home"><%= link_to "Home", root_path %></li>
                </ul>
            </div> <!-- end nav menu -->
                                            
        <% end %>     
    </div>

</div> <!-- end navbar -->
