  		<!-- navbar -->
  		<div class="navbar navbar-fixed-top">

  		    <div class="navbar-inner">
  				    <div class="container">
  					
            			<%= link_to "TKWA DB", root_path, :class => "brand" %>

            			<div class="nav-collapse">
              			    <ul class="nav">
                				    <li <%= is_current?("projects") %>>
                                <%= link_to "Projects", projects_path %>
                  				      <div class="triangle"></div>
                				    </li>
                				    <li <%= is_current?("contacts") %>>
                  				      <a href="#">Contacts</a>
                                <div class="triangle"></div>
                				    </li>
                				    <li <%= is_current?("timesheets") %>>
                  				      <a href="#">Timesheets</a>
                                <div class="triangle"></div>
                				    </li>
                				    <li <%= is_current?("patterns") %>>
                  				      <a href="#">Patterns</a>
                                <div class="triangle"></div>
                				    </li>
               			    </ul>
            			</div>

            			<div class="signin-box">
            				  <% if signed_in? %>
          					      Signed in as: &nbsp;<%= link_to current_user.name, current_user %>
          					      <%= link_to "Sign out", signout_path, method: :delete %>
          				    <% else %> 
          					      <%= link_to "Sign up", signup_path %>
          					      <%= link_to "Sign in", signin_path, class: "btn"  %>
        					   <% end %>
            			</div>
                  
          		</div> <!-- end container-->
          </div> <!-- end navbar-inner -->
        		
      </div> <!-- end navbar -->