<!-- navbar -->

<div id="navbar">

    <div class="container">
        <% if signed_in? %>
            <ul id="nav">
                <li <%= is_current?("projects") %>><%= link_to "Projects", projects_path %></li>
                <li <%= is_current?("contacts") %>><%= link_to "Contacts", contacts_path %></li>
                <li <%= is_current?("employees") || is_current?("timesheets") %>><%= link_to "Timesheets", "/employees/#{current_user.employee.id}/timesheets/#{this_year}/#{this_week}" %></li>
                <li <%= is_current?("patterns") %>><a href="#">Patterns</a></li>
                <li <%= is_current?("forecast") %>><a href="#">Forecast</a></li>
                <li <%= is_current?("library") %>><a href="#">Library</a></li>
            </ul>

            <div class="navbar navbar-inverse">
                <ul class="nav">
                    <li><a class="disabled">Signed in as </a></li>
                    <li>
                        <%= link_to current_user.name, edit_contact_path(current_user.employee.contact_id) %>
                        <ul>
                            <li><a href="#fakelink">Settings</a></li>
                            <li><a href="#fakelink">Admin</a></li>
                            <li><a href="#fakelink">Log Out</a></li>
                        </ul> <!-- end sub menu -->
                    </li>
                    <li class="home"><%= link_to "Home", root_path %></li>
                </ul>
            </div> <!-- end nav menu -->
                
        <% else %> 
            <!--<%= link_to "Sign up", signup_path %>-->
            <div class="navbar navbar-inverse">
                <ul class="nav">
                    <li>
                        <%= link_to "Sign in", signin_path, class: "btn signin-btn"  %>
                    </li>
                </ul>
            </div> <!-- end nav menu -->
                
        <% end %>     
    </div>

</div> <!-- end navbar -->
