<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>

    <%= render 'layouts/navbar' %>

        <!-- main content -->
        <div class="container">
	
            		<!--<% flash.each do |key, value| %>
                  <div class="modal fade in" id="success">
                    <div class="modal-body">
                      <%= content_tag(:div, value, class: "flash #{key}") %>
                    </div>
                  </div>
                <% end %>-->
                  		
                <% flash.each do |key, value| %>
                  <%= content_tag(:div, value, class: "flash #{key}") %>
                <% end %>
                

            		<%= yield :page_header %>
            		<%= yield :tabnav %>
            		
                	<div class="box">
          				<%= content_for?(:content) ? yield(:content) : yield %>
          			</div> <!-- end box -->

        			<%= render 'layouts/footer' %>	
        			<%= debug(params) if Rails.env.development? %>
                    
    	</div> <!-- end container -->
	
      <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
      <script>
      jQuery(document).ready(function($) {
          $('#success').modal()
      });
        window.setTimeout(function() { 
          $(".modal").modal("hide");
        }, 1500);
      </script>

    </body>  
</html>  