<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
	
		<%= render 'layouts/navbar' %>
		
		<!-- main content -->
    	<div class="container">
    		<div class="spacer"></div>

    		<% flash.each do |key, value| %>
          		<%= content_tag(:div, value, class: "flash #{key}") %>
        	<% end %>

    		<%= yield :page_header %>
    		<%= yield :tabnav %>
    		
        	<div class="line"></div>
			<div class="row">
				<div class="span14 sh">
					<div class="row">	
						<div class="span12 offset1">
  							<%= content_for?(:content) ? yield(:content) : yield %>
  						</div> <!-- end span13 -->
					</div> <!-- end row -->	
  				</div> <!-- end span14 -->
			</div> <!-- end row -->	
			
			<%= render 'layouts/footer' %>	
			<%= debug(params) if Rails.env.development? %>
    	</div> <!-- end container -->
	
	</body>
  
</html>