<% content_for :page_header do %>

    <% provide :title, @contact.display_name %>
    <% if @contact.is_employee? %>
        <%= link_to "Employees", contacts_employees_path, class: "header-label" %>
    <% end %>
	<div class="page-header">
        <h1><%= @contact.display_name %> &nbsp; <span class="light small"><% unless @contact.category.blank? %><%= "(" + @contact.category + ")" %><% end %></span></h1>
        <ul class="controls">
            <li><%= link_to "add new", new_contact_path %></li>
            <li><% if current_user.admin? %>
                    <%= link_to "delete", @contact, method: :delete, confirm: "You sure?" %>
                <% end %>
            </li>
        </ul>
    </div>	

<% end %>

<% content_for :content do %>
  		<%= content_for?(:contacts_content) ? yield(:contacts_content) : yield %>
<% end %>

<%= render :template => 'layouts/application' %>