<% content_for :page_header do %>
<% provide :title, @contact.name %>

<% content_for :category_tab do %>
    <%= @contact.category_page_links %>
<% end %>

	<div class="page-header">
        <h1><%= @contact.name %> &nbsp; <span class="light small"><% unless @contact.category_list.blank? %><%= "(" + @contact.category_list + ")" %><% end %></span></h1>
        <ul class="controls">
            <li><a href="#options" role="button" data-toggle="modal">view options</a></li>
            <li><% if current_user.admin? %>
                    <%= link_to "delete", @contact, method: :delete, confirm: "You sure?" %>
                <% end %>
            </li>
        </ul>
    </div>		
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav_contacts" %>
<% end %>

<% content_for :content do %>
  		<%= content_for?(:contacts_content) ? yield(:contacts_content) : yield %>
<% end %>

<!-- modal for view options -->
<div id="options" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">View Options</h3>
    </div>

    <%= form_for @contact do |f| %>
        <div class="modal-body">
            <p>Select sections to toggle on/off.</p>

            
            <% Contact::VIEW_OPTIONS.each do |option| %>
                <label class="checkbox">
                    <%= check_box_tag "contact[view_options][]", option, @contact.view_options.include?(option), data_toggle: "checkbox" %>
                    <%= option %>
                </label>
            <% end %>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
    <% end %>
  
</div>
<!-- end modal -->

<%= render :template => 'layouts/application' %>