<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
        <% flash.each do |key, value| %>
            <div id="notice" class="<%= key %>" >
                <%= content_tag(:div, value, class: "flash #{key}") %>
            </div>
        <% end %>
        <%= render 'layouts/navbar' %>
    
        <!-- main content -->
        <div class="container">

            <div class="box">	
          	    <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
            
        	<%= render 'layouts/footer' %>	
        	<%= debug(params) if Rails.env.development? %>
                    
    	</div> <!-- end container -->

        <% if flash.count >= 1 %>
            <script>
                $( "#notice" ).delay( 1500 ).slideUp( 300 );
            </script>
        <% end %>
        
        <%= javascript_include_tag 'application' %>
        <%= yield :scripts %>
    </body>  
</html>  