<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body class="home">
	
		<%= content_for?(:content) ? yield(:content) : yield %>
    	<%= yield :scripts %>
	</body>
  
</html>


	