<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= render 'layouts/header' %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
	
		<div id="navbar">

		    <div class="container">
		        <% if signed_in? %>
		            
		            <div class="navbar navbar-inverse">
		                <ul class="nav">
		                	<li><a class="disabled">Signed in as </a></li>
		                    <li>
		                        <%= link_to current_user.name, edit_contact_path(current_user.employee.contact_id) %>
		                        <ul>
		                            <li><a href="#fakelink">Settings</a></li>
		                            <li><a href="#fakelink">Admin</a></li>
		                            <li><a href="#fakelink">Log Out</a></li>
		                        </ul> <!-- end sub menu -->
		                    </li>
		                </ul>
		            </div> <!-- end nav menu -->
		                
		        <% else %> 
		            <!--<%= link_to "Sign up", signup_path %>-->
		            <div class="navbar navbar-inverse">
		                <ul class="nav">
		                    <li>
		                        <%= link_to "Sign in", signin_path, class: "btn signin-btn"  %>
		                    </li>
		                </ul>
		            </div> <!-- end nav menu -->
		                
		        <% end %>     
		    </div>

		</div> <!-- end navbar -->

		<!-- main content -->
    	<div class="container">

    		<% flash.each do |key, value| %>
          		<%= content_tag(:div, value, class: "flash #{key}") %>
        	<% end %>

    		<%= content_for?(:content) ? yield(:content) : yield %>

			<%= render 'layouts/footer' %>	
			<%= debug(params) if Rails.env.development? %>
    	</div> <!-- end container -->
	
	</body>
  
</html>


	