<% content_for :page_header do %>
<% provide :title, @project.name %>

	<div class="page-header">
        <h1><span class="light"><%= strip(@project.number) %></span><%= @project.name %></h1>
        <ul class="controls">
            <li><a href="#options" role="button" data-toggle="modal">view options</a></li>
            <li><a href="#">delete</a></li>
        </ul>
        <!--<div class="controls">
            <%= link_to "", projects_path, :class => "button search tip", :rel => "tooltip", :title => "search projects" %>
			<%= link_to "", new_project_path, :class => "button add tip", :rel => "tooltip", :title => "add a new project" %>
            <a class="button print tip" rel="tooltip" title="print this page"></a>
            <a class="button delete tip" rel="tooltip" title="delete project"></a>
        </div>-->
    </div>		
<% end %>

<% content_for :tabnav do %>
	<%= render "tabnav" %>
<% end %>

<% content_for :content do %>
  		<%= content_for?(:projects_content) ? yield(:projects_content) : yield %>
<% end %>

<!-- modal for view options -->
<div id="options" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">View Options</h3>
    </div>

    <%= form_for @project do |f| %>
        <div class="modal-body">
            <p>Select sections to toggle on/off.</p>
    
            <% Project::VIEW_OPTIONS.each do |option| %>
                <label class="checkbox">
                    <%= check_box_tag "project[view_options][]", option, @project.view_options.include?(option), data_toggle: "checkbox" %>
                    <%= option %>
                </label>
            <% end %>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
    <% end %>
  
</div>
<!-- end modal -->

<%= render :template => 'layouts/application' %>