<% content_for :page_header do %>
	<% provide :title, @project.name %>
	<div class="page-header">
		<h1><span class="lightweight"><%= strip(@project.number) %></span> &nbsp;<%= @project.name %></h1>
	</div>
<% end %>


<% content_for :tabnav do %>
	<%= render "tabnav" %>
<% end %>


<% content_for :content do %>
  		<%= content_for?(:projects_content) ? yield(:projects_content) : yield %>
<% end %>


<%= render :template => 'layouts/application' %>