<% content_for :page_header do %>
<% provide :title, @project.name %>

    <% if @project.status == "potential" %>
        <a class="header-label" href="/potential_projects">Potential Projects</a>
        <div class="page-header">
            <h1><%= @project.name %></h1>
    <% else %>
        <div class="page-header">
            <h1><span class="light"><%= strip(@project.number) %></span><%= @project.name %></h1>
    <% end %>
        <ul class="controls">
            <% unless @project.status == "potential" %>
                <li><a href="#options" role="button" data-toggle="modal">view options</a></li>
            <% end %>
            <li><a href="#">delete</a></li>
        </ul>

    </div>		
<% end %>



<% content_for :tabnav do %>
	<%= render "tabnav" %>
<% end %>

<% content_for :content do %>
  		<%= content_for?(:projects_content) ? yield(:projects_content) : yield %>
<% end %>

<!-- modal for view options -->
<div id="options" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">View Options</h3>
    </div>

    <%= form_for @project do |f| %>
        <div class="modal-body">
            <p>Select sections to toggle on/off.</p>
    
            <% Project::VIEW_OPTIONS.each do |option| %>
                <label class="checkbox">
                    <%= check_box_tag "project[view_options][]", option, @project.view_options.include?(option), data_toggle: "checkbox" %>
                    <%= option %>
                </label>
            <% end %>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        </div>
    <% end %>
  
</div>
<!-- end modal -->

<%= render :template => 'layouts/application' %>